@model dynamic
@{
    ViewBag.Title = "Cleanup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section WebPackBundles {

    <script src="/dist/cleanup.bundle.js"></script>
}
<script>
    $(document).ready(function() {
        initKnockout('@ViewBag.Baseurl');
    });
</script>

@await Html.PartialAsync("_DataExchangeMenu")

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>Cleanup</h2>
        <p>The Cleanup page shows data which is already deleted and was not modified for more than 12 month (before <span data-bind="text: beforeDate"></span>)</p>
    </div>
</div>

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h3>Devices</h3>
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input id="selectAllDevices" type="checkbox" disabled="">
                        <label for="selectAllDevices">Select All</label>
                    </span>

                </li>
            </ul>

            <ul class="button-group right">
                <li>
                    <button class="button alert inline icon-left" data-reveal-id="CleanupDevicesModal"><i class="fi-trash" aria-hidden="true"></i> Delete Selection</button>
                </li>
            </ul>
        </div>
        <img id="devicesProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' style="display: none; margin-left: 0.5rem; margin-top: 0.5rem;" alt="" />
        <table style="width: 100%;" class="data-table">
            <tbody data-bind="visible: devices">
                <tr>
                    <td style="width: 2.3125rem;">
                        <input type="checkbox" disabled="" checked="true" />
                    </td>
                    <td>
                        <span data-bind="text: devices"></span> devices
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h3>Org. Charts</h3>
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input id="selectAllOrgCharts" type="checkbox" data-bind="checked: selectAllOrgCharts">
                        <label for="selectAllOrgCharts">Select All</label>
                    </span>

                </li>
            </ul>

            <ul class="button-group right">
                <li>
                    <button class="button alert inline icon-left" data-reveal-id="CleanupOrgChartsModal"><i class="fi-trash" aria-hidden="true"></i> Delete Selection</button>
                </li>
            </ul>
        </div>
        <img id="orgChartsProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' style="display: none; margin-left: 0.5rem; margin-top: 0.5rem;" alt="" />
        <table style="width: 100%;" class="data-table">
            <tbody data-bind="foreach: orgCharts">
                <tr>
                    <td style="width: 2.3125rem;">
                        <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedOrgCharts" />
                    </td>
                    <td>
                        <span data-bind="text: $data.name"></span> <span style="padding-left: 0.75rem; padding-right: 0.75rem;">&gt;</span> <span data-bind="text: $data.texts"></span> Texts <span style="padding-left: 0.75rem; padding-right: 0.75rem;">&gt;</span> <span data-bind="text: $data.translations"></span> Translations
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h3>Orphaned Texts</h3>
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input id="selectAllTexts" type="checkbox" data-bind="checked: selectAllTexts">
                        <label for="selectAllTexts">Select All</label>
                    </span>

                </li>
            </ul>

            <ul class="button-group right">
                <li>
                    <button class="button alert inline icon-left" data-reveal-id="CleanupTextsModal"><i class="fi-trash" aria-hidden="true"></i> Delete Selection</button>
                </li>
            </ul>
        </div>
        <img id="textsProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' style="display: none; margin-left: 0.5rem; margin-top: 0.5rem;" alt="" />
        <table style="width: 100%;" class="data-table">
            <tbody data-bind="foreach: texts">
                <tr>
                    <td style="width: 2.3125rem;">
                        <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedTexts" />
                    </td>
                    <td>
                        <span data-bind="text: $data.name"></span> <span style="padding-left: 0.75rem; padding-right: 0.75rem;">&gt;</span> <span data-bind="text: $data.translations"></span> Translations
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="CleanupOrgChartsModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Clean up org. charts</h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to remove the selected org. entities from the database?
        <br />
        The data will be removed completely from the database and cannot be restored.
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Clean up" data-bind="click: cleanupOrgCharts" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="CleanupTextsModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Clean up texts</h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to remove the selected texts from the database?
        <br />
        The data will be removed completely from the database and cannot be restored.
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Clean up" data-bind="click: cleanupTexts" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="CleanupDevicesModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Clean up devices</h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to remove devices from the database that are inactive for more than 12 months?
        <br />
        The data will be removed completely from the database and cannot be restored.
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Clean up" data-bind="click: cleanupDevices" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>