@using Eurolook.ManagementConsole.Extensions
@model IEnumerable<Eurolook.Data.Models.DataPackage>
@{
    ViewBag.Title = "Snapshots";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section WebPackBundles {
    <script src="/dist/snapshots.bundle.js"></script>
}

<script>
    $(document).ready(function() {
        initKnockout('@ViewBag.Baseurl', @Html.Raw(Model.ToJson()));
    });
</script>

@await Html.PartialAsync("_DataExchangeMenu")

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>Snapshots</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <table style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <th scope="col">Created</th>
                    <th scope="col">Description</th>
                    <th scope="col">

                    </th>
                    <th scope="col">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: snapshots">
                <tr>
                    <td>
                        <span data-bind="text: $data.created"></span>
                    </td>
                    <td>
                        <span data-bind="text: $data.description"></span>
                    </td>
                    <td>
                        <span data-tooltip aria-haspopup="true" class="has-tip" data-bind="attr: { title: $data.report}">Info</span>
                    </td>
                    <td class="actions-col">
                        <a data-bind="click: $parent.restoreSnapshot.bind($parent, $data)" title="Restore the snapshot"><i class="fi-rewind-ten" aria-hidden="true"></i> Restore</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="restoreProgressBar" class="progressFullscreen">
    <img src='@Url.Content("~/Images/ajax-loader.gif")' alt="" />
    <p>Reverting Snapshot...</p>
    <p>This might take several minutes.</p>
</div>
