
@{
    ViewBag.Title = "Edit Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.Id;
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Notifications/NotificationsEditViewModel"],
            function(NotificationsEditViewModel) {
                ko.applyBindings(new NotificationsEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });

        $(function() {
            $("input[class=datepicker]").datetimepicker({
                format:'d.m.Y H:i'
            });
        });
    </script>
}

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2>Notification</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="name" type="text" data-bind="value: name" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Display Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="name" type="text" data-bind="value: displayName" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Content:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <textarea data-bind="value: content"></textarea>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">From Date:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" class="datepicker" data-bind="value: fromDateString" />
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">To Date:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" class="datepicker" data-bind="value: toDateString" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline" for="thumbnailFile">Thumbnail:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row collapse">
            <div class="small-7 columns">
                <span class="prefix" data-bind="text: thumbnailInfo()"></span>
            </div>
            <div class="small-3 columns">
                <input type="file" id="thumbnailFile" data-bind="event: { change: function() { choseThumbnailFile($element.files[0]) } }" class="hide">
                <a class="button postfix secondary" data-bind="click: chooseThumbnailFile"
                   title="Click to browse for a thumbnail.">
                    <i class="fi-folder" aria-hidden="true"></i>Change
                </a>
            </div>
            <div class="small-1 columns">
                <a class="button postfix secondary" data-bind="visible: hasThumbnail(), click: deleteThumbnail" title="Click to delete the thumbnail">
                    <i class="fi-trash" aria-hidden="true"></i>
                </a>
                <a class="button postfix secondary disabled" data-bind="visible: !hasThumbnail()">
                    <i class=" fi-trash" aria-hidden="true"></i>
                </a>
            </div>
            <div class="small-1 columns">
                <a class="button postfix secondary" data-bind="visible: hasThumbnail(), attr: { href: baseUrl() + '/Notifications/Thumbnail/'+ id }" title="Click to download the thumbnail.">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
                <a class="button postfix secondary disabled" data-bind="visible: !hasThumbnail()">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="row" data-bind="visible: hasThumbnail()">
            <div class="columns">
                <p>
                    <img style="border: 1px solid #cccccc; max-height: 200px" data-bind="attr: { src: thumbnailImage() }" alt="" />
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">MinVersion:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" data-bind="value: minVersion" />
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">MaxVersion:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" data-bind="value: maxVersion" />
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Priority:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="priority" data-bind="options: priorityOptions, optionsValue: 'id', optionsText: 'displayText', value: priority"></select>
        <label for="priority">The notification is displayed according to the colour scheme of the client. <br /> When choosing 'high', the notification is instead shown in bright orange colour. Low-priority notifications are shown in gray.</label>
        <br />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-2 large-2 columns">&nbsp;</div>
    <div class="medium-10 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="enable: !isSaving(), click: $root.save.bind($root)">Save</button>
        </div>
    </div>
</div>