@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <script src="/Scripts/require.js"></script>
}

@section scripts{
    <script>
        require(["Notifications/NotificationsIndexViewModel"],
            function(NotificationsIndexViewModel) {
                ko.applyBindings(new NotificationsIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            });
    </script>

    }

<div class="row ela-row ela-content-header">
    <div class="medium-6 columns">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="medium-6 columns">
        <div class="row collapse">
        </div>
    </div>
    
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectedAll" />
                    </span>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: selectedNotifications().length > 0" data-reveal-id="ExportModal"><i class="fi-download" aria-hidden="true"></i> Export <span data-bind="text: selectedNotifications().length"></span> notification(s)</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-reveal-id="CreateModal"><i class="fi-plus" aria-hidden="true"></i> New Notification</button>
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="large-12 columns">
        <table id="usersTable" style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'name')">Name</a>
                        <span data-bind="visible: orderProperty() == 'name'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'displayName')">Display Name</a>
                        <span data-bind="visible: orderProperty() == 'displayName'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'content')">Content</a>
                        <span data-bind="visible: orderProperty() == 'content'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col" style="width: 12rem">
                        <a data-bind="click: orderBy.bind($data, 'fromDateString')">From Date</a>
                        <span data-bind="visible: orderProperty() == 'fromDateString'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col" style="width: 12rem">
                        <a data-bind="click: orderBy.bind($data, 'toDateString')">To Date</a>
                        <span data-bind="visible: orderProperty() == 'toDateString'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col" style="width: 10rem">Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: notifications">
                <tr>
                    <td>
                        <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedNotifications" />
                    </td>
                    <td>
                        <a data-bind="attr: { href: $parent.baseUrl() + '/Notifications/Edit/' + $data.id() }" title="Edit the notification">
                            <span data-bind="text: name" style="width: 1px; white-space: nowrap;"></span>
                        </a>
                    </td>
                    <td>
                        <a data-bind="attr: { href: $parent.baseUrl() + '/Notifications/Edit/' + $data.id() }" title="Edit the notification">
                            <span data-bind="text: displayName" style="width: 1px; white-space: nowrap;"></span>
                        </a>
                    </td>
                    <td>
                        <span data-bind="text: content"></span>
                    </td>
                    <td>
                        <span data-bind="text: fromDateString"></span>
                    </td>
                    <td>
                        <span data-bind="text: toDateString"></span>
                    </td>
                    <td class="actions-col">
                        <div data-bind="visible: $parent.tableMode()=='normal'">
                            <a data-bind="attr: { href: $parent.baseUrl() + '/Notifications/Edit/' + $data.id() }" title="Edit the function"><i class="fi-pencil" aria-hidden="true"></i> Edit</a>
                            <a data-bind="click: $parent.showDeleteModal.bind($parent, $data)"><i class="fi-x" aria-hidden="true"></i> Delete</a>
                        </div>
                        <div data-bind="visible: $parent.tableMode()=='deleted'">
                            <a data-bind="click: $parent.showReviveModal.bind($parent, $data)" title="Revive the function"><i class="fi-refresh" aria-hidden="true"></i> Revive</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <label>Page <span data-bind="text: pageNumber"></span> of <span data-bind="text: pageCount"></span></label>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Notification</h3>
    <a class="close-reveal-modal">&#215;</a>

    <input type="text" placeholder="Name of the notification" data-bind="value: newNotification" />

    <div class="button-bar">
        <input type="submit" class="button small" value="Create" data-bind="click: createNotification" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ExportModal" class="reveal-modal" data-reveal aria-labelledby="ExportModal" aria-hidden="true" role="dialog">
    <h3>New Export</h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Which dependencies do you want to export?</p>
    <table class="data-table" style="width: 100%" aria-label="Export dependencies">
        <tr>
            <td style="width: 16px">
                <input type="checkbox" disabled="disabled" checked="checked" />
            </td>
            <td colspan="3">Notifications</td>
        </tr>
    </table>
    <div class="button-bar">
        <button class="small icon-left" data-bind="click: downloadDataPackage"><i class="fi-download" aria-hidden="true"></i> Download</button>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to delete the notification?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteNotification" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ReviveModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Revive <span data-bind="text: reviveModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to revive the notification?
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Revive" data-bind="click: reviveNotification" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>