@model Guid
@{
    ViewBag.Title = "Edit Document Model";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["DocumentModels/DocumentModelsEditViewModel"],
            function(DocumentModelsEditViewModel) {
                ko.applyBindings(new DocumentModelsEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_DocumentModelMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2 data-bind="text: name()"></h2>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>General</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="name" data-bind="value: name, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline" for="templateFile">Template:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row collapse">
            <div class="small-8 columns">
                <span class="prefix" data-bind="text: templateInfo()"></span>
            </div>
            <div class="small-3 columns">
                <input type="file" id="templateFile" data-bind="event: { change: function() { choseTemplateFile($element.files[0]) } }" class="hide" accept=".dotx">
                <button class="button postfix secondary" data-bind="click: chooseTemplateFile, enable: !isReadOnlyMode()"
                        title="Click to browse for a template file.">
                    <i class="fi-folder" aria-hidden="true"></i>Change
                </button>
            </div>
            <div class="small-1 columns">
                <a class="button postfix secondary" data-bind="visible: hasTemplate(), attr: { href: baseUrl() + '/DocumentModels/Template/'+id }"
                   title="Click to download the template">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
                <a class="button postfix secondary disabled" data-bind="visible: !hasTemplate()">
                    <i class=" fi-download" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Languages:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="ela-checkbox-list">
            <ul data-bind="foreach: documentModelLanguages">
                <li>
                    <input type="checkbox" data-bind="checked: isSelected, attr: { id: languageId()}, enable: !$parent.isReadOnlyMode()" />
                    <label data-bind="text: languageName, attr: { for: languageId() }"></label>
                    <span data-bind="text: templateNiceName, attr: { title: templateName }"></span>
                    <input type="file" data-bind="event: { change: function() { $parent.setLanguageTemplateFile($data, $element.files[0]) } }" class="hide" accept=".dotx">
                    <a data-bind="attr: { style: hasTemplate() ? '' : 'color:#000' }, click: $parent.onLanguageTemplateFileClick.bind($parent, $element), visible: !$parent.isReadOnlyMode()"
                       title="Click to browse for a template file.">
                        <i class="fi-upload" aria-hidden="true"></i>
                    </a>
                    <a data-bind="visible: hasTemplate(), attr: { href: $root.baseUrl() + '/DocumentModels/LanguageTemplate/'+ $root.id + '/?languageId=' + languageId() }">
                        <i class="fi-download" title="Click to download the template file." aria-hidden="true"></i>
                    </a>
                    <a data-bind="visible: hasTemplate() && !$parent.isReadOnlyMode(), click: $data.delete">
                        <i class="fi-x" title="Click to delete the template file." aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Author Roles:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <table style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <td style="width: 32px"></td>
                    <td style="width: 200px">Role</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: documentModelAuthorRoles">
                <tr>
                    <td><input type="checkbox" data-bind="checked: isSelected, attr: { id: authorRoleId()}, enable: !$parent.isReadOnlyMode()" /></td>
                    <td><label data-bind="text: authorRoleName, attr: { for: authorRoleId() }"></label></td>
                    <td><input type="text" data-bind="value: description, enable: !$parent.isReadOnlyMode()" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Is Classic Document:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="isClassicDocumentCheckbox" type="checkbox" data-bind="checked: isClassicDocument, enable: !isReadOnlyMode()" />
        <label for="isClassicDocumentCheckbox">When enabling this option, documents will be created solely based on the uploaded template file. You cannot use Bricks or other modern Eurolook features.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Create Document Wizard</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Is Hidden:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="isHiddenCheckbox" type="checkbox" data-bind="checked: isHidden, enable: !isReadOnlyMode()" />
        <label for="isHiddenCheckbox">When enabling this option, the document will not be shown in the Create Document Wizard.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Hide Brick Chooser:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="hideBrickChooser" type="checkbox" data-bind="checked: hideBrickChooser, enable: !isReadOnlyMode() && !isHidden()" />
        <label for="hideBrickChooser">When enabling this option, users cannot enable/disable bricks in the Create Document Wizard.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="createDocumentWizardPages" class="right inline">Custom Wizard Pages:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="createDocumentWizardPages" data-bind="value: createDocumentWizardPages, enable: !isReadOnlyMode() && !isHidden()" />
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>User Interface</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="displayName" class="right inline">Display Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="displayName" data-bind="value: displayName, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="description" class="right inline">Description:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="description" data-bind="value: description, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="keywords" class="right inline">Keywords:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="keywords" data-bind="value: keywords, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="description" class="right inline">Category:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select name="categories" data-bind="options: categories, optionsValue: 'id', optionsText: 'name', value: selectedCategoryId, enable: !isReadOnlyMode()"></select>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="uiPositionIndex" class="right inline">Position Index:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="uiPositionIndex" name="uiPositionIndex" data-bind="value: uiPositionIndex, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="minVersion" class="right inline">Min. / Max. Version:</label>
    </div>
    <div class="medium-4 large-3 columns">
        <input type="text" id="minVersion" name="minVersion" data-bind="value: minVersion, enable: !isReadOnlyMode()" placeholder="Min. Version" />
    </div>
    <div class="medium-4 large-3 columns">
        <input type="text" id="maxVersion" name="maxVersion" data-bind="value: maxVersion, enable: !isReadOnlyMode()" placeholder="Max. Version" />
    </div>
    <div class="medium-1 large-4 columns"></div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline" for="previewFile">Default Preview:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row collapse">
            <div class="small-8 columns">
                <span class="prefix" data-bind="text: previewInfo()"></span>
            </div>
            <div class="small-3 columns">
                <input type="file" id="previewFile" data-bind="event: { change: function() { chosePreviewFile($element.files[0]) } }" class="hide" accept="image/jpeg, image/png">
                <button class="button postfix secondary" data-bind="click: choosePreviewFile, enable: !isReadOnlyMode()"
                        title="Click to browse for a preview image.">
                    <i class="fi-folder" aria-hidden="true"></i>Change
                </button>
            </div>
            <div class="small-1 columns">
                <a class="button postfix secondary" data-bind="visible: hasPreview(), attr: { href: baseUrl() + '/DocumentModels/Preview/'+id }"
                   title="Click to download the preview image.">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
                <a class="button postfix secondary disabled" data-bind="visible: !hasPreview()">
                    <i class=" fi-download" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <p>
                    <img style="border: 1px solid #cccccc;" data-bind="attr: { src: previewImage() }" alt="" />
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline" for="previewFile">Preview with Sample Text:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row collapse">
            <div class="small-8 columns">
                <span class="prefix" data-bind="text: previewWithSampleTextInfo()"></span>
            </div>
            <div class="small-3 columns">
                <input type="file" id="previewWithSampleTextFile" data-bind="event: { change: function() { chosePreviewWithSampleTextFile($element.files[0]) } }" class="hide" accept="image/jpeg, image/png">
                <button class="button postfix secondary" data-bind="click: choosePreviewWithSampleTextFile, enable: !isReadOnlyMode()"
                        title="Click to browse for a preview image.">
                    <i class="fi-folder" aria-hidden="true"></i>Change
                </button>
            </div>
            <div class="small-1 columns">
                <a class="button postfix secondary" data-bind="visible: hasPreviewWithSampleText(), attr: { href: baseUrl() + '/DocumentModels/PreviewWithSampleText/'+id }"
                   title="Click to download the preview image.">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
                <a class="button postfix secondary disabled" data-bind="visible: !hasPreviewWithSampleText()">
                    <i class=" fi-download" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="row" data-bind="visible: hasPreviewWithSampleText()">
            <div class="columns">
                <p>
                    <img style="border: 1px solid #cccccc;" data-bind="attr: { src: previewWithSampleTextImage() }" alt="" />
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">&nbsp;</div>
    <div class="medium-9 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: save, enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>
