@{
    ViewBag.Title = "Document Models";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["DocumentModels/DocumentModelsIndexViewModel"],
            (DocumentModelsIndexViewModel) => {
                ko.applyBindings(new DocumentModelsIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_DocumentModelMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>Document Models</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectedAll"/>
                    </span>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: selectedDocumentModels().length > 0" data-reveal-id="ExportModal"><i class="fi-download" aria-hidden="true"></i> Export <span data-bind="text: selectedDocumentModels().length"></span> Document Model(s)</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-reveal-id="CreateModal" data-bind="enable: !isReadOnlyMode()"><i class="fi-plus" aria-hidden="true"></i> New Document Model</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <img id="actionProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' style="display: none; margin-left: 0.5rem; margin-top: 0.5rem;" alt="" />
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <table style="width: 100%;" class="data-table">
            <thead>
            <tr>
                <th scope="col" style="width: 2.3125rem;"></th>
                <th scope="col">
                    <a data-bind="click: orderBy.bind($data, 'name')">Name</a>
                    <span data-bind="visible: orderProperty() == 'name'">
                        <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                        <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                    </span>
                </th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: documentModels">
            <tr>
                <td>
                    <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedDocumentModels"/>
                </td>
                <td>
                    <a data-bind="attr: { href: $parent.baseUrl() + '/DocumentModels/Edit/' + $data.id() }" title="Edit the document model">
                        <span data-bind="text: name"></span>
                    </a>
                    <span class="label secondary radius" data-bind="visible: isClassicDocument" style="margin-left: 12px">Classic Document</span>
                    <span class="label secondary radius" data-bind="visible: isHidden" style="margin-left: 12px">Hidden</span>
                </td>
                <td class="actions-col">
                    <div data-bind="visible: $parent.tableMode()=='normal'">
                        <a data-bind="attr: { href: $parent.baseUrl() + '/DocumentModels/Edit/' + $data.id() }" title="Edit the document model"><i class="fi-pencil" aria-hidden="true"></i> Edit</a>
                        <a data-bind="visible: !isClassicDocument(), attr: { href: $parent.baseUrl() + '/DocumentModels/Structure/' + $data.id() }" title="Edit the structure of the document model"><i class="fi-page-edit" aria-hidden="true"></i> Edit Structure</a>
                        <a data-bind="visible: !isClassicDocument(), attr: { href: $parent.baseUrl() + '/DocumentModels/MetadataDefinitions/' + $data.id() }" title="Edit the metadata definitions of the document model"><i class="fi-pricetag-multiple" aria-hidden="true"></i> Edit Metadata</a>
                        <a data-bind="visible: !isClassicDocument(), click: $parent.showCopyMetadataDefinitionModal.bind($parent, $data)" title="Copy the metadata definitions of the document model"><i class="fi-pricetag-multiple" aria-hidden="true"></i> Copy Metadata</a>
                        <a data-bind="click: $parent.showDeleteModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()"><i class="fi-x" aria-hidden="true"></i> Delete</a>
                    </div>
                    <div data-bind="visible: $parent.tableMode()=='deleted'">

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Document Model</h3>
    <a class="close-reveal-modal">&#215;</a>

    <input type="text" placeholder="Name of the Document Model" data-bind="value: newDocumentModelName"/>

    <div class="button-bar">
        <input type="submit" class="button small" value="Create" data-bind="click: createDocumentModel"/>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle()"></span></h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to delete the document model?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteDocumentModel"/>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="CopyMetadataModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Copy Metadata Definition of <span data-bind="text: copyMetadataDefinitionsModalTitle()"></span> to:</h3>
    <a class="close-reveal-modal">&#215;</a>

    <select data-bind="options: copyMetadataDefinitionsTargetDocumentModels, value: copyMetadataDefinitionsTargetDocumentModelId, optionsText: 'name', optionsValue: 'id'"></select>

    <p>Default values of existing metadata definitions will be retained.</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Copy" data-bind="click: copyMetadataDefinitions"/>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ExportModal" class="reveal-modal" data-reveal aria-labelledby="ExportModal" aria-hidden="true" role="dialog">
    <h3>New Export</h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Which dependencies do you want to export?</p>
    <table class="data-table" style="width: 100%">
        <tr>
            <td style="width: 16px">
                <input type="checkbox" disabled="disabled" checked />
            </td>
            <td colspan="3">Document Models (including categories and languages)</td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" id="includeStructures" data-bind="checked: includeStructures" />
            </td>
            <td colspan="2">
                <label for="includeStructures">Document Structure</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" id="includeBricks" data-bind="checked: includeBricks" />
            </td>
            <td>
                <label for="includeBricks">Bricks (including all dependencies)</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" id="includeDocumentModelMetadataDefinitions" data-bind="checked: includeDocumentModelMetadataDefinitions" />
            </td>
            <td colspan="2">
                <label for="includeDocumentModelMetadataDefinitions">Document Metadata</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" id="includeMetadataDefinitions" data-bind="checked: includeMetadataDefinitions" />
            </td>
            <td>
                <label for="includeMetadataDefinitions">Metadata Definitions</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" id="includeAuthorRoles" data-bind="checked: includeAuthorRoles" />
            </td>
            <td colspan="2">
                <label for="includeAuthorRoles">Author Roles (including mapping to document models)</label>
            </td>
        </tr>
    </table>

    <div class="button-bar">
        <button class="small icon-left" data-bind="click: downloadDataPackage"><i class="fi-download" aria-hidden="true"></i> Download</button>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>
