@using Eurolook.ManagementConsole.Extensions
@model Eurolook.ManagementConsole.ViewModels.DocumentModels.MetadataDefinitions.AssociatedMetadataDefinitionsViewModel
@{
    ViewBag.Title = "Document Model - Associated Metadata Definitions";
}
<script src="/Scripts/knockout-sortable.min.js"></script>
<script src="/ViewModels/DocumentModels/MetadataDefinitions/AssociatedMetadataDefinitionsViewModel.js"></script>
<script src="/ViewModels/CustomBindingHandlers/draggable.js"></script>
    <script>
    $(document).ready(function() {
        jQuery.ajaxSetup({ cache: false });
        ko.baseUrl = '@ViewBag.Baseurl';
        ko.viewModel = new AssociatedMetadataDefinitionsViewModel(@Html.Raw(Model.ToJson()), '@ViewBag.IsReadOnlyMode');
        ko.applyBindings(ko.viewModel);
        bindCtrlSave(ko.viewModel.save);
        ko.viewModel.loadMetadataDefinitionsAsync();

        // create drop areas
        $('.position-type-area')
            .droppable({
                accept: "#MetadataDefinitions li",
                activeClass: "on-drag",
                hoverClass: "before-drop",
                drop: function(event, ui) {
                    var definitionId = $(ui.draggable).attr('id');
                    ko.viewModel.addMetadataDefinition(definitionId);
                }
            });
    });
    </script>

@await Html.PartialAsync("~/Views/Shared/_DocumentModelMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2>Metadata Definitions of @ViewBag.DocumentModelName</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="column">

        <img id="structureProgress" src='@Url.Content("~/Images/ajax-loader.gif")' data-bind="visible: progressBarVisible" alt="" />

        <div class="position-type-area" data-bind="visible: metadataDefinitions().length > 0">
            <ul class="clearfix" data-bind="sortable: { data: associatedMetadataDefinitions, options: { placeholder: 'metadataDefinition' } }">
                <li class="metadata-definition">
                    <span data-bind="text: name(), attr: { title: name()  }" style="font-weight: bold; margin: 4px; padding: 4px"></span>
                    <span data-bind="text: '(' + displayName() + ')', attr: { title: displayName()  }"></span>
                    <div class="metadata-options">
                        <a data-bind="visible: !$parent.isReadOnlyMode(), attr: { href: ko.baseUrl + '/Metadata/MetadataDefinitions/Edit/' + metadataDefinitionId }" title="Edit the metadata definition">
                            <i class="fi-pencil" aria-hidden="true"></i>
                        </a>
                        <a data-bind="visible: !$parent.isReadOnlyMode(), click: $parent.deleteMetadataDefinition.bind($data)" title="Remove the metadata definition from this document model">
                            <i class="fi-x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div style="display: grid; column-gap: 20px; grid-template-columns: 3fr 2fr 100px; padding: 4px">
                        <label>Default Value:</label>
                        <span style="grid-row: 2;">
                            <span data-bind="if: isBoundToTermSet()">
                                <select data-bind="options: defaultValues(), optionsText: 'value', optionsValue: 'sharePointId', optionsCaption: 'No Default', value: defaultValue"></select>
                            </span>
                            <span data-bind="if: !isBoundToTermSet()">
                                <input type="text" data-bind="value: defaultValue, enable: !$parent.isReadOnlyMode()"/>
                            </span>
                        </span>
                        <label>Calculation Command Class Name:</label>
                        <input type="text" data-bind="enable: !$parent.isReadOnlyMode(), value: calculationCommandClassName" style="grid-row: 2;"/>
                        <label>Read Only:</label>
                        <select style="grid-row: 2;" data-bind="enable: !$parent.isReadOnlyMode(), options: $parent.readOnlyOverrideOptions, value: isReadOnlyOverride, optionsText:
                                function(item) {
                                    return item === null ? 'Inherited' : (item === true ? 'yes' : 'no')
                                }">
                        </select>
                    </div>
                    <div style="display: grid; padding: 0 4px 0 4px">
                        <label style="grid-row: 1" data-bind="visible: isReadOnlyOverride">Editable by:</label>
                        <table style="grid-row: 2" data-bind="visible: isReadOnlyOverride" class="data-table" aria-label="User groups and their description">
                            <thead>
                                <tr>
                                    <td style="width: 32px"></td>
                                    <td style="width: 200px">User Group</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: allUserGroupDataModels">
                                <tr>
                                    <td><input type="checkbox" data-bind="checked: isSelected, attr: { id: id}, enable: !$parent.isReadOnlyMode()" /></td>
                                    <td><label data-bind="text: name, attr: { for: id }"></label></td>
                                    <td><label data-bind="text: description, attr: { for: id }"></label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="row ela-row">
    <div class="medium-2 columns">&nbsp;</div>
    <div class="medium-10 column">
        <div class="button-bar right">
            <button class="button small secondary" data-bind="click: cancel">Cancel</button>
            <button class="button small" data-bind="enable: !isReadOnlyMode(), click: save">Save</button>
        </div>
    </div>
</div>

@section sidebar {

    <div class="sticky-header" style="height: 150px;">
        <div class="row ela-content-header">
            <div class="column">
                <h4>Metadata Definitions</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <input id="searchTextbox" type="search" placeholder="Search..." autocomplete="off" data-bind="textInput: searchTerm"/>
                <img id="brickProgress" src='@Url.Content("~/Images/ajax-loader.gif")' data-bind="visible: progressBarVisible" alt="" />
            </div>
        </div>
    </div>
    <div class="scrollable-y">
        <div style="padding: 0.9375rem; padding-top: 150px;">
            <ul id="MetadataDefinitions" data-bind="foreach: filteredMetadataDefinitions" class="draggable">
                <li data-bind="attr: { id: id }, draggable" class="draggable-metadata-definition">
                    <span data-bind="text: name, attr: { title: name }" style="font-weight: bold;"></span>
                    <br/>
                    <span data-bind="text: '(' + displayName + ')', attr: { title: displayName  }"></span>
                </li>
            </ul>
        </div>
    </div>
}