@using Eurolook.ManagementConsole.Extensions
@model Eurolook.ManagementConsole.ViewModels.DocumentModels.DocumentModelsStructureViewModel
@{
    ViewBag.Title = "Document Model Structure";
}

@section head {
    <script src="/Scripts/knockout-sortable.min.js"></script>
    <script src="/ViewModels/DocumentModels/DocumentStructureViewModel.js"></script>
    <script src="/ViewModels/DocumentModels/DocumentModelsStructureViewModel.js"></script>
}

@section scripts {
    <script>
        $(document).ready(function() {

            ko.baseUrl = '@ViewBag.Baseurl';
            const isReadOnlyStr = '@ViewBag.IsReadOnlyMode';
            var isReadOnlyMode = (isReadOnlyStr === 'true' || isReadOnlyStr === 'True');
            ko.viewModel = new DocumentModelsStructureViewModel(@Html.Raw(Model.ToJson()));
            ko.viewModel.isReadOnlyMode(isReadOnlyMode);
            if (!isReadOnlyMode) {
                ko.bindingHandlers.sortable.afterMove = function(args) {
                    ko.viewModel.reindex(args.sourceParent);
                    ko.viewModel.reindex(args.targetParent);
                }
            }

            ko.applyBindings(ko.viewModel);
            bindCtrlSave(ko.viewModel.save);

            if (!isReadOnlyMode) {

                // load the bricks and make them draggable
                ko.viewModel.loadBricksAsync("",
                    function() {
                        $('#StructureBricks li.draggable-brick')
                            .draggable({ revert: true, cursor: 'move', helper: 'clone', disabled: isReadOnlyMode });
                    });

                // create drop areas
                $('.position-type-area')
                    .droppable({
                        accept: "#StructureBricks li",
                        activeClass: "on-drag",
                        hoverClass: "before-drop",
                        drop: function(event, ui) {
                            var brickId = $(ui.draggable).attr('id');
                            var brickName = $(ui.draggable).children('span').text();
                            var listBinding = $(event.target).children('ul').attr('data-bind');
                            ko.viewModel.addStructure(brickId, brickName, listBinding);
                        }
                    });

                // register events
                $('#searchTextbox')
                    .bind('input',
                        function() {
                            window.clearTimeout(ko.viewModel.searchTimer);
                            ko.viewModel.searchTimer = window.setTimeout(function() {
                                    ko.viewModel.loadBricksAsync($('#searchTextbox').val(),
                                        function() {
                                            $('#StructureBricks li.draggable-brick')
                                                .draggable({ revert: true, cursor: 'move', helper: 'clone', disabled: isReadOnlyMode });
                                        });
                                },
                                300);
                        });

                // register events when brickGroupFilter is clicked
                $('#brickGroupFilter').bind('change', function(){
                    window. clearTimeout(ko.viewModel.searchTimer);
                        ko.viewModel.loadBricksAsync($('#searchTextbox').val(),
                            function() {
                                $('#StructureBricks li.draggable-brick')
                                    .draggable({ revert: true, cursor: 'move', helper: 'clone', disabled: isReadOnlyMode });
                            });
                });
            }
        });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_DocumentModelMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2>Bricks of @ViewBag.DocumentModelName</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="column">

        <img id="structureProgress" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />

        <h3>Cursor and Command Bricks <span style="font-size: small">(sorted alphabetically)</span></h3>
        <div class="position-type-area">
            <ul class="clearfix" data-bind="sortable: { data: cursorStructures, options: { placeholder: 'struct-placeholder' } }">
                <li data-bind="attr: { id: structureId }" class="struct">
                    <span class="struct-label" data-bind="text: name, attr: {title: name }"></span>
                    <div class="struct-options">
                        <a data-bind="attr: { href: ko.baseUrl + '/Bricks/Edit/' + brickId() }" title="Edit the brick">
                            <i class="fi-pencil" aria-hidden="true"></i>
                        </a>
                        <a data-bind="click: $parent.deleteStructure.bind($parent, $data, 'cursorStructures'), visible: !$parent.isReadOnlyMode()" title="Remove the brick from this document model">
                            <i class="fi-x" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <h3>Headers</h3>
        <div class="position-type-area">
            <ul class="clearfix" data-bind="sortable: { data: headerStructures, options: { placeholder: 'struct-placeholder' } }">
                <li data-bind="attr: { id: structureId }" class="struct">
                    <span class="struct-pos" data-bind="text: positionIndex"></span>
                    <input type="checkbox" data-bind="checked: isAuto, visible: isAutomatable, enable: !$parent.isReadOnlyMode()" title="Insert by default"/>
                    <span class="struct-label struct-label-narrow" data-bind="text: name, attr: {title: name }"></span>

                    <div class="struct-options">
                        <span class="position-toggle-bar">
                            <input type="checkbox" data-bind="checked: isFirstPage, enable: !$parent.isReadOnlyMode()" title="First Page"/>
                            <input type="checkbox" data-bind="checked: isOddPages, enable: !$parent.isReadOnlyMode()" title="Odd Pages"/>
                            <input type="checkbox" data-bind="checked: isEvenPages, enable: !$parent.isReadOnlyMode()" title="Even Pages"/>
                        </span>
                        <a data-bind="attr: { href: ko.baseUrl + '/Bricks/Edit/' + brickId() }" title="Edit the brick">
                            <i class="fi-pencil" aria-hidden="true"></i>
                        </a>
                        <a data-bind="click: $parent.deleteStructure.bind($parent, $data, 'headerStructures'), visible: !$parent.isReadOnlyMode()" title="Remove the brick from this document model">
                            <i class="fi-x" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <h3>Before Body</h3>
        <div class="position-type-area">
            <ul class="clearfix" data-bind="sortable: { data: beginStructures, options: { placeholder: 'struct-placeholder' } }">
                <li data-bind="attr: { id: structureId }" class="struct">
                    <span class="struct-pos" data-bind="text: positionIndex"></span>
                    <input type="checkbox" data-bind="checked: isAuto, visible: isAutomatable, enable: !$parent.isReadOnlyMode()" title="Insert by default"/>
                    <span class="struct-label" data-bind="text: name, attr: {title: name }"></span>

                    <div class="struct-options">
                        <a data-bind="attr: { href: ko.baseUrl + '/Bricks/Edit/' + brickId() }" title="Edit the brick">
                            <i class="fi-pencil" aria-hidden="true"></i>
                        </a>
                        <a data-bind="click: $parent.deleteStructure.bind($parent, $data, 'beginStructures'), visible: !$parent.isReadOnlyMode()" title="Remove the brick from this document model">
                            <i class="fi-x" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <h3>Body</h3>
        <div class="position-type-area">
            <ul class="clearfix" data-bind="sortable: { data: bodyStructures, options: { placeholder: 'struct-placeholder' } }">
                <li data-bind="attr: { id: structureId }" class="struct">
                    <span class="struct-pos" data-bind="text: positionIndex"></span>
                    <span class="struct-label struct-label-medium" data-bind="text: name, attr: {title: name }"></span>

                    <div class="struct-options">
                        <a class="struct-body-options" data-dropdown="dropCreationType" aria-controls="dropCreationType" aria-expanded="false"
                           data-bind="attr: { 'data-dropdown': 'dropCreationType-' + key() }">
                            <span>
                                <i class="fi-widget" aria-hidden="true"></i>
                            </span><span data-bind="style: { color: autoBrickCreationColor }" style="font-weight: bold;">*</span>
                        </a>
                        <div id="dropCreationType" class="f-dropdown large content" data-dropdown-content aria-hidden="true" tabindex="-1"
                             data-bind="attr: { 'id': 'dropCreationType-' + key() }, click: closeDropDown">

                            <label>Choose when to insert this brick during document creation:</label>
                            <ul>
                                <li>
                                    <input type="radio" name="creationType" value="creationNone" id="creationNone" data-bind="attr: { 'name': 'creationType-' + key(), 'id': autoBrickCreationTypeKey(0) }, checked: autoBrickCreationTypeValue">
                                    <label data-bind="attr: { 'for' : autoBrickCreationTypeKey(0) }">
                                        <span>
                                            <span></span>
                                        </span>Insert by default
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="creationType" value="creationAlways" id="creationAlways" data-bind="attr: { 'name': 'creationType-' + key(), 'id': autoBrickCreationTypeKey(1)  }, checked: autoBrickCreationTypeValue">
                                    <label data-bind="attr: { 'for' : autoBrickCreationTypeKey(1) }">
                                        <span>
                                            <span></span>
                                        </span>Don't insert by default
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="creationType" value="creationSimpleContent" id="creationSimpleContent" data-bind="attr: { 'name': 'creationType-' + key(), 'id': autoBrickCreationTypeKey(2)  }, checked: autoBrickCreationTypeValue">
                                    <label data-bind="attr: { 'for' : autoBrickCreationTypeKey(2) }">
                                        <span>
                                            <span></span>
                                        </span>Insert when no rich body content
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="creationType" value="creationRichContent" id="creationRichContent" data-bind="attr: { 'name': 'creationType-' + key(), 'id': autoBrickCreationTypeKey(3) }, checked: autoBrickCreationTypeValue">
                                    <label data-bind="attr: { 'for' : autoBrickCreationTypeKey(3) }">
                                        <span>
                                            <span></span>
                                        </span>Is rich body content
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <a data-bind="attr: { href: ko.baseUrl + '/Bricks/Edit/' + brickId() }" title="Edit the brick">
                            <i class="fi-pencil" aria-hidden="true"></i>
                        </a>
                        <a data-bind="click: $parent.deleteStructure.bind($parent, $data, 'bodyStructures'), visible: !$parent.isReadOnlyMode()" title="Remove the brick from this document model">
                            <i class="fi-x" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <h3>After Body</h3>
        <div class="position-type-area">
            <ul class="clearfix" data-bind="sortable: { data: endStructures, options: { placeholder: 'struct-placeholder', } }">
                <li data-bind="attr: { id: structureId }" class="struct" style="line-height: 28px;">
                    <span class="struct-pos" data-bind="text: positionIndex"></span>
                    <input type="checkbox" data-bind="checked: isAuto, visible: isAutomatable, enable: !$parent.isReadOnlyMode()" title="Insert by default"/>
                    <span class="struct-label" data-bind="text: name, attr: {title: name }"></span>

                    <div class="struct-options">
                        <a data-bind="attr: { href: ko.baseUrl + '/Bricks/Edit/' + brickId() }" title="Edit the brick">
                            <i class="fi-pencil" aria-hidden="true"></i>
                        </a>
                        <a data-bind="click: $parent.deleteStructure.bind($parent, $data, 'endStructures'), visible: !$parent.isReadOnlyMode()" title="Remove the brick from this document model">
                            <i class="fi-x" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <h3>Footers</h3>
        <div class="position-type-area">
            <ul class="clearfix" data-bind="sortable: { data: footerStructures, options: { placeholder: 'struct-placeholder' } }">
                <li data-bind="attr: { id: structureId }" class="struct">
                    <span class="struct-pos" data-bind="text: positionIndex"></span>
                    <input type="checkbox" data-bind="checked: isAuto, visible: isAutomatable, enable: !$parent.isReadOnlyMode()" title="Insert by default"/>
                    <span class="struct-label struct-label-narrow" data-bind="text: name, attr: {title: name }"></span>

                    <div class="struct-options">
                        <span class="position-toggle-bar">
                            <input type="checkbox" data-bind="checked: isFirstPage, enable: !$parent.isReadOnlyMode()" title="First Page"/>
                            <input type="checkbox" data-bind="checked: isOddPages, enable: !$parent.isReadOnlyMode()" title="Odd Pages"/>
                            <input type="checkbox" data-bind="checked: isEvenPages, enable: !$parent.isReadOnlyMode()" title="Even Pages"/>
                        </span>
                        <a data-bind="attr: { href: ko.baseUrl + '/Bricks/Edit/' + brickId() }" title="Edit the brick">
                            <i class="fi-pencil" aria-hidden="true"></i>
                        </a>
                        <a data-bind="click: $parent.deleteStructure.bind($parent, $data, 'footerStructures'), visible: !$parent.isReadOnlyMode()" title="Remove the brick from this document model">
                            <i class="fi-x" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">&nbsp;</div>
    <div class="medium-9 large-10 column">
        <div class="button-bar right">
            <button class="button small" data-bind="click: save, enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>

@section sidebar {

    <div class="sticky-header" style="height: 180px;">
        <div class="row ela-content-header">
            <div class="column">
                <h4>Bricks</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img id="brickProgress" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
                <input id="searchTextbox" type="search" data-bind="enable: !isReadOnlyMode()" placeholder="Search..." autocomplete="off" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <input type="checkbox" id="brickGroupFilter" name="brickGroupFilter" data-bind="checked: filteredByBrickGroups, enable: !isReadOnlyMode()" />
                <label for="brickGroupFilter" style="display: inline;" title="Search for bricks in brick groups."> Filter by brick groups</label>
            </div>
        </div>
    </div>
    <div class="scrollable-y">
        <div style="padding: 0.9375rem; padding-top: 180px;">
            <ul id="StructureBrickGroups" class="draggable" data-bind="foreach: brickGroups">
                <li data-bind="attr: { id: id, title: name }" class="header-draggable-bricks">
                    <span data-bind="text: name"></span>
                    </li>
                <li>
                    <ul id="StructureBricks" data-bind="foreach: members" class="draggable">
                        <li data-bind="attr: { id: id, title: name }" class="draggable-brick">
                            <span data-bind="text: name"></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
}