@{
    ViewBag.Title = "System Configuration";
}

@section WebPackBundles {

}

<div id="root" data-baseUrl="@ViewBag.BaseUrl" data-isReadOnlyMode="@ViewBag.IsReadOnlyMode"></div>

<script src="/dist/system.configuration.bundle.js"></script>