@model Guid
@{
    ViewBag.Title = "Edit Author";
    Layout = ViewBag.Layout;
    var id = Model;
}

@section head {
    <style>
        .publicContainer {
            width: 1080px !important;
        }

        .publicContainer .panel {
            background-color: #1f83cd;
            border: 0;
        }

        .publicContainer .button-bar {
            margin-top: 2rem;
        }
    </style>
    <link href="/jstree_themes/default/style.min.css" rel="stylesheet"/>
    <script src="/Scripts/jstree.js"></script>
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Authors/AuthorEditViewModel"],
            function(AuthorEditViewModel) {
                ko.applyBindings(new AuthorEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2>Author</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Personal Details</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="latinFirstName" class="right inline">
            Latin Name
            <span data-tooltip aria-haspopup="true" class="has-tip" title="This field is required">*</span>:
        </label>
    </div>
    <div class="medium-4 large-5 columns">
        <input id="latinFirstName" type="text" data-bind="value: latinFirstName" placeholder="First Name"/>
    </div>
    <div class="medium-5 large-5 columns">
        <input type="text" data-bind="value: latinLastName" placeholder="Last Name"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="greekFirstName" class="right inline">Greek Name:</label>
    </div>
    <div class="medium-4 large-5 columns">
        <input id="greekFirstName" type="text" data-bind="value: greekFirstName" placeholder="First Name"/>
    </div>
    <div class="medium-5 large-5 columns">
        <input type="text" data-bind="value: greekLastName" placeholder="Last Name"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="cyrillicFirstName" class="right inline">Cyrillic Name:</label>
    </div>
    <div class="medium-4 large-5 columns">
        <input id="cyrillicFirstName" type="text" data-bind="value: cyrillicFirstName" placeholder="First Name"/>
    </div>
    <div class="medium-5 large-5 columns">
        <input type="text" data-bind="value: cyrillicLastName" placeholder="Last Name"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="gender" class="right inline">
            Form of Address:
        </label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="gender" data-bind="options: formOfAddressItems, optionsValue: 'value', optionsText: 'displayName', value: gender"></select>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="email" class="right inline">Email:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="email" type="text" data-bind="value: email"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="initials" class="right inline">
            Initials
            <span data-tooltip aria-haspopup="true" class="has-tip" title="This field is required">*</span>:
        </label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="initials" type="text" data-bind="value: initials"/>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Job Assignments</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Job Assignments:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row" data-bind="foreach: jobAssignments">
            <div class="@ViewBag.JobAssignmentStyle">
                <div class="panel" data-bind="visible: isDeleted() == false">
                    <div class="row">
                        <div class="medium-2 columns">
                            <label for="service" class="right inline">
                                Entity <span data-tooltip aria-haspopup="true" class="has-tip" title="This field is required">*</span>:
                            </label>
                        </div>
                        <div class="medium-10 columns">
                            <div id="tree" class="panel" style="height: 200px; margin: 0 0 1rem 0; overflow: scroll;"
                                 data-bind="attr: { id: id + '_tree' }">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">
                            <label for="service" class="right inline">
                                Acronym
                                <span data-tooltip aria-haspopup="true" class="has-tip" title="This field is required">
                                    *
                                </span>:
                            </label>
                        </div>
                        <div class="medium-10 columns">
                            <input id="service" type="text" data-bind="value: service" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">
                            <label for="preDefFunc" class="right inline">Function:</label>
                        </div>
                        <div class="medium-10  columns">
                            <select id="preDefFunc" data-bind="options: $parent.predefinedFunctions, optionsValue: 'id', optionsText: 'name', value: predefinedFunctionId"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">
                            <span>&nbsp;</span>
                        </div>
                        <div class="medium-3  columns">
                            <select name="languageBox" data-bind="options: languages, optionsValue: 'id', optionsText: 'name', value: selectedLanguageId, enable: isFunctionControlEnabled"></select>
                        </div>
                        <div class="medium-7 columns">
                            <input type="text" data-bind="value: functionText, enable: isFunctionControlEnabled" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">
                            <label for="webAddress" class="right inline">Website:</label>
                        </div>
                        <div class="medium-10 columns">
                            <input id="webAddress" type="text" data-bind="value: webAddress" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">
                            <label for="functionalMailbox" class="right inline">Functional Mailbox:</label>
                        </div>
                        <div class="medium-10 columns">
                            <input id="functionalMailbox" type="text" data-bind="value: functionalMailbox" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">
                        </div>
                        <div class="medium-10 columns">
                            <button data-bind="click: $parent.deleteJobAssignment, visible: canDelete"
                                    class="button secondary inline icon-left right" style="margin: 0;"
                                    title="Remove this Job Assignment">
                                <i class="fi-trash" aria-hidden="true"></i> Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <a class="button secondary inline icon-left"
                   title="Add a new Job Assignment"
                   data-bind="click: createNewJobAssignment">
                    <i class="fi-plus" aria-hidden="true"></i>Add New Job
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Workplaces</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Workplaces:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row" data-bind="foreach: workplaces">
            <div class="@ViewBag.JobAssignmentStyle">
                <div class="panel">
                    <div class="row">
                        <div class="medium-2 columns">
                            <label for="address" class="right inline">Address:</label>
                        </div>
                        <div class="medium-10 columns">
                            <select id="address" data-bind="options: $parent.addresses, optionsValue: 'id', optionsText: 'name', value: addressId"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">
                            <label for="office" class="right inline">Office:</label>
                        </div>
                        <div class="medium-10 columns">
                            <input id="office" type="text" data-bind="value: office"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">
                            <label for="phone" class="right inline">Phone:</label>
                        </div>
                        <div class="medium-10 columns">
                            <div class="row collapse">
                                <div class="medium-5 columns">
                                    <span class="prefix" data-bind="text: phonePrefix"></span>
                                </div>
                                <div class="medium-7 columns">
                                    <input id="phone" type="text" data-bind="value: phone"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">
                            <label for="fax" class="right inline">Fax:</label>
                        </div>
                        <div class="medium-10 columns">
                            <div class="row collapse">
                                <div class="medium-5 columns">
                                    <span class="prefix" data-bind="text: phonePrefix"></span>
                                </div>
                                <div class="medium-7 columns">
                                    <input id="fax" type="text" data-bind="value: fax"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">
                            <span>&nbsp;</span>
                        </div>
                        <div class="medium-10 columns">
                            <input type="checkbox" data-bind="checked: isPrimaryWorkplace, attr: { id: 'isPrimaryWorkplace' + $index() }"/>
                            <label data-bind="attr: { for: 'isPrimaryWorkplace' + $index() }">Is primary workplace.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Linked Accounts</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="sharePointAccountId" class="right inline">SharePoint Account Id:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="sharePointAccountId" type="number" data-bind="value: sharePointAccountId"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="sharePointLoginName" class="right inline">SharePoint Login Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="sharePointLoginName" type="text" data-bind="value: sharePointLoginName"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-2 large-2 columns">&nbsp;</div>
    <div class="medium-10 large-10 column">
        <div class="button-bar left">
            <a class="@ViewBag.SaveButtonStyle" data-bind="enable: !isSaving(), click: save">Save</a>
        </div>
    </div>
</div>
