@{
    ViewBag.Title = "TermStore Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Metadata/TermStoreViewModel"],
            function(TermStoreViewModel) {
                ko.applyBindings(new TermStoreViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("_MetadataMenu")

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>SharePoint Term Store</h2>
    </div>
</div>


<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <a data-bind="attr: { href: apiEndpointUrl() + '/Export' }" class="button small icon-left"><i class="fi-download" aria-hidden="true"></i> Export Term Store File</a>
                </li>
            </ul>
       
            <input type="file" id="termStoreFileImport" data-bind="event: { change: function() { importTermStoreFile($element.files[0]); } }" class="hide">
            <ul class="button-group">
                <li>
                    <a class="button small icon-left" data-bind="click: function() { $('#termStoreFileImport').click(); }" title="Click to browse for a Term Store XML file.">
                        <i class="fi-upload" aria-hidden="true"></i> Import XML Term Store File
                    </a>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <img id="actionProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' style="display: none; margin-left: 0.5rem; margin-top: 0.5rem;" alt="" />
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <label class="inline" data-bind="text: 'Last import: ' + termStoreModificationTime()"></label>
    </div>
</div>