@import 'colors.scss';

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 12px;
    font-family: Segoe UI;
    height: 100%;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  width: #{$sidebar-width}px;
  height: 100%;
  align-items: flex-start;
  background-color: $sidebar-color;
  background-image: url('~resources/Logo.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;

  .nav {
    width: 100%;
  }

  .nav-item {
    color: #fff;

    .nav-link {
      color: #fff;
      padding: 0 0 0 20px;
      height: 35px;
      line-height: 35px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover, &:not(:disabled):not(.disabled):active {
        color: #fff;
        background-color: $sidebar-color-accent;
        transition: none;
      }

      &:focus {
        color: #fff;
        background-color: $sidebar-color;
      }
    }

    a:hover {
      text-decoration: none;
    }

    button {
      background-color: transparent;
      width: 100%;
      text-align: left;
      border: 0;
    }
  }

  .active {
    background-color: #339AB1 !important;
    color: #fff !important;
    border-left: 2px solid #fff;
    padding-left: 18px !important;
  }

  .sidebar-header {
    font-family: Segoe UI;
    font-weight: 200;
    font-size: 18px;
    line-height: 56px;
    height: 56px;
    padding-left: 20px;
  }

  .sidebar-icon {
    font-size: 20px;
    margin-right: 8px;
    margin-bottom: 5px;
    width: 20px;
  }

  svg path {
    fill: white;
  }

  #UserInfo {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: Segoe UI;
    font-weight: 300;
    font-size: 14px;
  }

  .sidebar-footer {
    align-self: flex-end;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    > div {
      margin-left: 20px;
    }
  }
}
