@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        require(["Home/HomeIndexViewModel"],
// ReSharper disable once InconsistentNaming
            function(HomeIndexViewModel) {
                ko.applyBindings(new HomeIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

<style>
    .shortcut-row {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
        align-items: center;
        align-content: center;
    }

    .shortcut-button {
        width: 16em;
        height: 100%;
        display: grid;
        align-content: space-evenly;
        justify-content: center;
    }

    .color0 .shortcut-button {
        background: #145b9b;
    }

    .color1 .shortcut-button {
        background: #0091a8;
    }

    .color2 .shortcut-button {
        background: #3399ff;
    }
</style>

<img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />

<div data-bind="visible: shortcutCategories().length > 0,foreach: shortcutCategories">
    <div class="row ela-row ela-content-header">
        <h2><span data-bind="text: name"></span></h2>
    </div>
    <div class="row ela-row">
        <div class="shortcut-row" data-bind="css: 'color' + ($index() % 3),foreach: $data.shortcuts">
            <a class="button radius shortcut-button" data-bind="attr: { href: $root.convertToUrl($data.target) }"> <span data-bind="text: name"></span></a>
        </div>
    </div>
</div>
