@model Guid
@{
    ViewBag.Title = "Edit Brick Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["BrickGroups/BrickGroupsEditViewModel"],
            function(BrickGroupsEditViewModel) {
                ko.applyBindings(new BrickGroupsEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_BricksMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2><span data-bind="text: name"></span> Brick Group</h2>
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>General</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="name" data-bind="value: name, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Used by document model:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <ul class="clearfix document-models" data-bind="foreach: documentModels">
            <li data-bind="attr: { id: id }" class="document-models">
                <span class="struct-label struct-label-narrow" data-bind="text: name, attr: {title: name }"></span>
                <a data-bind="attr: { href: $parent.baseUrl() + '/DocumentModels/Edit/' + $data.id }" title="Edit the document model">
                    <i class="fi-pencil" aria-hidden="true"></i>
                </a>
                <a data-bind="attr: { href: $parent.baseUrl() + '/DocumentModels/Structure/' + $data.id }" title="Edit the structure of the document model">
                    <i class="fi-page-edit" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="isMultipleChoice" class="right inline">Allow multiple choices:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="isMultipleChoice" type="checkbox" data-bind="checked: isMultipleChoice, enable: !isReadOnlyMode()"/> <label for="isMultipleChoice">Users can insert more than one brick of this group in a document.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="membersSelectBox" class="right inline">Members:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="membersSelectBox" size="10" style="height: 120px" data-bind="options: members, optionsText: function(member) { return member.uiPositionIndex() + ' - ' + member.name() }, enable: !isReadOnlyMode()"></select>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>User Interface</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="displayName" class="right inline">Display Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="displayName" name="displayName" data-bind="value: displayName, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="description" class="right inline">Description/Tooltip:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <textarea id="description" name="description" data-bind="value: description, enable: !isReadOnlyMode()"></textarea>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="acronym" class="right inline">Acronym:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="acronym" name="acronym" data-bind="value: acronym, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="uiPositionIndex" class="right inline">Position Index:</label>
    </div>
    <div class="medium-5 large-5 columns">
        <input type="text" id="uiPositionIndex" name="uiPositionIndex" data-bind="value: uiPositionIndex, enable: !isReadOnlyMode()"/>
    </div>
    <div class="medium-4 large-5 columns">
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="colorLuminance" class="right inline">Appearance:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="colorLuminance" data-bind="options: luminanceValues, optionsValue: 'value', optionsText: 'name', value: colorLuminance, enable: !isReadOnlyMode()"></select>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline" for="iconFile">Icon:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row collapse">
            <div class="small-7 columns">
                <span class="prefix" data-bind="text: iconInfo()"></span>
            </div>
            <div class="small-3 columns">
                <input type="file" id="iconFile" data-bind="event: { change: function() { choseIconFile($element.files[0]) } }" class="hide">
                <button class="button postfix secondary" data-bind="click: chooseIconFile, enable: !isReadOnlyMode()"
                   title="Click to browse for a icon.">
                    <i class="fi-folder" aria-hidden="true"></i>Change
                </button>
            </div>
            <div class="small-1 columns">
                <button class="button postfix secondary" data-bind="visible: hasIcon(), click: deleteIcon, enable: !isReadOnlyMode()" title="Click to delete the icon">
                    <i class="fi-trash" aria-hidden="true"></i>
                </button>
                <button class="button postfix secondary disabled" data-bind="visible: !hasIcon()">
                    <i class="fi-trash" aria-hidden="true"></i>
                </button>
            </div>
            <div class="small-1 columns">
                <a class="button postfix secondary" data-bind="visible: hasIcon(), attr: { href: baseUrl() + '/BrickGroups/Icon/' + id }" title="Click to download the icon.">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
                <a class="button postfix secondary disabled" data-bind="visible: !hasIcon()">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <p>
                    <img class="ela-icon" data-bind="attr: { src: iconImage() }" alt=""/>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-2 large-2 columns">&nbsp;</div>
    <div class="medium-10 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: save, enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>