@{
    ViewBag.Title = "Brick Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["BrickGroups/BrickGroupsIndexViewModel"],
            function(BrickGroupsIndexViewModel) {
                ko.applyBindings(new BrickGroupsIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_BricksMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>Brick Groups</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <div class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectAll"/>
                    </div>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-reveal-id="CreateModal" data-bind="enable: !isReadOnlyMode()"><i class="fi-plus" aria-hidden="true"></i> New Brick Group</button>
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <img id="progressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <table style="width: 100%;" class="data-table">
            <thead>
            <tr>
                <th scope="col" style="width: 2.3125rem;"></th>
                <th scope="col">
                    <a data-bind="click: orderBy.bind($data, 'name')">Name</a>
                    <span data-bind="visible: orderProperty() == 'name'">
                        <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                        <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                    </span>
                </th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: brickGroups">
            <tr>
                <td>
                    <input type="checkbox" data-bind="checked: isSelected"/>
                </td>
                <td>
                    <a data-bind="attr: { href: $parent.baseUrl() + '/BrickGroups/Edit/' + $data.id() }" title="Edit the brick group">
                        <span data-bind="text: $data.name"></span>
                    </a>
                </td>
                <td class="actions-col">
                    <div data-bind="visible: $parent.tableMode()=='normal'">
                        <a data-bind="attr: { href: $parent.baseUrl() + '/BrickGroups/Edit/' + $data.id() }" title="Edit the brick group"><i class="fi-pencil" aria-hidden="true"></i> Edit</a>
                        <a data-bind="click: $parent.showDeleteModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()" title="Delete the brick group"><i class="fi-trash" aria-hidden="true"></i> Delete</a>
                    </div>
                    <div data-bind="visible: $parent.tableMode()=='deleted'">

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Brick Group</h3>
    <a class="close-reveal-modal">&#215;</a>

    <input type="text" placeholder="Name of the brick group" data-bind="value: newGroupName"/>

    <div class="button-bar">
        <input type="submit" class="button small" value="Create" data-bind="click: createGroup"/>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle()"></span></h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to delete the brick group?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteGroup"/>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>


