<dl class="sub-nav">

    @{ string sidenavLinkClass = string.Equals((string)ViewContext.RouteData.Values["controller"], "Bricks", StringComparison.Ordinal) ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "Bricks")">
            <span>Bricks</span>
        </a>
    </dd>

    @{ sidenavLinkClass = string.Equals((string)ViewContext.RouteData.Values["controller"], "BrickGroups", StringComparison.Ordinal) ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "BrickGroups")">
            <span>Brick Groups</span>
        </a>
    </dd>

</dl>
