<dl class="sub-nav">


    @{ string sidenavLinkClass = string.Equals((string)ViewContext.RouteData.Values["controller"], "DocumentModels", StringComparison.Ordinal) ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "DocumentModels")">
            <span>Document Models</span>
        </a>
    </dd>

    @{ sidenavLinkClass = string.Equals((string)ViewContext.RouteData.Values["controller"], "DocumentCategory", StringComparison.Ordinal) ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "DocumentCategory")">
            <span>Document Categories</span>
        </a>
    </dd>

</dl>
