@using Eurolook.Web.Common

@inject ApplicationInfo ApplicationInfo
@{
    var appInfo = ApplicationInfo;
    string sidenavLinkClass = "";
    string controllerName = @ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    string areaName = ViewContext.RouteData.Values["area"]?.ToString();
    const string activeClass = "active";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - Eurolook Admin UI</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" content="notranslate" />

    <link href="/foundation.css" rel="stylesheet"/>
    <link href="/foundation-icons.css" rel="stylesheet"/>

    <link href="~/dist/jqueryui/jquery-ui.min.css" rel="stylesheet"/>
    <link href="~/dist/jqueryui/jquery-ui.structure.min.css" rel="stylesheet"/>
    <link href="~/dist/jqueryui/jquery-ui.theme.min.css" rel="stylesheet"/>
    <link href="~/dist/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet"/>
    <link href="~/jquery.multiselect.css" rel="stylesheet"/>

    <link href="~/ela-layout.css?revision=2" rel="stylesheet"/>
    <link href="~/ela-styles.css?revision=2" rel="stylesheet"/>

    <script src="~/dist/jquery/jquery.min.js"></script>
    <script src="~/dist/jqueryui/jquery-ui.min.js"></script>
    <script src="~/dist/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Scripts/jquery.multiselect.min.js"></script>

    <script src="~/Scripts/utils.js?revision=4"></script>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <script src="~/Scripts/foundation.min.js"></script>

    @if (IsSectionDefined("WebPackBundles"))
    {
        @RenderSection("WebPackBundles")
    }
    else
    {
        <script src="~/dist/knockout/knockout-latest.js"></script>
    }

    @*<script src="/Scripts/require.js"></script>*@

    @RenderSection("head", false)
</head>
<body>

<nav class="ela-sidenav">

    <div>
        <dl class="accordion" data-accordion>
            <dd class="accordion-navigation">
                @*<a href="#panel1b"><i class="fi-page-copy" aria-hidden="true"></i> <span>Documents</span></a>*@
                <a href="#documentsPanel"><i class="icon-register" aria-hidden="true"></i> <span>Document Types</span><i class="icon-indicator" aria-hidden="true"></i></a>
                <div id="documentsPanel" class="content">
                    <ul>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("DocumentModels") || controllerName.EndsWith("DocumentCategory") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "DocumentModels", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-copy" aria-hidden="true"></i> <span>Document Models</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("Bricks") || controllerName.EndsWith("BrickGroups") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Bricks", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-grid" aria-hidden="true"></i> <span>Bricks</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("Texts") || controllerName.EndsWith("Translations") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Texts", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-text-size" aria-hidden="true"></i> <span>Texts & Translations</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("Resources") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Resources", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-picture2" aria-hidden="true"></i> <span>Resources</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("AuthorRoles") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "AuthorRoles", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-group-work" aria-hidden="true"></i> <span>Author Roles</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = areaName == "Metadata" ? activeClass : ""; }
                            <a href="@Url.Action("Index", "MetadataDefinitions", new { Area = "Metadata" })" class="@sidenavLinkClass">
                                <i class="icon-license2" aria-hidden="true"></i> <span>Metadata</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("StyleShortcuts") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "StyleShortcuts", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-keyboard" aria-hidden="true"></i> <span>Style Shortcuts</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </dd>
            <dd class="accordion-navigation">
                <a href="#dataPanel"><i class="icon-database" aria-hidden="true"></i> <span>Organizational Data</span> <i class="icon-indicator" aria-hidden="true"></i></a>
                <div id="dataPanel" class="content">
                    <ul>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("Address") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Address", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-apartment" aria-hidden="true"></i> <span>Addresses</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("PersonNames") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "PersonNames", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-contacts" aria-hidden="true"></i> <span>Person Names</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("PredefinedFunctions") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "PredefinedFunctions", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-profile" aria-hidden="true"></i> <span>Predefined Functions</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("OrgaChart") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "OrgaChart", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-site-map" aria-hidden="true"></i> <span>Orga Chart</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </dd>
            <dd class="accordion-navigation">
                <a href="#insightsPanel"><i class="icon-magnifier" aria-hidden="true"></i> <span>Insights</span> <i class="icon-indicator" aria-hidden="true"></i></a>
                <div id="insightsPanel" class="content">
                    <ul>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("Statistics") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Statistics", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-pie-chart" aria-hidden="true"></i> <span>Statistics</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("Performance") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Performance", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-graph" aria-hidden="true"></i> <span>Performance</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("Exceptions") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Exceptions", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-siren" aria-hidden="true"></i> <span>Exception Log</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("Feedback") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Feedback", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-bubbles" aria-hidden="true"></i> <span>Feedback</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </dd>
            <dd class="accordion-navigation">
                <a href="#systemPanel"><i class="icon-equalizer" aria-hidden="true"></i> <span>System</span> <i class="icon-indicator" aria-hidden="true"></i></a>
                <div id="systemPanel" class="content">
                    <ul>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("Users") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Users", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-users2" aria-hidden="true"></i> <span>Users & Devices</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("Notifications") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Notifications", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-flag" aria-hidden="true"></i> <span>Notifications</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = areaName == "DataExchange" ? activeClass : ""; }
                            <a href="@Url.Action("Index", "Export", new { Area = "DataExchange" })" class="@sidenavLinkClass">
                                <i class="icon-hdd-down" aria-hidden="true"></i> <span>Data Exchange</span>
                            </a>
                        </li>
                        <li>
                            @{ sidenavLinkClass = controllerName.EndsWith("SystemConfiguration") ? activeClass : ""; }
                            <a href="@Url.Action("Index", "SystemConfiguration", new { Area = "" })" class="@sidenavLinkClass">
                                <i class="icon-cog" aria-hidden="true"></i> <span>System Configuration</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </dd>
        </dl>

        @*<div class="ela-sidenav-header">
            <input type="checkbox" id="pageBox">
            <label class="ela-sidenav-header-label" for="pageBox">
                <i class="fi-page-copy" aria-hidden="true"></i> <span>Documents</span>
            </label>
            <div class="ela-sidenav-header-content">

                <ul>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("DocumentModels") || controllerName.EndsWith("DocumentCategory") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "DocumentModels", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-page" aria-hidden="true"></i> <span>Document Models</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("Bricks") || controllerName.EndsWith("BrickGroups") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Bricks", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-thumbnails" aria-hidden="true"></i> <span>Bricks</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("Texts") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Texts", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-quote" aria-hidden="true"></i> <span>Texts & Translations</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("Resources") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Resources", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-photo" aria-hidden="true"></i> <span>Resources</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("AuthorRoles") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "AuthorRoles", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-torsos-all" aria-hidden="true"></i> <span>Author Roles</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = areaName == "Metadata" ? activeClass : ""; }
                        <a href="@Url.Action("Index", "MetadataDefinitions", new { Area = "Metadata" })" class="@sidenavLinkClass">
                            <i class="fi-pricetag-multiple" aria-hidden="true"></i> <span>Metadata</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("StyleShortcuts") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "StyleShortcuts", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-text-color" aria-hidden="true"></i> <span>Style Shortcuts</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ela-sidenav-header">
            <input type="checkbox" id="dataBox">
            <label class="ela-sidenav-header-label" for="dataBox">
                <i class="fi-database" aria-hidden="true"></i> <span>Data</span>
            </label>
            <div class="ela-sidenav-header-content">
                <ul>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("Address") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Address", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-home" aria-hidden="true"></i> <span>Addresses</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("PersonNames") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "PersonNames", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-torsos-all" aria-hidden="true"></i> <span>Person Names</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("PredefinedFunctions") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "PredefinedFunctions", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-address-book" aria-hidden="true"></i> <span>Predefined Functions</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("OrgaChart") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "OrgaChart", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-results-demographics" aria-hidden="true"></i> <span>Orga Chart</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ela-sidenav-header">
            <input type="checkbox" id="insightsBox">
            <label class="ela-sidenav-header-label" for="insightsBox">
                <i class="fi-magnifying-glass" aria-hidden="true"></i> <span>Insights</span>
            </label>
            <div class="ela-sidenav-header-content">
                <ul>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("Statistics") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Statistics", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-graph-pie" aria-hidden="true"></i> <span>Statistics</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("Performance") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Performance", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-graph-trend" aria-hidden="true"></i> <span>Performance</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("Exceptions") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Exceptions", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-clipboard-notes" aria-hidden="true"></i> <span>Exception Log</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("Feedback") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Feedback", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-comments" aria-hidden="true"></i> <span>Feedback</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ela-sidenav-header">
            <input type="checkbox" id="systemBox">
            <label class="ela-sidenav-header-label" for="systemBox">
                <i class="fi-wrench" aria-hidden="true"></i> <span>System</span>
            </label>
            <div class="ela-sidenav-header-content">
                <ul>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("Users") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Users", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-torsos-all" aria-hidden="true"></i> <span>Users & Devices</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("Notifications") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Notifications", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-flag" aria-hidden="true"></i> <span>Notifications</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = areaName == "DataExchange" ? activeClass : ""; }
                        <a href="@Url.Action("Index", "Export", new { Area = "DataExchange" })" class="@sidenavLinkClass">
                            <i class="fi-archive" aria-hidden="true"></i> <span>Data Exchange</span>
                        </a>
                    </li>
                    <li>
                        @{ sidenavLinkClass = controllerName.EndsWith("SystemConfiguration") ? activeClass : ""; }
                        <a href="@Url.Action("Index", "SystemConfiguration", new { Area = "" })" class="@sidenavLinkClass">
                            <i class="fi-widget" aria-hidden="true"></i> <span>System Configuration</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>*@
    </div>

    <div class="content">
        <ul style="padding-top: 1em;">
            <li>
                <a href="@Url.Content("~/Help/Content/Home.htm")" target="_blank" rel="noopener">
                    <i class="icon-question-circle" aria-hidden="true"></i> <span>Help</span>
                </a>
            </li>
        </ul>
    </div>

</nav>

<div data-alert class="alert-box error" style="display: none;" id="noiesupport">
    <span>Internet Explorer is not supported. Please use a current version of Edge, Chrome, or Firefox.</span>
    <a href="#" class="close">&times;</a>
</div>

<div class="fixed">
    <header class="ela-topbar">
        <a href="/" style="display: flex;">
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" id="logo"><rect width="1540" height="60" fill="#145B9B"></rect><g clip-path="url(#clip0)"><path d="M16.6416 42.2766C14.3419 39.8552 12.5729 37.0376 11.4254 33.9685C7.79126 42.8417 8.16681 52.8769 10.4652 64.3324C19.1586 45.4444 26.9549 30.6676 37.9119 14.4131C23.0741 41.5566 21.1852 48.4855 12.7467 67.0328C11.6663 66.9892 10.5987 66.8429 9.56095 66.5961C5.90893 75.4024 3.10459 82.2038 -0.495285 92.0857L0.417145 91.4971C0.417145 91.4971 4.04051 86.2253 15.3273 67.56C27.7369 67.4748 39.6509 60.2539 46.4687 52.1621C43.1094 52.1613 39.808 51.5878 36.7305 50.4705C39.7652 50.1552 42.751 49.4132 45.5834 48.2704C43.4902 40.4588 46.056 31.8862 48.4925 21.0688C48.6281 20.459 43.2104 20.0326 42.1047 19.8414C41.7423 19.7808 49.1615 17.6925 49.3029 17.3392C51.3374 8.98012 52.2444 0.468033 52.0029 -8C46.8345 -6.61512 7.74297 19.8733 16.6416 42.2766Z" fill="#6191BC"></path></g><defs><clipPath id="clip0"><rect x="-22" y="11.829" width="76.6135" height="83.0878" transform="rotate(-15 -22 11.829)" fill="white"></rect></clipPath></defs></svg>
            <span id="title">Eurolook 10 - Admin UI</span>
        </a>
        <div style="flex-grow: 0.25;"></div>
        <div class="version">
            <span>Environment:</span>
            <span>@appInfo.EnvironmentName</span>
        </div>

        <div class="version">
            <span>Version:</span>
            <span>@appInfo.Version @appInfo.CommitHash</span>
        </div>

        <div class="version">
            <span>Build Time:</span>
            <span>@appInfo.BuildTime</span>
        </div>
        <div style="flex-grow: 1;"></div>
        @if (ViewBag.IsReadOnlyMode)
        {
            <div>
                <span class="alert label" style="margin-left: 1.5rem; line-height: 1; font-size: 11px;">Read Only Mode</span>
            </div>
        }
        <div style="flex-grow: 1;"></div>
        <div>
            <span class="loginName right">
                @User.Identity.Name
            </span>
        </div>
    </header>
</div>

@{
    string mainCss = "ela-main";
    if (IsSectionDefined("sidebar"))
    {
        mainCss = "ela-main with-sidebar";
    }
}
<section id="mainSection" class="@mainCss" role="main">
    <div id="progress-spinner" class="progress-spinner"></div>
    @RenderBody()
</section>

@if (IsSectionDefined("sidebar"))
{
    <section class="ela-sidebar">
        @RenderSection("sidebar", false)
    </section>
}

<script>
    $(document).foundation();
    if (typeof require !== 'undefined') {
        require.config({
            baseUrl: "@ViewBag.BaseUrl/ViewModels",
            paths: {
                Main: '@ViewBag.BaseUrl/ViewModels',
                Metadata: '@ViewBag.BaseUrl/Areas/Metadata/ViewModels'
            }
        });
    }
</script>

<script>
    $(".active").parents('.accordion-navigation').addClass('active');
    $(".active").parents('.content').addClass('active');
</script>

@RenderSection("scripts", false)
</body>
</html>