<dl class="sub-nav">

    @{ string sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Index") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "OrgaChart")">
            <span>View</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Import") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Import", "OrgaChart")">
            <span>Import</span>
        </a>
    </dd>

    @*@{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Export") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Export", "OrgaChart")">
            <span>Export</span>
        </a>
    </dd>*@
</dl>
