<ul class="button-group right">
    <li>
        <button class="secondary inline" data-bind="click: loadPreviousPage, enable: hasPreviousPage">
            <i class="fi-arrow-left" aria-hidden="true"></i>
        </button>
    </li>
    <li>
        <select data-bind="options: pageInfos, value: selectedPageNumber, optionsValue: 'pageNo', optionsText: 'displayName'" style="padding-right: 1.4rem;"></select>
    </li>
    <li>
        <button class="secondary inline" data-bind="click: loadNextPage, enable: hasNextPage">
            <i class="fi-arrow-right" aria-hidden="true"></i>
        </button>
    </li>
</ul>
