<dl class="sub-nav">

    @{ string sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Index") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "PersonNames")">
            <span>Edit</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Import") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Import", "PersonNames")">
            <span>Import</span>
        </a>
    </dd>

</dl>
