<dl class="sub-nav">
    @{ string sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Servers") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Servers", "Performance")">
            <span>Servers</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Clients") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Clients", "Performance")">
            <span>Clients</span>
        </a>
    </dd>
</dl>
