<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Eurolook</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" content="notranslate" />

    <link href="/Content/foundation.css" rel="stylesheet"/>
    <link href="/Content/foundation-icons.css" rel="stylesheet"/>
    <link href="/Content/ela-layout.css" rel="stylesheet"/>
    <link href="/Content/ela-styles.css" rel="stylesheet"/>

    <script src="/bundles/jquery"></script>
    <script src="~/dist/knockout/knockout-latest.js"></script>
    <script src="/Scripts/utils.js"></script>
    <script src="/Scripts/modernizr-2.8.3.js"></script>

    @RenderSection("head", false)

    <style>
        body {
            background-color: #0072c6;
            color: #fff;
            font-family: 'Segoe UI';
        }

        h1, h2, h3, h4, h5, h6, label, .has-tip {
            color: #fff;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Segoe UI Light";
        }

        label {
            font-size: 100%;
        }

        section[role=main] {
            position: absolute;
            top: 60px;
        }

        .publicContainer {
            background-image: url('/Content/Images/feather_320.png');
            background-position-x: 0;
            background-position-y: -8px;
            background-repeat: no-repeat;
            margin: 0 auto 0 auto;
            min-height: 340px;
            padding: 0 0 0 60px;
            width: 680px;
        }

        .field-validation-error {
            background-color: white;
            color: crimson;
            display: inline-block;
            font-size: 0.875rem;
            margin: 0 0 1rem 0;
            padding: 2px 8px;
        }

        .input-validation-error {
            background-color: mistyrose !important;
            border-color: crimson !important;
            margin: 0 !important;
        }
    </style>
</head>
<body>
<section class="publicContainer">
    @RenderBody()
    <section role="main">
        <!-- required for the alerts -->
    </section>
</section>
<script src="/Scripts/foundation.min.js"></script>
<script>
    $(document).foundation();
    if (typeof require !== 'undefined') {
        require.config({
            baseUrl: "@ViewBag.BaseUrl/ViewModels",
            paths: {
                Main: '@ViewBag.BaseUrl/ViewModels',
                Metadata: '@ViewBag.BaseUrl/Areas/Metadata/ViewModels'
            }
        });
    }
</script>
@RenderSection("scripts", false)
</body>
</html>
