<dl class="sub-nav">

    @{ string sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Devices") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Devices", "Statistics")">
            <span>Devices</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Customisation") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Customisation", "Statistics")">
            <span>Customisation</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Activity") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Activity", "Statistics")">
            <span>Activity</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("DocumentUsage") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("DocumentUsage", "Statistics")">
            <span>Document Usage</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("TemplateStoreUsage") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("TemplateStoreUsage", "Statistics")">
            <span>Template Store Usage</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("BrickUsage") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("BrickUsage", "Statistics")">
            <span>Bricks and Tools</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("AdLink") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("AdLink", "Statistics")">
            <span>ADLink</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("Help") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Help", "Statistics")">
            <span>Help Pages</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["action"].ToString().EndsWith("CustomBricks") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("CustomBricks", "Statistics")">
            <span>Custom Bricks</span>
        </a>
    </dd>
</dl>
