<dl class="sub-nav">
    @{ string sidenavLinkClass = ViewContext.RouteData.Values["controller"].ToString().EndsWith("Texts") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "Texts")">
            <span>Texts</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["controller"].ToString().EndsWith("Translations") ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "Translations")">
            <span>Translations</span>
        </a>
    </dd>
</dl>