<dl class="sub-nav">

    @{ string sidenavLinkClass = ViewContext.RouteData.Values["controller"]?.ToString()?.EndsWith("Users") == true ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "Users")">
            <span>Users</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["controller"]?.ToString()?.EndsWith("Devices") == true ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "Devices")">
            <span>Devices</span>
        </a>
    </dd>

    @{ sidenavLinkClass = ViewContext.RouteData.Values["controller"]?.ToString()?.EndsWith("UserGroups") == true ? "active" : ""; }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "UserGroups")">
            <span>User Groups</span>
        </a>
    </dd>

</dl>
