﻿@if (!string.IsNullOrWhiteSpace(ViewBag.SuccessAlert))
{
    <div data-alert class="alert-box success">
        <span>@ViewBag.SuccessAlert</span>
        <a href="#" class="close">&times;</a>
    </div>
}
@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorAlert))
{
    <div data-alert class="alert-box error">
        <span>@ViewBag.ErrorAlert</span>
        <a href="#" class="close">&times;</a>
    </div>
}
<script>
    $(document).foundation('alert');
</script>