@{
    ViewBag.Title = "Edit Style Shortcuts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.Id;
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["StyleShortcuts/StyleShortcutEditViewModel"],
            function(StyleShortcutEditViewModel) {
                ko.applyBindings(new StyleShortcutEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2>Style Shortcut</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="styleName" class="right inline">Stylename:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="styleName" type="text" data-bind="value: styleName, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="shortcut" class="right inline">Shortcut:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="shortcut" type="text" data-bind="value: shortcut, enable: !isReadOnlyMode()" />
    </div>

</div>



<div class="row ela-row">
    <div class="medium-2 large-2 columns">&nbsp;</div>
    <div class="medium-10 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: $root.save.bind($root), enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>