@{
    ViewBag.Title = "Style Shortcuts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        require(["StyleShortcuts/StyleShortcutsIndexViewModel"],
// ReSharper disable once InconsistentNaming
            function(StyleShortcutsIndexViewModel) {
                ko.applyBindings(new StyleShortcutsIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

<div class="row ela-row ela-content-header">
    <div class="medium-6 columns">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="medium-6 columns">
        <div class="row collapse">
            <div class="small-11 columns">
                <input id="SearchBox" type="search" placeholder="Search..." autocomplete="off" data-bind="textInput: searchInput" />
            </div>
            <div class="small-1 columns">
                <span class="postfix">
                    <a href="#" data-dropdown="QueryHelp">
                        <i class="fi-info" style="font-size: 24px;" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div id="QueryHelp" data-dropdown-content class="f-dropdown content">
        <p>You can search for style shortcuts by name.</p>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectedAll" />
                    </span>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: selectedStyleShortcuts().length > 0" data-reveal-id="ExportModal"><i class="fi-download" aria-hidden="true"></i> Export <span data-bind="text: selectedStyleShortcuts().length"></span> Shortcut(s)</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-reveal-id="CreateModal" data-bind="enable: !isReadOnlyMode()"><i class="fi-plus" aria-hidden="true"></i> New Style Shortcut</button>
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="large-12 columns">
        <table id="usersTable" style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 2.3125rem;"></th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'styleName')">Stylename</a>
                        <span data-bind="visible: orderProperty() == 'styleName'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'shortcut')">Shortcut</a>
                        <span data-bind="visible: orderProperty() == 'shortcut'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: styleShortcuts">
                <tr>
                    <td>
                        <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedStyleShortcuts" />
                    </td>
                    <td>
                        <a data-bind="attr: { href: $parent.baseUrl() + '/StyleShortcuts/Edit/' + $data.id() }" title="Edit the style shortcut">
                            <span data-bind="text: styleName"></span>
                        </a>
                    </td>
                    <td>
                        <span data-bind="text: shortcut"></span>
                    </td>
                    <td class="actions-col">
                        <div data-bind="visible: $parent.tableMode()=='normal'">
                            <a data-bind="attr: { href: $parent.baseUrl() + '/StyleShortcuts/Edit/' + $data.id() }" title="Edit the function"><i class="fi-pencil" aria-hidden="true"></i> Edit</a>
                            <a data-bind="click: $parent.showDeleteModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()"><i class="fi-x" aria-hidden="true"></i> Delete</a>
                        </div>
                        <div data-bind="visible: $parent.tableMode()=='deleted'">
                            <a data-bind="click: $parent.showReviveModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()" title="Revive the function"><i class="fi-refresh" aria-hidden="true"></i> Restore</a>
                        </div>
                    </td>
                </tr>
         </tbody>
        </table>
        <label>Page <span data-bind="text: pageNumber"></span> of <span data-bind="text: pageCount"></span></label>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Style Shortcut</h3>
    <a class="close-reveal-modal">&#215;</a>

    <input type="text" placeholder="Stylename" data-bind="value: newStyleShortcutName" />
    <input type="text" placeholder="Shortcut" data-bind="value: newShortcut" />
    <div class="button-bar">
        <input type="submit" class="button small" value="Create" data-bind="click: createStyleShortcut" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ExportModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Export</h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Which dependencies do you want to export?</p>
    <table class="data-table" style="width: 100%">
        <tr>
            <td style="width: 16px">
                <input type="checkbox" disabled="disabled" checked="checked" />
            </td>
            <td colspan="3">StyleShortcuts</td>
        </tr>
    </table>
    <div class="button-bar">
        <button class="small icon-left" data-bind="click: downloadDataPackage"><i class="fi-download" aria-hidden="true"></i> Download</button>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to delete the style shortcut?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteStyleShortcut" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ReviveModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Revive <span data-bind="text: reviveModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to revive the style shortcut?
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Revive" data-bind="click: reviveStyleShortcut" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>


