@{
    ViewBag.Title = "Person Names";
}
@section head{
    <script src="/Scripts/require.js"></script>
}
@*<script src="/ViewModels/PersonNames/PersonNamesImportViewModel.js"></script>*@
    <script>

    require(["PersonNames/PersonNamesImportViewModel"],
        function (PersonNamesImportViewModel) {
            ko.applyBindings(new PersonNamesImportViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            jQuery.ajaxSetup({ cache: false });
        })
    @*$(document).ready(function() {

        // disable caching for AJAX request to avoid problems with IE's aggressive caching
        jQuery.ajaxSetup({ cache: false });

        ko.baseUrl = '@ViewBag.Baseurl';
        ko.viewModel = new PersonNamesImportViewModel();
        ko.applyBindings(ko.viewModel);
    });*@
    </script>

@await Html.PartialAsync("~/Views/Shared/_PersonNamesMenu.cshtml")
<div class="row ela-row ela-content-header">
    <div class="large-6 medium-12 columns">
        <h2>Person Names - Import Members of the European Parliament</h2>
    </div>
</div>

<div>
    Please note that the excel has to satisfy the following requirements
    <ol>
        <li>
            Import starts at row 2, i.e. row 1 is not taken into account as it is assumed that there is a table header
        </li>
        <li>
            Rows containing no value for first name, last name or country are ignored
        </li>
        <li>
            The following data columns are expected: C: Last name, D: First name, E: Sexe, F: Political group name (abbreviation), G:= Country code
        </li>
    </ol>
</div>

<div class="row ela-row">
    <div class="row">
        <div class="medium-2 column">
            <label class="right inline">Upload Spreadsheet:</label>
        </div>
        <div class="medium-2 column">
            <input type="file" id="excelFile" data-bind="event: { change: function() { uploadSpreadsheet(); } }" class="hide">
            <button class="prefix" data-bind="click: function() { $('#excelFile').click(); }" title="Click to browse for an Excel file."><i class="fi-folder" aria-hidden="true"></i> Upload Member List</button>
        </div>
        <div class="medium-6 column">
            <label class="inline" data-bind="text: spreadsheetFileInfo"></label>
        </div>
    </div>
    <div class="row">
        <div class="medium-2 column">
            <label class="right inline">Validate Changes:</label>
        </div>
        <div class="medium-10 column">
            <textarea id="uploadValidationResult" style="min-height: 400px" data-bind="text: validationResult, enable: false"></textarea>
            <img id="uploadProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="medium-2 column">
            <label class="right inline">Confirm Changes:</label>
        </div>
        <div class="medium-2 column">
            <button class="prefix" data-bind="enable: enableConfirm, click: function() { applyChanges(); }" title="Click to confirm changes and save changes to the database.">Confirm</button>
        </div>
        <div class="medium-10 column">
            <textarea id="updateResult" data-bind="text: updateResult, enable: false"></textarea>
            <img id="updateProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        </div>

    </div>

</div>
