@{
    ViewBag.Title = "Person Names";
}

@section head {
    <script src="/Scripts/require.js"></script>

}

@section scripts {
    <script>
        require(["PersonNames/PersonNamesIndexViewModel"],
            function(PersonNamesIndexViewModel) {
                ko.applyBindings(new PersonNamesIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
                jQuery.ajaxSetup({ cache: false });
            });

    </script>
}
@await Html.PartialAsync("~/Views/Shared/_PersonNamesMenu.cshtml")
<div class="row ela-row ela-content-header">
    <div class="large-6 columns">
        <h2>Person Names</h2>
    </div>
    <div class="large-6 columns">
        <div class="row collapse">
            <div class="small-8 columns">
                <input id="SearchBox" type="search" placeholder="Search using infix filter on names..." autocomplete="off" data-bind="textInput: searchInput" />
            </div>
            <div class="small-4 columns">
                <select id="categorySelectbox" data-bind="options: categoryFilters, optionsText: 'displayName', optionsValue: 'id', value: selectedCategory"></select>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectedAll" />
                    </span>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="click: editPersonNames"><i class="fi-arrow-right" aria-hidden="true"></i> Save</button>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: hasSelection" data-reveal-id="DeleteModal"><i class="fi-trash" aria-hidden="true"></i> Delete</button>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-reveal-id="CreateModal"><i class="fi-plus" aria-hidden="true"></i>New Name</button>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: selectedPersonNames().length > 0" data-reveal-id="ExportModal"><i class="fi-download" aria-hidden="true"></i> Export <span data-bind="text: selectedPersonNames().length"></span> Person Names</button>
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>


<div class="row ela-row">
    <div class="large-12 columns">
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <table style="width: 100%;" class="data-table">
            <thead>
                <tr>
                <th scope="col" style="width: 2rem;"></th>
                <th scope="col" style="width: 20rem">
                        <a data-bind="click: orderBy.bind($data, 'lastname')">Last Name</a>
                        <span data-bind="visible: orderProperty() == 'lastname'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                <th scope="col" style="width: 20rem">
                        <a data-bind="click: orderBy.bind($data, 'firstname')">First Name</a>
                        <span data-bind="visible: orderProperty() == 'firstname'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                <th scope="col" style="width: 20rem">
                        <a data-bind="click: orderBy.bind($data, 'country')">Country</a>
                        <span data-bind="visible: orderProperty() == 'country'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                <th scope="col" style="width: 20rem">
                        <a data-bind="click: orderBy.bind($data, 'politicalGroup')">Political Group</a>
                        <span data-bind="visible: orderProperty() == 'politicalGroup'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                <th scope="col" style="width: 20rem">
                        <a data-bind="click: orderBy.bind($data, 'category')">Category</a>
                        <span data-bind="visible: orderProperty() == 'category'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody id="PersonNameTableBody" data-bind="foreach: personNames">
                <tr>
                    <td>
                        <input type="checkbox" data-bind="checked: isSelected" />
                    </td>
                    <td style="padding: 0">
                        <input type="text" data-bind="value: lastNameValue" />
                    </td>
                    <td style="padding: 0">
                        <input type="text" data-bind="value: firstNameValue" />
                    </td>

                    <td style="padding: 0">
                        <input type="text" data-bind="value: countryValue" />
                    </td>
                    <td style="padding: 0">
                        <input type="text" data-bind="value: politicalGroupValue" />
                    </td>
                    <td style="padding: 0">
                        <input type="text" data-bind="value: category" readonly="true" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete Person Names</h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to delete the selected person names?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deletePersonNames" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ExportModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Export</h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Which dependencies do you want to export?</p>
    <table class="data-table" style="width: 100%">
        <tr>
            <td style="width: 16px">
                <input type="checkbox" disabled="disabled" checked="checked" />
            </td>
            <td colspan="3">Person Names </td>
        </tr>
    </table>
    <div class="button-bar">
        <button class="small icon-left" data-bind="click: downloadDataPackage"><i class="fi-download" aria-hidden="true"></i> Download</button>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Person Name</h3>
    <a class="close-reveal-modal">&#215;</a>

    <input type="text" placeholder="First Name" data-bind="value: newFirstName" />
    <input type="text" placeholder="Last Name" data-bind="value: newLastName" />
    <input type="text" placeholder="Political Group (Members of the European Parliament only!)" data-bind="value: newPoliticalGroup" />
    <input type="text" placeholder="Country (Members of the European Parliament only!)" data-bind="value: newCountry" />
    <select data-bind ="options: personNameCategories, optionsText: 'displayName', optionsValue: 'id', value: newCategory"></select>

    <div class="button-bar">
        <input id="submitNewPerson" type="submit" class="button small" value="Create" data-bind="click: createPersonName, enable: newNameValidated" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

