@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    const string activeClass = "active";
}<dl class="sub-nav">
    @{
        string sidenavLinkClass = controllerName == "MetadataDefinitions" ? activeClass : "";
    }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "MetadataDefinitions")">
            <span>Metadata Definitions</span>
        </a>
    </dd>

    @{
        sidenavLinkClass = controllerName == "MetadataCategories" ? activeClass : "";
    }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "MetadataCategories")">
            <span>Metadata Categories</span>
        </a>
    </dd>

    @{
        sidenavLinkClass = controllerName == "TermStore" ? activeClass : "";
    }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "TermStore")">
            <span>Term Store</span>
        </a>
    </dd>

</dl>
