@using Eurolook.ManagementConsole.Extensions
@model Eurolook.ManagementConsole.ViewModels.OrgaChart.OrgaChartImportViewModel
@{
    ViewBag.Title = "Orga Chart - Export";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link href="/jstree_themes/default/style.min.css" rel="stylesheet"/>
    <script src="/Scripts/jstree.min.js"></script>
    <script src="/ViewModels/OrgaChart/JsTreeReader.js"></script>
    <script src="/ViewModels/OrgaChart/OrgaChartImportViewModel.js"></script>
}

<script>
    $(document).ready(function() {
        var modelDgs = @Html.Raw(Model.Dgs.ToJson());
        var modelLanguages = @Html.Raw(Model.Languages.ToJson());

        ko.baseUrl = '@ViewBag.Baseurl';
        ko.viewModel = new OrgaChartExportViewModel(modelDgs, modelLanguages);
        ko.applyBindings(ko.viewModel);
    });
</script>

@await Html.PartialAsync("~/Views/Shared/_OrgaChartMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>Orga Chart - Export</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">                      
                <div class="row">
                    <div class="medium-2 column"></div>
                    <div class="medium-10 column">
                        <!--<button data-bind="click: confirmUpload">Import</button>-->
                    </div>
                </div> 
    </div>
</div>
