@using Eurolook.ManagementConsole.Extensions
@model Eurolook.ManagementConsole.ViewModels.OrgaChart.OrgaChartImportViewModel
@{
    ViewBag.Title = "Orga Chart - Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link href="/jstree_themes/default/style.min.css" rel="stylesheet"/>
    <script src="/Scripts/jstree.min.js"></script>
    <script src="/ViewModels/OrgaChart/JsTreeReader.js"></script>
    <script src="/ViewModels/OrgaChart/OrgaChartImportViewModel.js"></script>
}

<script>
    $(document).ready(function() {
        var modelDgs = @Html.Raw(Model.Dgs.ToJson());
        var modelLanguages = @Html.Raw(Model.Languages.ToJson());

        ko.baseUrl = '@ViewBag.Baseurl';
        ko.viewModel = new OrgaChartImportViewModel(modelDgs, modelLanguages);
        ko.applyBindings(ko.viewModel);
    });
</script>

@await Html.PartialAsync("~/Views/Shared/_OrgaChartMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>Orga Chart - Import</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <dl class="tabs" data-tab>
            <dd class="active">
                <a href="#panel1">1. Upload Spreadsheet</a>
            </dd>
            <dd>
                <a href="#panel2">2. Validate</a>
            </dd>
        </dl>
        <div class="tabs-content">
            <div class="content active" id="panel1">

                <div class="row">
                    <div class="medium-2 column">
                        <label class="right inline">Spreadsheet:</label>
                    </div>
                    <div class="medium-2 column">
                        <input type="file" id="excelFileEL10" data-bind="event: { change: function() {uploadSpreadsheet(); } }" class="hide">
                        <button class="prefix" data-bind="click: function() { $('#excelFileEL10').click(); }" title="Click to browse for an Excel file."><i class="fi-folder" aria-hidden="true"></i> Choose excel file ...</button>
                    </div>
                    <div class="medium-6 column">
                        <label class="inline" data-bind="text: spreadsheetFileInfo"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-2 column">
                        <label class="right inline">Result:</label>
                    </div>
                    <div class="medium-10 column">
                        <textarea id="uploadValidationResult" style="min-height: 300px" data-bind="text: validationResult"></textarea>
                        <img id="uploadProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
                    </div>
                </div>

            </div>
            <div class="content" id="panel2">

                <div class="row">
                    <div class="medium-2 column">
                        <label class="right inline">Language:</label>
                    </div>
                    <div class="medium-10 column">
                        <select id="languageSelection" data-bind="options: allLanguages, value: selectedLanguage, optionsText: 'displayName'"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-2 column">
                        <label class="right inline">Orga Chart:</label>
                    </div>
                    <div class="medium-10 column">
                        <img id="treeProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
                        <div id="tree" class="panel" style="height: 100%; min-height: 200px"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-2 column"></div>
                    <div class="medium-10 column">
                        <textarea id="uploadAuthorResult" style="min-height: 300px" data-bind="text: authorResult"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-2 column"></div>
                    <div class="medium-10 column">
                        <button data-bind="click: confirmUpload">Import</button>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-2 column"></div>
                    <div class="medium-10 column">
                        <img id="importProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
