@using Eurolook.ManagementConsole.Extensions
@model Eurolook.ManagementConsole.ViewModels.OrgaChart.OrgaChartIndexViewModel
@{
    ViewBag.Title = "Orga Chart - View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link href="/jstree_themes/default/style.min.css" rel="stylesheet"/>
    <script src="/Scripts/jstree.min.js"></script>
    <script src="/ViewModels/OrgaChart/JsTreeReader.js?revision=1"></script>
    <script src="/ViewModels/OrgaChart/OrgaChartIndexViewModel.js?revision=6"></script>
}

<script>
    $(document).ready(function() {

        var modelDgs = @Html.Raw(Model.Dgs.ToJson());
        var modelLanguages = @Html.Raw(Model.Languages.ToJson());

        ko.baseUrl = '@ViewBag.Baseurl';
        ko.viewModel = new OrgaChartIndexViewModel(modelDgs, modelLanguages);
        ko.applyBindings(ko.viewModel);
    });
</script>

@await Html.PartialAsync("~/Views/Shared/_OrgaChartMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="medium-6 columns">
        <h2>Orga Chart - View</h2>
    </div>
    <div class="medium-6 columns">
        <div class="row collapse">
            <div class="medium-9 columns">
                <select data-bind="options: allDgs, optionsCaption: 'Choose a DG...', value: selectedDg, optionsText: 'displayName'"></select>
            </div>
            <div class="medium-3 columns">
                <select data-bind="options: allLanguages, value: selectedLanguage, optionsText: 'displayName'"></select>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left"
                            title="Click to download the chart as Excel file."
                            data-bind="enable: isSelectedDgShown, click: exportOrgaChart">
                        <i class="fi-download" aria-hidden="true"></i> Download Spreadsheet
                    </button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-reveal-id="CreateModal"><i class="fi-plus" aria-hidden="true"></i> New DG</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: isSelectedDgShown, click: exportDataPackage"><i class="fi-download" aria-hidden="true"></i> Export</button>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: isSelectedDgShown" data-reveal-id="DeleteModal"><i class="fi-trash" aria-hidden="true"></i> Delete</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-bind="click: exportAllOrgaChartsAsPackage"><i class="fi-download" aria-hidden="true"></i> Export All</button>
                </li>
                <li>
                    <img id="downloadProgressBar" src="@Url.Content("~/Images/ajax-loader.gif")" class="progress" style="margin: -16px 0 0 8px;" alt="" />
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <img id="treeProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")'
             class="progress" style="left: 20px; position: absolute; top: 20px; z-index: 999;" alt="" />
        <div id="tree" data-bind="visible: selectedDg()" class="panel" style="height: 100%; min-height: 200px"></div>
        <div class="medium-12 columns" data-bind="visible: !selectedDg()">
            <h3>Please choose a DG and a language.</h3>
        </div>
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Directorate General</h3>
    <a class="close-reveal-modal">&#215;</a>
    <input type="text" placeholder="DG Acronym" data-bind="value: newDgAcronym" />
    <p>Select a location for the new DG. Leave the second field empty, if the DG only has one address.</p>
    <p>Primary address:</p>
    <select data-bind="options: allLocations, value: selectedPrimaryLocation, optionsText: 'name'"></select>
    <p>Secondary address:</p>
    <select data-bind="options: allLocations, value: selectedSecondaryLocation, optionsText: 'name', optionsCaption: 'select...'"></select>
    <div class="button-bar">
        <input type="submit" class="button small" value="Create" data-bind="click: createNewDg" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete Orga Chart <span data-bind="text: selectedDg()?.acronym"></span></h3>
    <a class="close-reveal-modal">&#215;</a>
    <p><span>Do you really want to delete the chart of </span><span data-bind="text: selectedDg()?.acronym"></span><span>?</span></p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteSelectedDg" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>
