@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    const string activeClass = "active";
}
<dl class="sub-nav">
    @{
        string sidenavLinkClass = controllerName.EndsWith("Export") ? activeClass : "";
    }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "Export")">
            <span>Export</span>
        </a>
    </dd>

    @{
        sidenavLinkClass = controllerName.EndsWith("Import") ? activeClass : "";
    }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "Import")">
            <span>Import</span>
        </a>
    </dd>

    @{
        sidenavLinkClass = controllerName.EndsWith("Snapshots") ? activeClass : "";
    }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "Snapshots")">
            <span>Snapshots</span>
        </a>
    </dd>

    @{
        sidenavLinkClass = controllerName.EndsWith("Cleanup") ? activeClass : "";
    }
    <dd class="@sidenavLinkClass">
        <a href="@Url.Action("Index", "Cleanup")">
            <span>Cleanup</span>
        </a>
    </dd>

</dl>
