@{
    ViewBag.Title = "Export";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section WebPackBundles {
    <script src="/dist/export.bundle.js"></script>
}

<script>
    $(document).ready(function() {
        jQuery.ajaxSetup({ cache: false });
        initKnockout('@ViewBag.Baseurl');
    });
</script>

<style>
    ul.dataTree {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        ul.dataTree li {
            margin: 0;
            padding: 0;
            display: block;
        }

            ul.dataTree li::before {
                content: "- ";
            }

            ul.dataTree li.group {
                font-size: 1.5rem;
            }

                ul.dataTree li.group::before {
                    content: "";
                }

            ul.dataTree li.lvl0 {
                margin-left: 20px;
            }

            ul.dataTree li.lvl1 {
                margin-left: 40px;
            }

            ul.dataTree li.lvl2 {
                margin-left: 60px;
            }

            ul.dataTree li.lvl3 {
                margin-left: 80px;
            }
</style>

@await Html.PartialAsync("_DataExchangeMenu")

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>Data Export</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-bind="click: exportAll"><i class="fi-download" aria-hidden="true"></i> Export Central Data</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <img id="exportProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' style="display: none;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    " alt="" />
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <h3>Content Data</h3>
        <p>DocumentModels including: DocumentCategories, DocumentModelLanguages, Languages, DocumentModelAuthorRoles, AuthorRoles, DocumentModelMetadataDefinitions, MetadataDefinitions, MetadataCategories, DocumentStructures, Bricks, BrickCategories, BrickGroups, BrickTexts, Texts, Translations, BrickResources, Resources, LocalisedResources</p>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
<img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
<table style="width: 100%;" class="data-table">
            <tbody data-bind="foreach: documentModels">
            <tr>
                <td style="width: 2.3125rem;">
                    <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedDocumentModels" />
                </td>
                <td>
                    <span data-bind="text: $data.name"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <h3>Application Data</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <img src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <table style="width: 100%;" class="data-table">
            <tbody>
                <tr>
                    <td style="width: 2.3125rem;">
                        <input type="checkbox" data-bind="checked: $root.includeCharacterMappings" />
                    </td>
                    <td>
                        <span>Character Mappings</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 2.3125rem;">
                        <input type="checkbox" data-bind="checked: $root.includeColorSchemes" />
                    </td>
                    <td>
                        <span>Color Schemes</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 2.3125rem;">
                        <input type="checkbox" data-bind="checked: $root.includeStyleShortcuts" />
                    </td>
                    <td>
                        <span>StyleShortcuts</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 2.3125rem;">
                        <input type="checkbox" data-bind="checked: $root.includeUserGroups" />
                    </td>
                    <td>
                        <span>UserGroups</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <h3>Organisational Data</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <img src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <table style="width: 100%;" class="data-table">
            <tbody>
                <tr>
                    <td style="width: 2.3125rem;">
                        <input type="checkbox" data-bind="checked: $root.includeAddresses" />
                    </td>
                    <td>
                        <span>Addresses</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 2.3125rem;">
                        <input type="checkbox" data-bind="checked: $root.includePredefinedFunctions" />
                    </td>
                    <td>
                        <span>Predefined Functions</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 2.3125rem;">
                        <input type="checkbox" data-bind="checked: $root.includeSystemTextsAndResources" />
                    </td>
                    <td>
                        <span>System Texts/Resources</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>