@using Eurolook.ManagementConsole.Extensions
@model Eurolook.Data.Models.DataPackage
@{
    ViewBag.Title = "Export Package";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/dist/data.package.bundle.js"></script>
<script>
    $(document).ready(function() {
        initKnockout('@ViewBag.Baseurl', @Html.Raw(Model.ToJson()));
    });
</script>

@await Html.PartialAsync("_DataExchangeMenu")

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>Export Package</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 column">
        <label class="inline right">Package Description:</label>
    </div>
    <div class="medium-9 large-10 column">
        <textarea data-bind="text: description" disabled></textarea>
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 column">
        <label class="inline right">Package Created: </label>
    </div>
    <div class="medium-9 large-10 column">
        <input type="text" data-bind="value: created" disabled/>
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 column">
        <label class="inline right">Package Content: </label>
    </div>
    <div class="medium-9 large-10 column">
        <textarea type="text" data-bind="value: report" style="min-height: 500px" disabled></textarea>
    </div>
</div>

<div class="row ela-row ela-content-header">
    <div class="medium-3 large-2 column">
    </div>
    <div class="medium-9 large-10 column">
        <a data-bind="attr: { href: ko.baseUrl + '/DataExchange/Export/Download/' + id()}" class="button small icon-left"><i class="fi-download" aria-hidden="true"></i> Download</a>
    </div>
</div>
