@import 'colors.scss';

.modal-dialog-body {
  padding: 20px;
  font-family: Segoe UI;
  font-size: 12px;

  .btn {
    min-width: 100px;
  }
}

.modal-dialog-title {
  font-family: Segoe UI Light;
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-dialog-paragraph {
  margin-bottom: 14px;
}

.modal-dialog-button-container {
  justify-content: flex-end;
  display: flex;
  font-family: Segoe UI;
  font-size: 12px;
  margin-top: 20px;

  button {
    margin-left: 10px;
  }
}

.file-upload-container {
  display: block;
}

div.file-upload-name {
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  margin-right: 100px;
  background: $secondary-color;
  border-left: 1px solid $secondary-border-color;
  border-top: 1px solid $secondary-border-color;
  border-bottom: 1px solid $secondary-border-color;
}

.file-upload-browse {
  width: 100px;
  float: right;
  display: inline-block;
}

input[type="file"] {
  display: none;
}

.user-search-modal {
  min-width: 600px;
}

.user-search-results {
  height: 500px;
  border: 1px solid $secondary-border-color;

  button {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  button.selected {
    background-color: $secondary-color;
    font-weight: bold;
  }

  button.disabled {
    color: $secondary-border-color;
  }
}
