@using Eurolook.ManagementConsole.Extensions
@model Eurolook.ManagementConsole.ViewModels.Exceptions.ExceptionLogDetailsViewModel
@{
    ViewBag.Title = "Exception Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts{

    <script>
        require(["../../dist/chart.js/chart.umd.js", "Exceptions/ExceptionLogDetailsViewModel"],
            // ReSharper disable once InconsistentNaming
            function (Chart, ExceptionLogDetailsViewModel) {
                ko.applyBindings(new ExceptionLogDetailsViewModel('@ViewBag.BaseUrl', @Html.Raw(Model.ToJson()), '@ViewBag.IsReadOnlyMode', Chart));
                jQuery.ajaxSetup({ cache: false });
            });
    </script>
}

<div class="row ela-row">
    <div class="column">
        <h3>Exception Details for <span data-bind="text: shortId"></span></h3>
    </div>
</div>


<div class="row ela-row">
    <div class="small-5 medium-4 large-2 columns">
        <span class="right inline">Id:</span>
    </div>
    <div class="small-7 medium-8 large-10 columns">
        <span data-bind="text: id" style="font-family: Consolas, monospace;"></span>
    </div>

    <div class="small-5 medium-4 large-2 columns">
        <span class="right inline">Class:</span>
    </div>
    <div class="small-7 medium-8 large-10 columns">
        <span data-bind="text: loggerName" style="font-family: Consolas, monospace;"></span>
    </div>

    <div class="small-5 medium-4 large-2 columns">
        <span class="right inline">Stacktrace:</span>
    </div>
    <div class="small-7 medium-8 large-10 columns">
        <pre data-bind="text: stackTrace" style="font-family: Consolas, monospace; white-space: pre-wrap; word-wrap: break-word;"></pre>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Version Charts</h3>
    </div>
</div>

<div class="row ela-row show-for-small-only">
    <div class="column small-12">
        Charts are only shown on larger screens.
    </div>
</div>

<div class="row ela-row show-for-medium-up">
    <div class="column medium-4 small-4">
        <h4>Affected Client Versions</h4>
        <div style="height: 450px; margin-bottom: 20px;">
            <canvas id="clientVersionChart"></canvas>
        </div>
    </div>
    <div class="column medium-4 small-4">
        <h4>Affected Office Versions</h4>
        <div style="height: 450px; margin-bottom: 20px;">
            <canvas id="officeVersionChart"></canvas>
        </div>
    </div>
    <div class="column medium-4 small-4">
        &nbsp;
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Occurrences</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="columns button-bar">
        @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
    </div>
</div>

<div class="row ela-row">
    <div class="column medium-12">
        <img id="progressBar" src="@Url.Content("~/Images/ajax-loader.gif")" alt="Progress Bar" data-bind="visible: !hasLoaded()" />
    </div>
</div>

<div class="row ela-row show-for-small-only">
    <div class="column small-12">
        Details are only shown on larger screens.
    </div>
</div>

<div class="row ela-row show-for-medium-up">
    <div class="column medium-12">
        <div id="exceptionLog" data-bind="visible: hasLoaded()">
            <div id="emptyState" style="display: none" data-bind="visible: !hasResult()">There aren't any exceptions.</div>

            <div data-bind="visible: hasResult()">

                <table style="table-layout: fixed; width: 100%; word-wrap: break-word;" class="data-table">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 9.5rem">
                                <a data-bind="click: orderBy.bind($data, 'occurred')">Occurred</a>
                                <span data-bind="visible: orderProperty() == 'occurred'">
                                    <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                                    <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                                </span>
                            </th>
                            <th scope="col">Message</th>
                            <th scope="col" style="width: 20%">Originator</th>
                            <th scope="col" style="width: 8.5rem">Client Version</th>
                            <th scope="col" style="width: 8.5rem">Office Version</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: exceptionLogDetails">
                        <tr>
                            <td data-bind="text: created"></td>
                            <td>
                                <div>
                                    <span data-bind="text: message"></span>
                                </div>

                            </td>
                            <td>
                                <div data-bind="if: originator != 'Deleted User'">
                                    <a data-bind=" attr: {href: '/Users/ByLogin?login=' + originator }">
                                        <span data-bind="text: originator"></span>
                                    </a>
                                </div>
                                <div data-bind="if: originator === 'Deleted User'">
                                    <span data-bind="text: originator"></span>
                                </div>
                            </td>
                            <td data-bind="text: clientVersion"></td>
                            <td data-bind="text: officeVersion"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>