@{
    ViewBag.Title = "Exception Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Exceptions/ExceptionLog"],
            function(ExceptionLog) {
                ko.applyBindings(new ExceptionLog('@ViewBag.BaseUrl'));
            });
    </script>
}

<div class="row ela-row ela-content-header">
    <div class="medium-8 columns">
        <h2>Exceptions</h2>
    </div>
    <div class="medium-4 columns">
        <div class="row collapse">
            <div class="small-11 columns">
                <input id="userFilterBox" type="search" placeholder="Filter for users..." autocomplete="off" data-bind="value: users, valueUpdate: 'input'" />
            </div>
            <div class="small-1 columns">
                <span class="postfix">
                    <a href="#" data-dropdown="QueryHelp">
                        <i class="fi-info" style="font-size: 24px;" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div id="QueryHelp" data-dropdown-content class="f-dropdown content">
        <p>You can search for users by their login (e.g. DOMAIN\username).</p>
        <p>Separate multiple logins with a ";".</p>
    </div>
</div>

<div class="row ela-row">
    <div class="column medium-4 large-4">
        <select data-bind="foreach: monthsFilters, value: selectedMonthsFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
    <div class="column medium-1 large-1">
        <a class="button postfix secondary" data-bind="attr: { href: baseUrl() + '/Exceptions/ExceptionLogDownload?filter=' + selectedMonthsFilter() }"
           title="Click to download the exception log">
            <i class="fi-download" aria-hidden="true"></i> Download
        </a>
    </div>
    <div class="column medium-1 large-1">
        <a class="button postfix secondary" data-bind="attr: { href: baseUrl() + '/Exceptions/ExceptionLogRawDownload?filter=' + selectedMonthsFilter() }"
           title="Click to download the raw exception log without grouping">
            <i class="fi-download" aria-hidden="true"></i> Raw Log
        </a>
    </div>
    <div class="column medium-6 large-6">
        <div class="button-bar">
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column medium-12">
        <img id="progressBar" src="@Url.Content("~/Images/ajax-loader.gif")" alt="Progress Bar" data-bind="visible: isLoading()" />
    </div>
</div>

<div class="row ela-row">
    <div class="column medium-12">
        <div id="exceptionLog" data-bind="visible: !isLoading()">

            <div id="emptyState" style="display: none" data-bind="visible: !hasResult()">There aren't any exceptions in the selected time range.</div>

            <div data-bind="visible: hasResult()">

                <table style="table-layout: fixed; width: 100%; word-wrap: break-word;" class="data-table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 4.7rem">Id</th>
                        <th scope="col" style="width: 5rem">
                            <a data-bind="click: orderBy.bind($data, 'count')">Count</a>
                            <span data-bind="visible: orderProperty() == 'count'">
                                <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                                <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                            </span>
                        </th>
                        <th scope="col" style="width: 9.5rem">
                            <a data-bind="click: orderBy.bind($data, 'affectedUsers')">Affected Users</a>
                            <span data-bind="visible: orderProperty() == 'affectedUsers'">
                                <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                                <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                            </span>
                        </th>
                        <th scope="col" style="width: 9.5rem">
                            <a data-bind="click: orderBy.bind($data, 'occurred')">Last Occurred</a>
                            <span data-bind="visible: orderProperty() == 'occurred'">
                                <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                                <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                            </span>
                        </th>
                        <th scope="col">Message</th>
                        <th scope="col" style="width: 5.8rem">Actions</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: exceptionLogData">
                    <tr>
                        <td data-bind="text: shortId"></td>
                        <td style="text-align: right" data-bind="text: count"></td>
                        <td style="text-align: right" data-bind="text: affectedUsers"></td>
                        <td data-bind="text: modified"></td>
                        <td>
                            <div>
                                <span data-bind="text: lastMessage"></span>
                            </div>
                            <div style="font-family: monospace; margin: 0.5rem;">
                                <span data-bind="text: exceptionTypeShort"></span> in <span data-bind="text: loggerName"></span>
                            </div>
                        </td>
                        <td class="actions-col">
                            <a data-bind="attr: { href: $parent.baseUrl() + '/Exceptions/ExceptionLogDetails/' + id + '?filter=' + $parent.selectedMonthsFilter()}" title="Show Details"><i class="fi-arrow-right" aria-hidden="true"></i> Details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>