@model Guid
@{
    ViewBag.Title = "Edit Document Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}
@section head{
    @*<script src="/ViewModels/DocumentCategory/DocumentCategoryEditViewModel.js"></script>*@
    <script src="/Scripts/require.js"></script>
}
@section scripts{
    <script>
        require(["DocumentCategory/DocumentCategoryEditViewModel"],
            function(DocumentCategoryEditViewModel) {
                ko.applyBindings(new DocumentCategoryEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
                jQuery.ajaxSetup({ cache: false });
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_DocumentModelMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2 data-bind="value: name"></h2>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>General</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="name" data-bind="value: name, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">&nbsp;</div>
    <div class="medium-9 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: $root.save.bind($root), enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>
