@{
    ViewBag.Title = "Document Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <script src="/Scripts/require.js"></script>
    @*<script src="/ViewModels/PaginationTableViewModel.js"></script>
        <script src="/ViewModels/DocumentCategory/DocumentCategoryViewModel.js"></script>
        <script src="/ViewModels/DocumentCategory/DocumentCategoryIndexViewModel.js"></script>*@
}
@section scripts{
    <script>
        require(["DocumentCategory/DocumentCategoryIndexViewModel"],
            function (DocumentCategoryIndexViewModel) {
                ko.applyBindings(new DocumentCategoryIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
                jQuery.ajaxSetup({ cache: false });
            });
    </script>
}
@await Html.PartialAsync("~/Views/Shared/_DocumentModelMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>Document Categories</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectAll" />
                    </span>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: selectedDocumentCategories().length > 0" data-reveal-id="ExportModal"><i class="fi-download" aria-hidden="true"></i> Export <span data-bind="text: selectedDocumentCategories().length"></span> Categories</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-reveal-id="CreateModal" data-bind="enable: !isReadOnlyMode()"><i class="fi-plus" aria-hidden="true"></i> New Category</button>
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <table style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 2.3125rem;"></th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'name')">Name</a>
                        <span data-bind="visible: orderProperty() == 'name'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: documentCategories">
                <tr>
                    <td>
                          <input type="checkbox" data-bind="checked: isSelected" />
                        @*<input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedDocumentCategories" />*@
                    </td>

                    <td>
                        <a data-bind="attr: { href: $parent.baseUrl() + '/DocumentCategory/Edit/' + $data.id() }" title="Edit the document category">
                            <span data-bind="text: name"></span>
                        </a>
                    </td>
                    <td class="actions-col">
                        <div data-bind="visible: $parent.tableMode()=='normal'">
                            <a data-bind="attr: { href: $parent.baseUrl() + '/DocumentCategory/Edit/' + $data.id() }" title="Edit the document category"><i class="fi-pencil" aria-hidden="true"></i> Edit</a>
                            <a data-bind="click: $parent.showDeleteModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()"><i class="fi-x" aria-hidden="true"></i> Delete</a>
                        </div>
                        <div data-bind="visible: $parent.tableMode()=='deleted'">
                            <a data-bind="click: $parent.showReviveModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()" title="Revive the document category"><i class="fi-refresh" aria-hidden="true"></i> Revive</a>
                            <a data-bind="click: $parent.showDeletePermanentlyModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()" title="Delete the document category permanently"><i class="fi-refresh" aria-hidden="true"></i> Delete permanently</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <label>Page <span data-bind="text: pageNumber"></span> of <span data-bind="text: pageCount"></span></label>
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Document Category</h3>
    <a class="close-reveal-modal">&#215;</a>

    <input type="text" placeholder="Name of the Document Category" data-bind="value: newDocCategoryName" />

    <div class="button-bar">
        <input type="submit" class="button small" value="Create" data-bind="click: createDocumentCategory" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to delete the document category?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteDocumentCategory" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeletePermanentlyModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to delete the document category permanently?
        <br />
        It will be removed completely from the database and cannot be restored.
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteDocumentCategoryPermanently" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ReviveModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Revive <span data-bind="text: reviveModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to revive the document category?
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Revive" data-bind="click: reviveDocumentCategory" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ExportModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Export</h3>
    <a class="close-reveal-modal">&#215;</a>

    <p></p>
    <table class="data-table" style="width: 100%">
        <tr>
            <td style="width: 16px">
                <input type="checkbox" disabled="disabled" checked="checked" />
            </td>
            <td colspan="3">Document Category</td>
        </tr>
    </table>

    <div class="button-bar">
        <button class="small icon-left" data-bind="click: downloadDataPackage"><i class="fi-download" aria-hidden="true"></i> Download</button>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>
