@{
    ViewBag.Title = "Edit Addresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.Id;
}


@section head{
    <script src="/Scripts/require.js"></script>
}


@section scripts {
    <script>
    require(["Address/AddressEditViewModel"],
        function (AddressEditViewModel) {
            ko.applyBindings(new AddressEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
        });

    </script>
}
<div class="row ela-row ela-content-header">
    <div class="column">
        <h2>Address</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="name" type="text" data-bind="value: name, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="phone" class="right inline">Phone No. Prefix:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="phone" type="text" data-bind="value: phone, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="isDefault" class="right inline">Is Default:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isDefault" data-bind="checked: isDefault, enable: !isReadOnlyMode()" /> <label for="isDefault">New users will automatically get a workplace for this address.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="activeDirectoryReference" class="right inline">AD Reference:</label>
    </div>
    <div class="medium-3 large-2 columns">
        <input id="activeDirectoryReference" type="text" data-bind="value: activeDirectoryReference, enable: !isReadOnlyMode()" />
    </div>
    <div class="medium-6 large-8 columns">
        <label for="activeDirectoryReference" class="inline">Used by ADLink. It should contain the value of the L-field (location) in Active Directory.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Translations:</label>
    </div>
    <div class="medium-9 large-10 columns">
        @* ReSharper disable Asp.Entity *@
        <a data-bind="attr: { href: baseUrl() + '/Translations?t=alias&l=*&q=' + nameTextAlias() }, visible: hasNameText" class="button small secondary">Name Text</a>
        <button data-bind="click: createNameText, visible: !hasNameText(), enable: !isReadOnlyMode()" class="button small secondary">Create Name</button>
        <a data-bind="attr: { href: baseUrl() + '/Translations?t=alias&l=*&q=' + locationTextAlias() }" class="button small secondary">Location Text</a>
        <a data-bind="attr: { href: baseUrl() + '/Translations?t=alias&l=*&q=' + footerTextAlias() }" class="button small secondary">Footer Text</a>
        @* ReSharper restore Asp.Entity *@
    </div>
</div>

<div class="row ela-row">
    <div class="medium-2 large-2 columns">&nbsp;</div>
    <div class="medium-10 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: $root.save.bind($root), enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>