@{
    ViewBag.Title = "Addresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <script src="/Scripts/require.js"></script>
}
@section scripts {
    <script>
    require(["Address/AddressIndexViewModel"],
        function(AddressIndexViewModel) {
        ko.applyBindings(new AddressIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
        });

    </script>
}
    <div class="row ela-row ela-content-header">
        <div class="medium-8 columns">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="medium-4 columns">
            <div class="row collapse">
                <div class="columns">
                    <input id="SearchBox" type="search" placeholder="Search..." autocomplete="off" data-bind="textInput: searchInput" />
                </div>
            </div>
        </div>
    </div>

    <div class="row ela-row">
        <div class="columns">
            <div class="button-bar">
                <ul class="button-group">
                    <li>
                        <span class="button secondary inline">
                            <input type="checkbox" data-bind="checked: isSelectedAll" />
                        </span>
                    </li>
                    <li>
                        <button class="secondary inline icon-left" data-bind="enable: selectedAddresses().length > 0" data-reveal-id="ExportModal"><i class="fi-download" aria-hidden="true"></i> Export <span data-bind="text: selectedAddresses().length"></span> Address(es)</button>
                    </li>
                </ul>
                <ul class="button-group">
                    <li>
                        <button class="secondary inline icon-left" data-reveal-id="CreateModal" data-bind="enable: !isReadOnlyMode()"><i class="fi-plus" aria-hidden="true"></i> New Address</button>
                    </li>
                </ul>
                <ul class="button-group right toggle" data-toggle="buttons-radio">
                    <li>
                        <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                        <label class="button inline" for="r1">Normal</label>
                    </li>
                    <li>
                        <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                        <label class="button inline" for="r2">Deleted</label>
                    </li>
                </ul>
                @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
            </div>
        </div>
    </div>

    <div class="row ela-row">
        <div class="columns">
            <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
            <table style="width: 100%;" class="data-table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 2.3125rem;"></th>
                        <th scope="col">
                            <a data-bind="click: orderBy.bind($data, 'name')">Address</a>
                            <span data-bind="visible: orderProperty() == 'name'">
                                <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                                <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                            </span>
                        </th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: addresses">
                    <tr>
                        <td>
                            <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedAddresses" />
                        </td>
                        <td>
                            <a data-bind="attr: { href: $parent.baseUrl() + '/Address/Edit/' + $data.id() }" title="Edit the address">
                                <span data-bind="text: name"></span>
                            </a>
                            <span class="label secondary radius" data-bind="visible: isDefault" style="margin-left: 12px">Default</span>
                        </td>
                        <td class="actions-col">
                            <div data-bind="visible: $parent.tableMode()=='normal'">
                                <a data-bind="attr: { href: $parent.baseUrl() + '/Address/Edit/' + $data.id() }" title="Edit the address"><i class="fi-pencil" aria-hidden="true"></i> Edit</a>
                                <a data-bind="click: $parent.showDeleteModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()" title="Delete the address"><i class="fi-trash" aria-hidden="true"></i> Delete</a>
                            </div>
                            <div data-bind="visible: $parent.tableMode()=='deleted'">
                                <a data-bind="click: $parent.showRestoreModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()" title="Restore the address"><i class="fi-refresh" aria-hidden="true"></i> Restore</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="row ela-row">
        <div class="columns">
            @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
        </div>
    </div>

    <div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h3>New Address</h3>
        <a class="close-reveal-modal">&#215;</a>

        <input type="text" placeholder="Name of the Address" data-bind="value: newAddressName" />

        <div class="button-bar">
            <input type="submit" class="button small" value="Create" data-bind="click: createAddress" />
            <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
        </div>
    </div>

    <div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h3>Delete <span data-bind="text: deleteModalTitle"></span></h3>
            <a class="close-reveal-modal">&#215;</a>

            <p>Do you really want to delete the address?</p>

            <div class="button-bar">
                <input type="submit" class="button small" value="Delete" data-bind="click: deleteAddress" />
                <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
            </div>
        </div>

        <div id="RestoreModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h3>Restore <span data-bind="text: restoreModalTitle"></span></h3>
            <a class="close-reveal-modal">&#215;</a>

            <p>Do you really want to restore the address?</p>

            <div class="button-bar">
                <input type="submit" class="button small" value="Restore" data-bind="click: restoreAddress" />
                <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
            </div>
        </div>

    <div id="ExportModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h3>New Export</h3>
        <a class="close-reveal-modal">&#215;</a>
        <p>Which dependencies do you want to export?</p>
        <table class="data-table" style="width: 100%">
            <tr>
                <td style="width: 16px">
                    <input type="checkbox" disabled="disabled" checked="checked" />
                </td>
                <td colspan="3">Addresses</td>
            </tr>
            <tr>
                <td></td>
                <td style="width: 16px">
                    <input type="checkbox" data-bind="checked: includeDependencies" />
                </td>
                <td colspan="2">Texts, Translations and Languages</td>
            </tr>
        </table>
        <div class="button-bar">
            <button class="small icon-left" data-bind="click: downloadDataPackage"><i class="fi-download" aria-hidden="true"></i> Download</button>
            <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
        </div>
    </div>