@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section WebPackBundles {
    <script src="/dist/import.bundle.js"></script>
    <script src="/dist/monaco-editor-common.bundle.js"></script>
}

<script>
    $(document).ready(function () {
        initKnockout('@ViewBag.Baseurl');
    });
</script>

@await Html.PartialAsync("_DataExchangeMenu")

<div id="root">
    <div class="row ela-row ela-content-header">
        <div class="columns">
            <h2>Data Import</h2>
        </div>
    </div>

    <div class="row ela-row">
        <div class="columns">
            <div class="button-bar">
                <input type="file" id="dataPackageFile" data-bind="event: { change: function() { dataPackageFileSelected($element.files[0]) } }" class="hide">
                <ul class="button-group">
                    <li>
                        <button class="secondary inline" data-bind="click: selectDataPackageFile, css: { secondary: isStep2 }" title="Click to browse for a data package.">
                            1. Upload Data Package
                        </button>
                    </li>
                </ul>
                <ul class="button-group">
                    <li>
                        <button class="secondary inline" data-bind="click: confirmImportDataPackage, enable: isStep2, css: { secondary: isStep1 }">
                            2. Import
                        </button>
                    </li>
                </ul>
                <ul class="button-group">
                    <li>
                        <img id="actionProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' style="display: none; margin-left: 0.5rem; margin-top: 0.5rem;" alt="" />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row ela-row" data-bind="visible: isStep2">
        <div class="medium-3 large-2 column">
            <label class="inline right"></label>
        </div>
        <div class="medium-9 large-10 column">
            <div class="alert-box alert" data-bind="visible: isStep2 && isCentralData">You have uploaded a Central Data Package. This includes all data except Users and Person Names.</div>
        </div>
    </div>
    <div class="row ela-row" data-bind="visible: isStep2">
        <div class="medium-3 large-2 column">
            <label class="inline right">Package: </label>
        </div>
        <div class="medium-9 large-10 column">
            <textarea data-bind="text: uploadFileName" disabled></textarea>
        </div>
    </div>
    <div class="row ela-row" data-bind="visible: isStep2">
        <div class="medium-3 large-2 column">
            <label class="inline right">Package Description: </label>
        </div>
        <div class="medium-9 large-10 column">
            <textarea data-bind="text: uploadDescription" disabled></textarea>
        </div>
    </div>
    <div class="row ela-row" data-bind="visible: isStep2">
        <div class="medium-3 large-2 column">
            <label class="inline right">Package Created: </label>
        </div>
        <div class="medium-9 large-10 column">
            <input type="text" data-bind="value: uploadCreated" disabled />
        </div>
    </div>
    <div class="row ela-row" data-bind="visible: isStep2">
        <div class="medium-3 large-2 column">
            <label class="inline right">Implications: </label>
        </div>
        <div class="medium-9 large-10 column">
            <textarea type="text" data-bind="value: diff.report" style="min-height: 500px" disabled></textarea>
        </div>
    </div>
    <div class="row ela-row" data-bind="visible: isStep2">
        <div class="medium-3 large-2 column">
            <label class="inline right">Detailed Changes: </label>
        </div>
        <div class="medium-9 large-10 column">
            <img id="comparisonActionProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' style="display: none; margin-left: 0.5rem; margin-top: 0.5rem;" alt="" />
            <div data-bind="foreach: comparisonResult().changed">
                <div>
                    <div class="panel" style="margin: 0 0 -1px; padding: 10px 11px 6px">
                        <span class="label left" style="margin-right:10px">Changed</span>
                        <span class="success label left" style="margin-right:10px" data-bind="text: typeName"></span>
                        <span class="alert label left" style="margin-right:10px" data-bind="visible: isDeleted">Deleted</span>
                        <span data-bind="text: (name ? name : '-')"></span>
                        <span class="label right" style="width: 230px" data-bind="text: id"></span>
                    </div>
                    <table style="margin-top: 0; width: 100%;" class="data-table" data-bind="visible: propertyDifferences.length > 0">
                        <thead>
                            <tr>
                                <td>Property</td>
                                <td>Current Value</td>
                                <td>New Value</td>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: propertyDifferences">
                        <tr>
                            <td style="width: 20%; vertical-align:top"><span data-bind="text: propertyName"></span></td>

                            <!-- ko if: propertyName == 'RawContent' -->
                            <td style="width: 80%; vertical-align:top" colspan="2">
                                <div data-bind="attr: {id: 'editor_xml_' + $parent.id}" style="height: 400px; border: 1px solid #ccc; margin-left:30px"></div>
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot: propertyName == 'RawContent' -->
                            <!-- ko if: propertyName == 'Configuration' -->
                            <td style="width: 80%; vertical-align:top" colspan="2">
                                <div data-bind="attr: {id: 'editor_json_' + $parent.id}" style="height: 400px; border: 1px solid #ccc; margin-left:30px"></div>
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot: propertyName == 'Configuration' -->
                            <td style="width: 40%; vertical-align:top">
                                <span data-bind="text: valueA"></span>
                            </td>
                            <td style="width: 40%; vertical-align:top">
                                <span data-bind="text: valueB"></span>
                            </td>
                            <!-- /ko -->
                            <!-- /ko -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-bind="foreach: comparisonResult().added">
                <div class="panel" style="padding: 10px 11px 6px">
                    <span class="label left" style="margin-right:10px">Added</span>
                    <span class="success label left" style="margin-right:10px" data-bind="text: typeName"></span>
                    <span class="alert label left" style="margin-right:10px" data-bind="visible: isDeleted">Deleted</span>
                    <span data-bind="text: (name ? name : '-')"></span>
                    <span class="label right" style="width:230px" data-bind="text: id"></span>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="ImportCentralDataModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role ="dialog">
    <h3>Import Central Data Package</h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to import the Central Data?
        <br />
        The data package includes all data except of Users and Person Names. 
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Import" data-bind="click: importDataPackage" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>
