@model Guid
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Users/UsersEditViewModel"],
            function(UsersEditViewModel) {
                ko.applyBindings(new UsersEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_UsersMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2>User</h2>
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>General</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="login" class="right inline">Login:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="login" type="text" data-bind="value: login" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="created" class="right inline">Created:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="created" type="text" data-bind="value: createdDate" readonly />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">User Groups:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <table style="width: 100%;" class="data-table">
            <thead>
            <tr>
                <td style="width: 32px"></td>
                <td style="width: 200px">User Group</td>
                <td>Description</td>
            </tr>
            </thead>
            <tbody data-bind="foreach: userGroups">
            <tr>
                <td><input type="checkbox" data-bind="checked: isSelected, attr: { id: id}" /></td>
                <td><label data-bind="text: name, attr: { for: id }"></label></td>
                <td><label data-bind="text: description, attr: { for: id }"></label></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="author" class="right inline">Author:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <a id="author" data-bind="attr: { href: baseUrl() + '/Authors/Edit/' + authorId() }" class="button small secondary">Edit Author</a>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Devices</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Devices:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <table>
            <thead>
                <tr>
                    <th scope="col">Device</th>
                    <th scope="col">OS</th>
                    <th scope="col">Office</th>
                    <th scope="col">EL Version</th>
                    <th scope="col">Initialised</th>
                    <th scope="col">User Install</th>
                    <th scope="col">Machine Install</th>
                    <th scope="col"><abbr title="Quick Start Guide">QSG</abbr> shown</th>
                    <th scope="col">Last Use*</th>
                    <th scope="col">Remote Wipe</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: devices">
                <tr>
                    <td>
                        <a data-bind="attr: { href: $parent.baseUrl() + '/Devices/Edit/' + $data.id() }" title="View device details"><span data-bind="text: deviceName"></span></a>
</td>
                    <td>
                        <span data-bind="text: operatingSystem"></span><br />
                        <span class="small-1">.NET Runtime </span><span data-bind="text: dotNetRuntimeVersion"></span><br />
                        <span>.NET Framework </span><span data-bind="text: dotNetFrameworkVersion"></span>
                    </td>
                    <td>
                        <span data-bind="text: officeVersion"></span><br />
                        <span>Load times: </span><span data-bind="text: addInLoadTimes"></span>
                    </td>
                    <td>
                        <span data-bind="text: addinVersion"></span>
                    </td>
                    <td>
                        <span data-bind="text: isInitialised"></span>
                    </td>
                    <td>
                        <span data-bind="text: isPerUserInstall"></span>
                    </td>
                    <td>
                        <span data-bind="text: isPerMachineInstall"></span>
                    </td>
                    <td>
                        <span data-bind="text: quickStartGuideShown"></span>
                    </td>
                    <td>
                        <span data-bind="text: lastUse"></span>
                    </td>
                    <td>
                        <span data-bind="visible: isRemoteWipeRequested">Pending Remote Wipe</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="button small secondary" data-bind="enable: !isSaving()" data-reveal-id="RemoteWipeDialog">Remote Wipe Devices</button>
        <label>* Date when this device's properties were updated and synchronised successfully. Only the month is saved (for privacy reasons).</label>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Settings</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="dataSyncDelay" class="right inline">DataSync Delay:</label>
    </div>
    <div class="medium-4 large-5 columns">
        <input id="dataSyncDelay" type="number" data-bind="value: dataSyncDelay" />
    </div>
    <div class="medium-5 large-5 columns">
        <span class="inline">Minutes</span>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="dataSyncInterval" class="right inline">DataSync Interval:</label>
    </div>
    <div class="medium-4 large-5 columns">
        <input id="dataSyncInterval" type="number" data-bind="value: dataSyncInterval" />
    </div>
    <div class="medium-5 large-5 columns">
        <span class="inline">Minutes</span>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="isCepEnabled" class="right inline">CEP:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isCepEnabled" data-bind="checked: isCepEnabled" /> <label for="isCepEnabled">The user is a member of the consumer experience program.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="isInsertNameInline" class="right inline">Insert Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isInsertNameInline" data-bind="checked: isInsertNameInline" /> <label for="isInsertNameInline">Use inline mode.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-2 large-2 columns">&nbsp;</div>
    <div class="medium-10 large-10 column">
        <div class="button-bar left">
            <a class="button small" data-bind="enable: !isSaving(), click: $root.save.bind($root)">Save</a>
        </div>
    </div>
</div>

<div id="RemoteWipeDialog" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Remote Wipe</h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>Do you really want to wipe data on the user's devices?</p>
    <div class="button-bar">
        <button class="small" data-bind="click: $root.requestRemoteWipe.bind($root)"> Yes</button>
        <a data-bind="click: closeModal" class="button small secondary">No</a>
    </div>
</div>
