@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        require(["Users/UsersIndexViewModel"],
// ReSharper disable once InconsistentNaming
            function(UsersIndexViewModel) {
                ko.applyBindings(new UsersIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_UsersMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="medium-6 columns">
        <h2>Users</h2>
    </div>
    <div class="medium-6 columns">
        <div class="row collapse">
            <div class="small-11 columns">
                <input id="SearchBox" type="search" placeholder="Search..." autocomplete="off" data-bind="textInput: searchInput" />
            </div>
            <div class="small-1 columns">
                <span class="postfix">
                    <a href="#" data-dropdown="QueryHelp">
                        <i class="fi-info" style="font-size: 24px;" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div id="QueryHelp" data-dropdown-content class="f-dropdown large content">
        <label>Entering a single term will automatically search in the fields Login, Name, Email and Org.Acronym, but not in the User Groups.</label><br />
        <label>You can search in specific fields by using an equals operator, e.g.:</label>
        <ul>
            <li>Login=John</li>
            <li>Name=John</li>
            <li>Email=John@example.com</li>
            <li>OrgAcronym=AGRI</li>
            <li>UserGroup=Users</li>
        </ul>
        <label>You can also join multiple conditions using an AND operator:</label>
        <ul>
            <li>Name=John AND OrgAcronym=AGRI</li>
        </ul>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                @*<li><div class="button secondary inline"><input type="checkbox" data-bind="checked: isSelectAll" /></div></li>*@
                @*<li><button class="secondary inline icon-left" data-bind="enable: hasSelection" data-reveal-id="DeleteModal"><i class="fi-trash" aria-hidden="true"></i> Delete</button></li>*@
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-reveal-id="CreateModal"><i class="fi-plus" aria-hidden="true"></i>&nbsp;New User</button>
                    <button class="secondary inline icon-left" data-bind="click: linkUsers"><i class="fi-link" aria-hidden="true"></i>&nbsp;Link Users</button>
                    <button class="secondary inline icon-left" data-bind="click: cleanUpUsers"><i class="fi-trash" aria-hidden="true"></i>&nbsp;Clean Up Retired Users</button>
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="large-12 columns">
        <table id="usersTable" style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    @*<th scope="col" style="width: 2.3125rem;"></th>*@
                    <th scope="col" style="width: 12rem">
                        <a data-bind="click: orderBy.bind($data, 'login')">Login</a>
                        <span data-bind="visible: orderProperty() == 'login'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'name')">Name</a>
                        <span data-bind="visible: orderProperty() == 'name'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'orgAcronym')">Org. Acronym</a>
                        <span data-bind="visible: orderProperty() == 'orgAcronym'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'email')">Email</a>
                        <span data-bind="visible: orderProperty() == 'email'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'created')">Created</a>
                        <span data-bind="visible: orderProperty() == 'created'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        User Groups
                    </th>
                    <th scope="col">
                        OS
                    </th>
                    <th scope="col">
                        EL10 Version
                    </th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: users">
                <tr>
                    @*<td><input type="checkbox" data-bind="checked: isSelected" /></td>*@
                    <td>
                        <a data-bind="attr: { href: $parent.baseUrl() + '/Users/Edit/' + $data.id }" title="Edit the user"><span data-bind="text: login"></span></a>
                    </td>
                    <td>
                        <span data-bind="text: displayName"></span>
                    </td>
                    <td>
                        <span data-bind="text: service"></span>
                    </td>
                    <td>
                        <span data-bind="text: email"></span>
                    </td>
                    <td>
                        <span data-bind="text: createdDate"></span>
                    </td>
                    <td>
                        <span data-bind="text: userGroups"></span>
                    </td>
                    <td>
                        <span data-bind="text: operatingSystems"></span>
                    </td>
                    <td>
                        <span data-bind="text: addinVersions"></span>
                    </td>
                    <td class="actions-col">
                        <div data-bind="visible: $parent.tableMode()=='normal'">
                            <a data-bind="attr: { href: $parent.baseUrl() + '/Users/Edit/' + $data.id }" title="Edit the user"><i class="fi-pencil" aria-hidden="true"></i> Edit</a>
                            <a data-bind="click: $parent.showDeleteModal.bind($parent, $data)"><i class="fi-x" aria-hidden="true"></i> Delete</a>
                        </div>
                        <div data-bind="visible: $parent.tableMode()=='deleted'">
                            <a data-bind="click: $parent.showReviveModal.bind($parent, $data)" title="Revive the user"><i class="fi-refresh" aria-hidden="true"></i> Restore</a>
                            <a data-bind="click: $parent.showDeletePermanentlyModal.bind($parent, $data)" title="Delete the user permanently"><i class="fi-refresh" aria-hidden="true"></i> Delete permanently</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New User</h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>Please use the full Windows login name: DOMAIN\&lt;login&gt;</p>
    <input type="text" placeholder="Windows login name" data-bind="value: newUserName" />
    <input type="checkbox" id="forceCreate" data-bind="checked: forceCreate" />
    <label for="forceCreate">Create the user, even if it is not in the Active Directory.</label>
    <div class="button-bar">
        <input type="submit" class="button small" value="Create" data-bind="click: createUser" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeletePermanentlyModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to delete the user profile permanently?
        <br />
        It will be removed completely from the database and cannot be restored.
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteUserPermanently" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>
        Do you really want to delete the user profile?
    </p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteUser" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ReviveModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Revive <span data-bind="text: reviveModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to revive the user profile?
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Revive" data-bind="click: reviveUser" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>