@import 'colors.scss';

.search-bar {
  @media (min-width: #{$breakpoint-s}px) {
    width: #{$page-width-s}px;
  }

  @media (min-width: #{$breakpoint-m}px) {
    width: #{$page-width-m}px;
  }

  @media (min-width: #{$breakpoint-l}px) {
    width: #{$page-width-l}px;
  }

  @media (min-width: #{$breakpoint-xl}px) {
    width: #{$page-width-xl}px;
  }

  &.small {
    @media (min-width: #{$breakpoint-s}px) {
      width: #{$page-width-s}px;
    }

    @media (min-width: #{$breakpoint-l}px) {
      width: #{$page-width-s}px;
    }

    @media (min-width: #{$breakpoint-xl}px) {
      width: #{$page-width-m}px;
    }
  }

  button {
    span {
      font-size: 14px;
    }
  }

  svg {
    width: 14px;
    height: 14px;
    vertical-align: sub;
  }
}
