@{
    ViewBag.Title = "Translations";
}
@section head{
    <script src="/Scripts/autosize.js"></script>
    <script src="/Scripts/require.js"></script>

}

@section scripts {
    <script>
        require(["Translations/TranslationsIndexViewModel"],
            function(TranslationsIndexViewModel) {

                ko.baseUrl = '@ViewBag.Baseurl';
                ko.viewModel = new TranslationsIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode');
                ko.applyBindings(ko.viewModel);

                jQuery.ajaxSetup({ cache: false });

                $(document).ready(function () {
                    var translationSearchTextboxDelay;
                    $("#translationSearchTextbox").keyup(function () {
                        var translationSearchQuery = this.value;
                        window.clearTimeout(translationSearchTextboxDelay);
                        translationSearchTextboxDelay = window.setTimeout(function () {
                                ko.viewModel.queryForTranslation(translationSearchQuery);
                            },
                            500);
                    });

                    $("#aliasSearchTextbox").val(ko.viewModel.aliasSearchText());
                    $("#aliasSearchTextbox").autocomplete({
                        source: function(request, response) {
                            var url = ko.baseUrl + "/Texts/Alias/?q=" + request.term;
                            $.getJSON(url,
                                function(data) {
                                    response(data);
                                });
                        },
                        minLength: 3,
                        messages: {
                            noResults: '',
                            results: function() {}
                        },
                        change: function(event, ui) {
                            if (ui.item) {
                                ko.viewModel.queryForAlias(ui.item.value);
                            }
                        }
                    });
                    var aliasTextboxDelay;
                    $("#aliasSearchTextbox").keyup(function() {
                        var aliasQuery = this.value;
                        window.clearTimeout(aliasTextboxDelay);
                        aliasTextboxDelay = window.setTimeout(function() {
                                ko.viewModel.queryForAlias(aliasQuery);
                            },
                            500);
                    });

                });
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_TextsMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="large-6 medium-12 columns">
        <h2>Translations</h2>
    </div>
    <div class="large-3 medium-6 columns">
        <div class="row collapse">
            <div class="small-4 columns">
                <span class="prefix">Texts</span>
            </div>
            <div class="small-8 columns">
                <select id="typeSelectbox" data-bind="foreach: typeFilters, value: selectedTypeFilter">
                    <optgroup data-bind="attr: { label: label }, foreach: options">
                        <option data-bind="text: displayName, value: id"></option>
                    </optgroup>
                </select>
                <input id="aliasSearchTextbox" type="text" data-bind="text: aliasSearchText, visible: isAliasSearchTextboxVisible" style="margin-top: -1em" placeholder="Search text" />
                <input id="translationSearchTextbox" type="text" data-bind="visible: isTranslationSearchTextboxVisible, value: translationSearchText" style="margin-top: -1em" placeholder="Search text" />
            </div>
        </div>
    </div>
    <div class="large-3 medium-6 columns">
        <div class="row collapse">
            <div class="small-5 columns">
                <span class="prefix">Translations</span>
            </div>
            <div class="small-7 columns">
                <select id="languageSelectbox" data-bind="options: languageFilters, optionsText: 'displayName', optionsValue: 'name', value: selectedLanguageCode"></select>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectedAll" />
                    </span>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: hasSelection && !isReadOnlyMode(), click: editTranslations"><i class="fi-arrow-right" aria-hidden="true"></i> Save</button>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: hasSelection && !isReadOnlyMode() && tableMode() !== 'deleted'" data-reveal-id="DeleteModal"><i class="fi-trash" aria-hidden="true"></i> Delete</button>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: hasSelection" data-reveal-id="ExportModal"><i class="fi-download" aria-hidden="true"></i> Export <span data-bind="text: selectedTranslations().length"></span> Translations(s)</button>
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="large-12 columns">
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <table style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 2.3125rem;"></th>
                    <th scope="col" style="width: 18rem">
                        <a data-bind="click: orderBy.bind($data, 'alias')">Text</a>
                        <span data-bind="visible: orderProperty() == 'alias'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col" style="width: 6rem">Lang.</th>
                    <th scope="col">Translation</th>
                </tr>
            </thead>
            <tbody id="TranslationsTableBody" data-bind="foreach: translations">
                <tr>
                    <td>
                        <input type="checkbox" data-bind="checked: isSelected" />
                    </td>
                    <td>
                        <a data-bind="attr: { href: $parent.baseUrl() + '/Texts/Edit/' + textId() }" title="Edit the text">
                            <span data-bind="text: textAlias"></span>
                        </a>
                    </td>
                    <td>
                        <span data-bind="text: languageName"></span>
                    </td>
                    <td style="padding: 0">
                        <textarea rows="1" style="min-height: 0; margin: 0;"
                                  data-bind="css: { notranslation: !hasTranslation() }, value: value, attr: { placeholder: placeholderText() }, enable: !$parent.isReadOnlyMode()"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete Translations</h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to delete these translations?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteTranslations" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ExportModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Export</h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>Which dependencies do you want to export?</p>
    <table class="data-table" style="width: 100%">
        <tr>
            <td style="width: 16px">
                <input type="checkbox" disabled="disabled" checked />
            </td>
            <td colspan="2">Translations</td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" data-bind="checked: includeTexts" />
            </td>
            <td>Texts</td>
        </tr>
    </table>
    <div class="button-bar">
        <button class="small icon-left" data-bind="click: downloadDataPackage"><i class="fi-download" aria-hidden="true"></i> Download</button>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>
