@{
    ViewBag.Title = "Edit Metadata Definition";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Metadata/MetadataDefinitionEditViewModel"],
            function(MetadataDefinitionEditViewModel) {
                ko.applyBindings(new MetadataDefinitionEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("_MetadataMenu")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2><span data-bind="text: name"></span> - Metadata Definition</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>General</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="name" data-bind="value: name, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="metadataType" class="right inline">Metadata Type:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="metadataType" data-bind="options: metadataTypes, optionsValue: 'value', optionsText: 'name', value: metadataType, enable: !isReadOnlyMode()"></select>
    </div>
</div>

<div class="row ela-row" data-bind="visible: isBoundToTermSet">
    <div class="medium-3 large-2 columns">
        <label for="termSetId" class="right inline">Referenced Term Set:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select name="termSetId" id="termSetId" data-bind="options: termSets, optionsValue: 'sharePointId', optionsText: 'name', value: termSetId, visible: termSetsLoaded, enable: !isReadOnlyMode()"></select>
        <img id="actionProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' alt="" />
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>User Interface</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="displayName" class="right inline">Display Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="displayName" name="displayName" data-bind="value: displayName, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="description" class="right inline">Description/Tooltip:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <textarea id="description" name="description" data-bind="value: description, enable: !isReadOnlyMode()"></textarea>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="metadataCategories" class="right inline">Category:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="metadataCategories" data-bind="options: metadataCategories, optionsValue: 'id', optionsText: 'name', value: metadataCategoryId, enable: !isReadOnlyMode()"></select>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="position" class="right inline">Position:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="position" name="position" data-bind="value: position, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="isReadOnly" class="right inline">ReadOnly:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isReadOnly" name="isReadOnly" data-bind="checked: isReadOnly, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="position" class="right inline">Editable by:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <table style="width: 100%;" class="data-table" aria-label="User Groups and their description">
            <thead>
            <tr>
                <td style="width: 32px"></td>
                <td style="width: 200px">User Group</td>
                <td>Description</td>
            </tr>
            </thead>
            <tbody data-bind="foreach: allUserGroupDataModels">
            <tr>
                <td><input type="checkbox" data-bind="checked: isSelected, attr: { id: id}, enable: !$parent.isReadOnlyMode()" /></td>
                <td><label data-bind="text: name, attr: { for: id }"></label></td>
                <td><label data-bind="text: description, attr: { for: id }"></label></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="isHidden" class="right inline">Hidden:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isHidden" name="isHidden" data-bind="checked: isHidden, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Validation</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="isMandatory" class="right inline">Mandatory:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isMandatory" name="isMandatory" data-bind="checked: isMandatory, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="minLength" class="right inline">Min-Length:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="minLength" name="minLength" data-bind="value: minLength, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="maxLength" class="right inline">Max-Length:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="maxLength" name="maxLength" data-bind="value: maxLength, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-2 large-2 columns">&nbsp;</div>
    <div class="medium-10 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: save, enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>