@import 'colors.scss';

.template-description {
  margin-top: 20px;
}

.template-owner {
  font-family: "Segoe UI";
  font-size: 14px;
  color: $sidebar-color;
  line-height: 30px;
}

.template-description {
  font-size: 14px;
  white-space: pre-wrap
}

.template-actions {
  display: flex;
  justify-content: space-between;
}

div.edit-items-container {
  height: 100px;
  padding: 4px;
  border: 1px solid $secondary-border-color;
  border-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;

  .template-file-item:hover, .owner-item:hover {
    .hover-action {
      display: block;
    }
  }

  .highlighted {
    outline: 1px solid $secondary-border-color;
  }

  .main-owner {
    svg {
      path {
        fill: $primary-color;
      }
    }
  }
}
