@{
    ViewBag.Title = "Edit Metadata Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Metadata/MetadataCategoryEditViewModel"],
            function(MetadataCategoryEditViewModel) {
                ko.applyBindings(new MetadataCategoryEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("_MetadataMenu")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2 data-bind="text: name()"></h2>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>General</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="name" data-bind="value: name, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Members:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <ul class="clearfix document-models" data-bind="foreach: metadataDefinitions">
            <li data-bind="attr: { id: id }" class="document-models">
                <span class="struct-label struct-label-narrow" data-bind="text: name, attr: {title: name }"></span>
                <a data-bind="attr: { href: $parent.baseUrl() + '/Metadata/Definitions/' + $data.id }" title="Edit the metadata definition">
                    <i class="fi-pencil" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>User Interface</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="displayName" class="right inline">Display Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="displayName" name="displayName" data-bind="value: displayName, enable: !isReadOnlyMode()"/>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="description" class="right inline">Description/Tooltip:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <textarea id="description" name="description" data-bind="value: description, enable: !isReadOnlyMode()"></textarea>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="uiPositionIndex" class="right inline">Position Index:</label>
    </div>
    <div class="medium-5 large-5 columns">
        <input type="text" id="uiPositionIndex" name="uiPositionIndex" data-bind="value: uiPositionIndex, enable: !isReadOnlyMode()"/>
    </div>
    <div class="medium-4 large-5 columns">
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">&nbsp;</div>
    <div class="medium-9 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: save, enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>
