@model Guid
@{
    ViewBag.Title = "Edit Text";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}
@*@model Eurolook.ManagementConsole.ViewModels.Texts.TextEditViewModel*@

@section head {
    <script src="/Scripts/require.js"></script>
    @*<script src="/ViewModels/PaginatedTableViewModel.ts"></script>
        <script src="/ViewModels/Texts/TextEditViewModel.ts"></script>
        <script src="/ViewModels/Texts/TextViewModel.ts"></script>
        <script src="/ViewModels/Translations/TranslationViewModel.js"></script>*@

}

@section scripts {
    <script>
        require(["Texts/TextEditViewModel"],
            function(TextEditViewModel) {
                ko.applyBindings(new TextEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });

    </script>
}

@await Html.PartialAsync("~/Views/Shared/_TextsMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2><span data-bind="text: alias"></span> - Text</h2>
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Used in Bricks:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <ul class="clearfix document-models" data-bind="foreach: usedInBricks">
            <li class="document-models">
                <span class="struct-label struct-label-narrow" data-bind="text: name"></span>
                <a data-bind="attr: { href: $parent.baseUrl() + '/Bricks/Edit/' + id }" title="Edit the brick">
                    <i class="fi-pencil" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row ela-row">
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Used in Orga Entities:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <ul class="clearfix document-models" data-bind="foreach: usedInOrgaEntities">
            <li class="document-models">
                <span class="struct-label struct-label-narrow" data-bind="text: name"></span>
            </li>
        </ul>
    </div>
</div>

<div class="row ela-row">
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Used in Addresses:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <ul class="clearfix document-models" data-bind="foreach: usedInAddresses">
            <li class="document-models">
                <span class="struct-label struct-label-narrow" data-bind="text: name"></span>
                <a data-bind="attr: { href: $parent.baseUrl() + '/Address/Edit/' + id }" title="Edit the address">
                    <i class="fi-pencil" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row ela-row">
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Used in Predefined Functions:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <ul class="clearfix document-models" data-bind="foreach: usedInPredefinedFunctions">
            <li class="document-models">
                <span class="struct-label struct-label-narrow" data-bind="text: name"></span>
                <a data-bind="attr: { href: $parent.baseUrl() + '/PredefinedFunctions/Edit/' + id }" title="Edit the predefined function">
                    <i class="fi-pencil" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row ela-row">
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">System Text:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isSystemText" name="isSystemText" data-bind="checked: isSystemText, enable: !isReadOnlyMode() && isUnusedText()" />
        <label for="isSystemText" style="display: inline" title=""> Select the check box if the text should be included by the central data exchange. The selection is only possible when the text is unused.</label>
    </div>
</div>

<div class="row ela-row">
</div>

<div class="row ela-row">
    <div class="medium-2 large-2 columns">&nbsp;</div>
    <div class="medium-10 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: save, enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>

@*

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label class="right inline">Used in Bricks:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <ul class="clearfix document-models" data-bind="foreach: usedInBricks">
                <li class="document-models">
                    <span class="struct-label struct-label-narrow" data-bind="text: name"></span>
                    <a data-bind="attr: { href: ko.baseUrl + '/Bricks/Edit/' + id }" title="Edit the brick">
                        <i class="fi-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row ela-row">
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label class="right inline">Used in Orga Entities:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <ul class="clearfix document-models" data-bind="foreach: usedInOrgaEntities">
                <li class="document-models">
                    <span class="struct-label struct-label-narrow" data-bind="text: name"></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row ela-row">
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label class="right inline">Used in Addresses:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <ul class="clearfix document-models" data-bind="foreach: usedInAddresses">
                <li class="document-models">
                    <span class="struct-label struct-label-narrow" data-bind="text: name"></span>
                    <a data-bind="attr: { href: ko.baseUrl + '/Address/Edit/' + id }" title="Edit the address">
                        <i class="fi-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@