@{
    ViewBag.Title = "Texts";
}
@section head {
    <script src="/Scripts/require.js"></script>
}
<script>
    require(["Texts/TextIndexViewModel"],
// ReSharper disable once InconsistentNaming
        function(TextIndexViewModel) {
            ko.applyBindings(new TextIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            jQuery.ajaxSetup({ cache: false });
        });
</script>

@await Html.PartialAsync("~/Views/Shared/_TextsMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="medium-6 columns">
        <h2>Texts</h2>
    </div>
    <div class="medium-6 columns">
        <div class="row collapse">
            <div class="small-4 columns">
                <span class="prefix">Texts</span>
            </div>
            <div class="small-8 columns">
                <select id="textFilterSelectbox" data-bind="foreach: textFilters, value: selectedTypeFilter">
                    <optgroup data-bind="attr: { label: label }, foreach: options">
                        <option data-bind="text: displayName, value: id"></option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectedAll" />
                    </span>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: selectedTexts().length > 0 && !isReadOnlyMode() && tableMode() !== 'deleted'"
                            data-reveal-id="DeleteModal">
                        <i class="fi-trash" aria-hidden="true"></i> Delete
                    </button>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: selectedTexts().length > 0"
                            data-reveal-id="ExportModal">
                        <i class="fi-download" aria-hidden="true"></i> Export <span data-bind="text: selectedTexts().length"></span> Text(s)
                    </button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: !isReadOnlyMode()"
                            data-reveal-id="CreateModal">
                        <i class="fi-plus" aria-hidden="true"></i> New Text
                    </button>
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="large-12 columns">
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <table style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 2.3125rem;"></th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'alias')">Text</a>
                        <span data-bind="visible: orderProperty() == 'alias'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">Translations</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: texts">
                <tr>
                    <td>
                        <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedTexts" />
                    </td>
                    <td>
                        <a data-bind="attr: {href: $parent.baseUrl() + '/Texts/Edit/' + $data.textId() + '?t=' + $parent.selectedTypeFilter()}">
                            <span data-bind="text: alias" />
                        </a>
                    </td>
                    <td>
                        <a data-bind="attr: {href: $parent.baseUrl() + '/Translations?p=1&s=100&t=alias&o=alias&asc=true&l=*&q=' + alias() + '&' + $root.tableMode() + '=true'}">
                            <span data-bind="text: translationCount"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Text</h3>
    <a class="close-reveal-modal">&#215;</a>

    <input type="text" placeholder="Alias" data-bind="value: newTextAlias" style="margin: 0;" />
    <label style="margin: 0 0 1rem 0;">You can only use characters a-z A-Z 0-9 . - _</label>

    <div class="row ela-row">
        <label style="margin: 0 1rem 1rem 0" class="left inline">System Text:</label>
        <input type="checkbox" id="isSystemText" name="isSystemText" data-bind="checked: isSystemText" />
        <label for="isSystemText" style="display: inline" title=""> Select the check box if the text will not be used by any artifact, but it should be included in the central data exchange.</label>
    </div>

    <div class="row ela-row"></div>

    <div class="button-bar">
        <input type="submit" class="button small" value="Create" data-bind="click: createText" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete Texts</h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to delete these texts?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteTexts" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ExportModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Export</h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>Which dependencies do you want to export?</p>
    <table class="data-table" style="width: 100%">
        <tr>
            <td style="width: 16px">
                <input type="checkbox" disabled="disabled" checked />
            </td>
            <td colspan="2">Texts</td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" data-bind="checked: includeTranslations" />
            </td>
            <td>Translations</td>
        </tr>
    </table>
    <div class="button-bar">
        <button class="small icon-left" data-bind="click: downloadDataPackage"><i class="fi-download" aria-hidden="true"></i> Download</button>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>
