.ela-content-header {
    padding-bottom: 1.5em;
    padding-top: .9375rem;
}

.ela-main {
    padding-top: 60px;
    min-height: 100%;
    position: relative;
}

.ela-topbar {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #145b9b;
    height: 60px;
    width: 100%;
    display: flex;
    line-height: 60px;
    vertical-align: middle;
}

.ela-topbar #logo {
    width: 60px;
    height: 60px;
    margin-right: 25px;
}

    .ela-topbar #title {
        font-size: 18pt;
        font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }

    .ela-topbar .version {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin-left: 2rem;
        justify-content: center;
    }

        .ela-topbar .version span {
            line-height: 1.5;
        }

.progress-spinner {
    background-color: rgba(0, 0, 0, .8);
    background-image: url('Images/Ellipsis.gif');
    background-position-x: center;
    background-position-y: 25%;
    background-repeat: no-repeat;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 98;
}

.prefix, .postfix {
    padding-left: .5rem;
    padding-right: .5rem;
}

.sub-nav {
    margin-top: 0;
    padding-top: 24px;
}

.ela-content-header input,
.ela-content-header select,
.ela-content-header .button,
.ela-content-header .postfix,
.ela-content-header .prefix {
    margin-top: 1em;
}

.ela-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: none;
}

.postfix a i[class*='fi-'] {
    color: #aaa;
}

.ela-checkbox-list {
    border: 1px solid #cccccc;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.ela-checkbox-list ul {
    list-style: none;
    margin: .5em;
}

.ela-checkbox-list li {
    font-size: .875rem;
    list-style: none;
    margin: .25em;
}

.ela-checkbox-list > ul > li > input[type='checkbox'] {
    margin: 0;
}

.ela-checkbox-list > ul > li > label, .ela-checkbox-list > ul > li > span, .ela-checkbox-list > ul > li > a, .ela-checkbox-list > tr > td > a {
    margin-right: .6rem;
}

.data-table > tbody:empty {
    height: 300px;
}

@media only screen {
    /* small */
    .ela-sidenav {
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        background: #ebebeb;
    }

    .ela-sidenav ul {
        list-style: none;
        margin: 0;
    }

    .ela-sidenav li {
        display: inline-block;
    }

    .ela-sidenav a {
        display: block;
        height: 45px;
        text-align: center;
        width: 45px;
    }

    .ela-sidenav i {
        display: inline;
        font-size: 30px;
        line-height: 45px;
    }

    .ela-sidenav .icon-indicator {
        font-size: 16px;
        float: right;
    }

    .ela-sidenav span {
        display: none;
    }

    .ela-main {
        margin-left: 0;
    }

    .ela-checkbox-list ul {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 40.063em) {
    /* medium (Tablet) */
    .ela-sidenav {
        box-sizing: border-box;
        height: 100%;
        left: 0;
        padding-top: 60px;
        position: fixed;
        top: 0;
        width: 80px;
        z-index: 0;
    }

    .ela-sidenav li {
        display: block;
    }

    .ela-sidenav a {
        display: block;
        height: 60px;
        width: 100%;
    }

    .ela-sidenav i {
        display: block;
        font-size: 16px;
        line-height: 16px;
        padding-top: 6px;
    }

    .ela-sidenav span {
        display: block;
        font-size: 12px;
        line-height: 120%;
        padding: 2px 6px 6px 6px;
        text-align: center;
    }

    .ela-main {
        margin-left: 80px;
        padding-left: .9375rem;
        padding-right: .9375rem;
    }

    .ela-sidebar {
        margin-left: 100px;
    }

    .ela-main.with-sidebar {
        margin-right: 100px; /* ela-sidebar width */
    }
}

@media only screen and (min-width: 64.063em) {
    /* large */
    .ela-sidenav {
        width: 250px;
    }

    .ela-sidenav a {
        height: 48px;
        position: relative;
    }

    .ela-sidenav i {
        float: left;
        font-size: 24px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }

    .ela-sidenav span {
        font-size: 14px;
        left: 54px;
        line-height: 48px;
        padding: 0;
        position: absolute;
    }

    .ela-sidebar {
        height: 100%;
        padding-top: 45px; /* navbar height */
        position: fixed;
        right: 0;
        top: 0;
        width: 200px;
        z-index: 0;
    }

    .ela-sidebar .sticky-header {
        background-color: #efefef;
        position: fixed;
        width: 182px; /* ela-sidebar width - 18 for the scrollbar */
        z-index: 50;
    }

    .ela-sidebar .scrollable-y {
        height: 100%;
        overflow-y: auto;
        width: 100%;
    }

    .ela-main {
        margin-left: 250px; /* navbar width */
        padding-left: .9375rem;
        padding-right: .9375rem;
    }

    .ela-main.with-sidebar {
        margin-right: 250px; /* ela-sidebar width */
    }

    .ela-checkbox-list ul {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 90.063em) {
    /* xlarge */
    .ela-sidebar {
        width: 300px;
    }

    .ela-sidebar .sticky-header {
        width: 282px; /* ela-sidebar width - 18 for the scrollbar */
    }

    .ela-main {
        padding-left: .9375rem;
        padding-right: .9375rem;
    }

    .ela-main.with-sidebar {
        margin-right: 300px; /* ela-sidebar width */
    }

    .ela-checkbox-list ul {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
