/* Foundation overrides */

body, .button, .accordion .accordion-navigation > a {
    font-family: "Segoe UI";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI Light";
}

i {
    width: 24px;
    height: 24px;
}
.ela-sidenav i {
    margin: 12px;
    padding: 0;
    filter: invert(99%) sepia(0%) saturate(25%) hue-rotate(101deg) brightness(105%) contrast(100%); /* white */
}
.ela-sidenav div.content i {
    filter: invert(0%) sepia(100%) saturate(27%) hue-rotate(267deg) brightness(104%) contrast(102%); /* black */
}
.ela-sidenav a.active i, div.content a:hover i {
    filter: invert(59%) sepia(34%) saturate(843%) hue-rotate(140deg) brightness(86%) contrast(95%); /* turquoise */
}
.ela-sidenav .icon-indicator::before {
    content: url('Images/heroicons/chevron-right.svg') !important;
}
.ela-sidenav .active .icon-indicator::before {
    content: url('Images/heroicons/chevron-down.svg') !important;
}
i.icon-register {
    background-image: url('Images/heroicons/document-text.svg') !important;
}
i.icon-magnifier {
    background-image: url('Images/heroicons/magnifying-glass.svg') !important;
}
i.icon-equalizer {
    background-image: url('Images/heroicons/adjustments-vertical.svg') !important;
}
i.icon-database {
    background-image: url('Images/heroicons/circle-stack.svg') !important;
}
i.icon-copy {
    background-image: url('Images/heroicons/document-duplicate.svg') !important;
}
i.icon-grid {
    background-image: url('Images/heroicons/squares-2x2.svg') !important;
}
i.icon-text-size {
    background-image: url('Images/heroicons/language.svg') !important;
}
i.icon-picture2 {
    background-image: url('Images/heroicons/photo.svg') !important;
}
i.icon-group-work {
    background-image: url('Images/heroicons/user-group.svg') !important;
}
i.icon-license2 {
    background-image: url('Images/heroicons/table-cells.svg') !important;
}
i.icon-keyboard {
    background-image: url('Images/heroicons/sparkles.svg') !important;
}
i.icon-site-map {
    background-image: url('Images/heroicons/org-chart.svg') !important;
}
i.icon-apartment {
    background-image: url('Images/heroicons/building-office-2.svg') !important;
}
i.icon-contacts {
    background-image: url('Images/heroicons/user-circle.svg') !important;
}
i.icon-profile {
    background-image: url('Images/heroicons/identification.svg') !important;
}
i.icon-pie-chart {
    background-image: url('Images/heroicons/chart-pie.svg') !important;
}
i.icon-graph {
    background-image: url('Images/heroicons/chart-bar-square.svg') !important;
}
i.icon-siren {
    background-image: url('Images/heroicons/fire.svg') !important;
}
i.icon-bubbles {
    background-image: url('Images/heroicons/chat-bubble-left-right.svg') !important;
}
i.icon-users2 {
    background-image: url('Images/heroicons/users.svg') !important;
}
i.icon-flag {
    background-image: url('Images/heroicons/flag.svg') !important;
}
i.icon-hdd-down {
    background-image: url('Images/heroicons/inbox-arrow-down.svg') !important;
}
i.icon-cog {
    background-image: url('Images/heroicons/cog.svg') !important;
}
i.icon-question-circle {
    background-image: url('Images/heroicons/question-mark-circle.svg') !important;
}

button.inline, .button.inline {
    font-size: .875rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
    padding: 0 .75rem;
}

button.inline.icon-left i, .button.inline.icon-left i {
    font-size: 18px;
    left: .75rem;
    position: absolute;
}

button.inline.icon-left, .button.inline.icon-left {
    padding-left: 32px;
    font-family: "Segoe UI";
}

.sub-nav dt, .sub-nav dd, .sub-nav li {
    font-family: "Segoe UI";
}

select[multiple='multiple'], select[size] {
    background: none;
}

.ela-row input[type='checkbox'] {
    margin: .8rem 0 1rem 0;
}

.data-table input[type='checkbox'], .button-group input[type='checkbox'], .struct input[type='checkbox'] {
    margin: 0 !important;
    padding: 0 !important;
}

input[data-toggle] {
    display: none;
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
    background-color: salmon;
    box-shadow: 0 2px 4px #000000 inset, 0 1px 2px #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15) inset, 0 1px 2px rgba(0, 0, 0, .05);
}

.button-group.toggle li:not(first-child) {
    margin: 0 -0.9rem;
}

.button-group.right {
    float: right;
    margin-left: 1rem;
    margin-right: 0;
}

li.struct input[type=radio]:not(old) {
    font-size: .1em;
    height: 0 !important;
    line-height: .1em;
    margin: 0;
    opacity: 0;
    padding: 0;
    width: 0 !important;
}

li.struct input[type=radio]:not(old) + label {
    display: inline-block;
    line-height: 1.5em;
    margin-left: 0;
    margin-top: .5em;
}

li.struct input[type=radio]:not(old) + label > span {
    background: rgb(224, 224, 224);
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    border: .0625em solid rgb(192, 192, 192);
    border-radius: .25em;
    display: inline-block;
    height: 1em;
    line-height: 1.2em;
    margin: 0 .75em 0 0 !important;
    vertical-align: middle;
    width: 1em;
}

li.struct input[type=radio]:not(old):checked + label > span {
    background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

li.struct input[type=radio]:not(old):checked + label > span:before {
    color: #008cba;
    content: '✓';
    display: block;
    font-size: .875em;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
    width: 1em;
}

*.with-bottombar {
    margin: 0 !important;
}

*.with-bottombar + div.button-bar {
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    border-top-width: 0;
    height: 2.3125rem;
    line-height: 2.3125rem;
    margin: 0 0 1rem 0;
}

a.link-button {
    display: inline-block;
    font-size: .875rem;
    padding: 0 .5rem;
}

.ela-sidebar {
    background-color: #efefef;
}

.ela-sidebar.two {
    background-color: #ffffff;
    border-left: 1px solid #cfcfcf;
}

.position-type-area {
    border: 1px dashed #cfcfcf;
    margin-bottom: 2em;
    padding: .5em;
}

.position-type-area.on-drag {
    border: 1px dashed #008cba;
}

.position-type-area.before-drop {
    border: 1px solid #008cba;
}

.position-type-area ul {
    list-style: none;
    margin: 0;
    min-height: 30px;
    padding: 0;
}

li.struct, li.struct-placeholder {
    background-color: #cfcfcf;
    border-radius: 3px;
    float: left;
    height: 28px;
    line-height: 30px;
    margin: .25em;
    padding: 0 .5em;
    position: relative;
    width: 330px;
}

li.struct-placeholder {
    background-color: #dddddd;
}

li.struct span {
    float: left;
}

li.struct span.struct-pos {
    color: #008cba;
    padding: 0 5px 0 0;
    text-align: right;
    width: 24px;
}

li.struct input {
    float: left;
    height: 28px;
    margin-right: 5px;
}

li.struct div.struct-options {
    display: inline;
    float: right;
}

li.struct a {
    padding-left: 5px;
}

li.struct div.struct-body-options, li.struct a.struct-body-options {
    display: inline;
    float: left;
    padding-right: 15px;
    vertical-align: top;
}

li.struct span.struct-label {
    -ms-text-overflow: ellipsis;
    max-width: 232px;
    overflow: hidden;
    padding: 0 5px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li.struct span.struct-label-medium {
    max-width: 210px;
}

li.struct span.struct-label-narrow {
    max-width: 175px;
}

li.struct div.position-toggle-bar {
    float: right;
}

ul.draggable {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.document-models {
    background-color: rgb(242, 242, 242);
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    box-shadow: inset 0 1px 2px #000000;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    color: #000000;
    color: rgba(0, 0, 0, .75);
    list-style: none;
    margin: 0;
    min-height: 37px;
    padding: 0;
}

li.document-models {
    background-color: #cfcfcf;
    border-radius: 3px;
    float: left;
    height: 28px;
    line-height: 28px;
    margin: .25em;
    padding: 0 .5em;
    position: relative;
}

li.document-models span {
    padding-right: 10px;
}

li.document-models a {
    padding-left: 5px;
}

li.header-draggable-bricks {
    padding-top: 8px;
    padding-bottom: 4px;
}

li.draggable-brick {
    background-color: #cfcfcf;
    border-radius: 3px;
    height: 28px;
    line-height: 28px;
    margin: 0 0 .25em 0;
    overflow: hidden;
    width: 250px;
}

li.draggable-metadata-definition {
    background-color: #cfcfcf;
    border-radius: 3px;
    height: 56px;
    line-height: 28px;
    margin: 0 0 .25em 0;
    overflow: hidden;
    width: 250px;
}

li.metadata-definition {
    background-color: #cfcfcf;
    border-radius: 3px;
    margin: 0 0 .5em 0;
    overflow: hidden;
    padding: 8px;
}

li.metadata-definition div {
    display: flex;
}

li.metadata-definition label {
    margin: 2px;
    padding: 2px;
}

li.metadata-definition input,
li.metadata-definition select {
    flex: 2;
    margin: 2px;
}

div.metadata-options {
    float: right;
}

div.metadata-options a {
    padding-left: 4px;
    padding-right: 4px;
}


li.draggable-brick span, li.draggable-metadata-definition span {
    margin: 0 .5em;
    white-space: nowrap;
}

.step {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bolder;
    margin-right: .3rem;
}

.monacoEditor {
    margin: 0 0 1rem 0;
    position: relative;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.editorResize {
    overflow: hidden;
}
.editorResize.horizontal {
    resize: horizontal;
}
.editorResize.vertical {
    resize: vertical;
}
.editorResize.both {
    resize: both;
}

.notranslation {
    background-color: #eeeeee !important;
}

.notranslation::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #888888;
}

.notranslation::-moz-placeholder { /* Firefox 19+ */
    color: #888888;
}

.notranslation:-ms-input-placeholder { /* IE 10+ */
    color: #888888;
}

.notranslation:-moz-placeholder { /* Firefox 18- */
    color: #888888;
}

.tabs {
    border-bottom: 1px solid #cccccc;
}

.tabs dd.active {
    border-bottom: 0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

/*  */

.alert-box.error {
    background-color: #f04124;
    border-color: #E33C20;
}

table.data-table tr:hover {
    background-color: #e7f1f5;
}

table.data-table td {
    padding: .325em .5625rem;
}

table.data-table input {
    margin: 0;
}

.data-table .actions-col a {
    display: inline-block;
    margin-right: 1rem;
}

tr.import-info {
    background-color: #a9a9a9 !important;
}

tr.import-warning {
    background-color: #e68d24 !important;
    color: #fff;
}

tr.import-error {
    background-color: #f04124 !important;
}

tr.import-error td, tr.import-warning td {
    color: #fff !important;
}

ul.ui-autocomplete {
    list-style: none;
    overflow: auto;
    max-height: 300px;
}

ul.ui-autocomplete li {
    font-family: inherit;
    font-size: .875rem;
}

ul.ui-autocomplete a {
    color: black;
}

div.tile-preview {
    height: 70px;
    width: 70px;
}

.loginName {
    color: #fff;
    float: right;
    margin-right: 20px;
}

section #charts {
    margin: 20px;
}

section #charts h2 {
    margin-bottom: 1em;
}

.blue {
    color: dodgerblue;
}

.indigo {
    color: indigo;
}

.cyan {
    color: darkcyan;
}

.choc {
    color: chocolate;
}

.EC_DIA_TEST {
    background-color: darkcyan;
}

.EC_DIA_DEV {
    background-color: darkolivegreen;
}

.EC_DIA_PROD {
    background-color: dodgerblue;
}

.DIA_DEV {
    background-color: dodgerblue;
}

.DIA_PROD {
    background-color: #354c6e;
}

.DIA_TEST {
    background-color: darkolivegreen;
}

.Production {
    background-color: dodgerblue;
}

.Evaluation {
    background-color: chocolate;
}

.Test {
    background-color: indigo;
}

.panel {
    position: relative;
}

.panel-close {
    position: absolute;
    right: 0;
    top: 0;
}

.accordion .accordion-navigation > .content.active {
    padding: 0;
    background: #f9f9f9;
}

.accordion .accordion-navigation > a, .accordion .accordion-navigation.active > a {
    padding: 0;
    font-size: 16px;
    background: #0091a8;
    color: white;
    text-align: left;
}

.accordion .accordion-navigation > a:hover {
    background: #26A2B5;
    color: white;
}

.accordion dd {
    border-bottom: 2px solid #ebebeb;
}

.ela-sidenav a.active {
    margin-left: 0;
    border-left: 3px solid #0091a8;
    color: #0091a8;
}

.ela-sidenav a.active span {
    left: 51px;
}

.ela-sidenav a {
    color: #3d3d3d;
}

.ela-sidenav a:hover {
    color: #26A2B5;
}

.ela-sidenav li {
    border-bottom: 2px solid #eeeeee;
}

.ela-sidenav li:last-child {
    border-bottom: none;
}

.tile-xl {
        background: #f2f2f2;
        height: 7em;
        padding: 1rem 1.75rem 1rem 1rem;
        position: relative;
    }

    .tile-xl ul {
        bottom: .75rem;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
    }

    .tile-xl ul li {
        float: left;
        margin-right: 1.25rem;
    }

    .tile-xl .close-x {
        color: #ddd;
        cursor: pointer;
        font-size: 1.375rem;
        font-weight: bold;
        line-height: 1;
        margin: 0;
        position: absolute;
        right: .6875rem;
        top: .5rem;
    }

    .tile-xl h5, .tile-xl h6 {
        line-height: 1.2;
    }

    img.loader {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    img.progress {
        display: none;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
    }

    div.progressFullscreen {
        background-color: black;
        display: none;
        height: 100%;
        left: 0;
        padding: 10rem 0 0 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    div.progressFullscreen img {
        margin-bottom: 2rem;
    }

    div.progressFullscreen p {
        color: white;
    }

    .reveal-modal.fixsize {
        margin-left: -150px;
        width: 300px;
    }

    .reveal-modal.fullscreen {
        height: auto;
        left: 0;
        margin: 0 1%;
        top: 20px;
        width: 98%;
    }
}

@media only screen and (min-width: 40.063em) {
    /* medium */
    .ela-sidenav i {
        display: block;
    }

    .reveal-modal.fixsize {
        margin-left: -300px;
        width: 600px;
    }
}

@media only screen and (min-width: 64.063em) {
    /* large */
    .reveal-modal.fixsize {
        margin-left: -350px;
        width: 700px;
    }

    li.draggable-brick, li.draggable-metadata-definition {
        width: 150px;
    }
}

@media only screen and (min-width: 90.063em) {
    /* xlarge */
    li.draggable-brick, li.draggable-metadata-definition {
        width: 250px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #noiesupport {
        display: block !important;
    }
}

ul.title-area a {
    display: inline-block !important;
    padding-right: 0 !important;
}

ul.title-area span.version {
    color: white;
    display: inline-block;
    font-size: .8rem;
    padding-left: 1.5rem;
}

.has-tip {
    border-bottom: none !important;
}

.has-tip:hover, .has-tip:focus {
    border-bottom: none !important;
}

.monaco-editor .editor-widget .button {
    margin-bottom: 0px;
}
