@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

html {
    height: 100%;
}

body {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input, button, select {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 30px;
    line-height: 100%;
    padding: 0 12px;
}

input[type="checkbox"] {
    height: 16px;
    width: 16px;
}

button {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

button:hover {
    border-color: gray;
}

#container {
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

#sidebar {
    background-color: #354052;
    color: #ffffff;
    width: 240px;
}

#sidebar #logo {
    background-color: #2f384a;
    background-image: url("Images/logo.png");
    background-position: -40px -20px;
    background-repeat: no-repeat;
    height: 72px;
}

#sidebar #logo h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 14px 16px 0 16px;
}

#sidebar #logo h2 {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 0 16px;
}

#sidebar nav ul {
    margin: 8px 0 0 0;
}

#sidebar nav ul li {
    height: 40px;
    line-height: 40px;
}

#sidebar nav ul li a {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 14px;
    height: 100%;
    padding-left: 16px;
}

#sidebar nav ul li a i {
    font-size: 20px;
    margin-right: 12px;
}

#sidebar nav ul li a:hover {
    background-color: #2f384a;
    color: white;
}

#sidebar nav ul li a.active {
    border-left: 4px solid white;
    color: white;
    padding-left: 12px;
}

#section {
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

#sectionHead {
    background-color: #f8fbfe;
    border-bottom: 1px solid #cedcea;
    color: #6287af;
    height: 72px;
}

#sectionHead #sectionTitle {
    float: left;
}

#sectionHead #sectionTitle h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 14px 0 0 32px;
}

#sectionHead #sectionTitle h2 {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0 32px;
}

#sectionHead #sectionControls {
    float: right;
    line-height: 72px;
}

#sectionHead #sectionControls input[type=search] {
    margin-right: calc(120px + 32px);
    width: 540px;
}

#sectionHead #login {
    border-left: 1px solid #cedcea;
    height: 72px;
    line-height: 72px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 120px;
}

.data-table {
    border: 1px solid #cedcea;
    margin: 32px;
}

.data-table .command-bar {
    background-color: #f8fbfe;
    height: 54px;
}

.data-table .command-bar ul {
    float: left;
    margin: 12px 24px 12px 0;
}

.data-table .command-bar ul li {
    display: block;
    float: left;
    height: 30px;
    min-width: 30px;
}

.data-table .command-bar ul li button {
    margin-right: 4px;
}

.data-table .command-bar ul li button.toggle {
    margin-right: 0;
}

.data-table .command-bar ul li button.toggle.active {
    background-color: #354052;
    color: #ffffff;
}

.data-table .command-bar ul li:first-child button.toggle {
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
}

.data-table .command-bar ul li:last-child button.toggle {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.data-table .command-bar ul li.selection {
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 40px;
}

.data-table .command-bar ul.right {
    float: right;
    margin: 12px;
}

.data-table table {
    border: 0;
    border-spacing: 0;
    width: 100%;
}

.data-table table tr:nth-child(odd) {
    background-color: white;
}

.data-table table tr:nth-child(even) {
    background-color: #f3f8fd;
}

.data-table table th {
    background-color: #91a8c0;
    border-right: 1px solid #afbfd1;
    color: white;
    padding: 4px;
    text-align: left;
}

.data-table table td {
    padding: 4px;
}

.data-table table td input[type=checkbox] {
    margin: 0 8px;
}

.data-table table td:first-of-type {
    padding: 0;
    text-align: center;
    width: 40px;
}

.data-table .footer-bar {
    background-color: #f8fbfe;
    height: 32px;
}

.data-table .footer-bar ul.pagination {
    float: right;
    height: 32px;
    line-height: 32px;
}

.data-table .footer-bar ul.pagination li {
    display: block;
    float: left;
    height: 30px;
    min-width: 30px;
}

.data-form {
    margin: 32px;
    width: 600px;
}

.data-form h2 {
    color: #6287af;
    font-size: 16px;
    font-weight: 400;
    margin: 1.2em 0 0.8em 0;
}

.data-form .form-row {
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.data-form .form-row label {
    display: inline-block;
    padding-right: 12px;
    text-align: right;
    width: 180px;
}

.data-form .form-row input, .data-form .form-row select {
    -moz-box-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

.data-form .form-row input.flex1, .data-form .form-row select.flex1 {
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

/*# sourceMappingURL=styles.css.map */
