@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
@import 'flexbox';

$font-stack: 'Open Sans', sans-serif;
$foreground-color: #000000;
$primary-color: rgb(53,64,82);
$primary-color-dark: rgb(47,56,74);
$headHeight: 72px;
$controlHeight: 30px;
$login-width: 120px;
$table-footer-height: 32px;
$accent-color: rgb(98,135,175);

html {
    height: 100%;
}
body {
    margin: 0; padding: 0;
    font-family: $font-stack;
    font-size: 14px;
    color: $foreground-color;
    height: 100%;
}
 ul {
     list-style:none;
     padding: 0;
     margin: 0;
}
 a {
     text-decoration: none;
 }
 input, button, select {
    display: inline-block;
    height: $controlHeight;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 100%;
    font-family: $font-stack;
 }
 input[type='checkbox'] {
     height: 16px;
     width: 16px;
 }
 button {
    font-size: 12px;
    font-family: Arial, sans-serif;
}
button:hover {
    border-color: gray;
}
#container {
    @include flexbox();
    @include flex-direction(row);
    min-height: 100%;
}
#sidebar {
    width: 240px;
    background-color: $primary-color;
    color: #ffffff;
    #logo {
        height: $headHeight;
        background-color: $primary-color-dark;
        background-image: url('Images/logo.png');
        background-position: -40px -20px;
        background-repeat: no-repeat;
        h1 {
            font-size: 18px;
            font-weight: 600;
            padding: 14px 16px 0 16px;
            margin: 0;
        }
        h2 {
            font-size: 12px;
            padding: 0 16px;
            margin: 0;
            font-weight: 300;
        }
    }
    nav {
        ul {
            margin: 8px 0 0 0;
            li {
                height: 40px;
                line-height: 40px;
                a {
                    display: block;
                    color: rgba(255,255,255,0.5);
                    height: 100%;
                    padding-left: 16px;
                    font-size: 14px;
                    i {
                        font-size: 20px;
                        margin-right: 12px;
                    }
                }
                a:hover {
                    background-color: $primary-color-dark;
                    color: white;
                }
                a.active {
                    color: white;
                    border-left: 4px solid white;
                    padding-left: 12px;
                }
            }
        }
    }
}
#section {
    @include flex(1);
}
#sectionHead {
    height: $headHeight;
    background-color: rgb(248,251,254);
    color: $accent-color;
    border-bottom: 1px solid rgb(206,220,234);
    #sectionTitle {
        float: left;
        h1 {
            font-size: 18px;
            font-weight: 600;
            padding: 14px 0 0 32px;
            margin: 0;
        }
        h2 {
            font-size: 12px;
            padding: 0 32px;
            margin: 0;
            font-weight: 400;
        }
    }
    #sectionControls {
        float: right;
        line-height: $headHeight;
        input[type=search] {
            width: 540px;
            margin-right: calc(#{$login-width} + 32px);
        }
    }
    #login {
        position: absolute;
        right: 0; top: 0;
        width: $login-width;
        height: $headHeight;
        border-left: 1px solid rgb(206,220,234);
        line-height: $headHeight;
        text-align: center;
    }
}
.data-table {
    margin: 32px;
    border: 1px solid rgb(206,220,234);
    .command-bar {
        height: 54px;
        background-color: rgb(248,251,254);
        ul {
            float: left;
            margin: 12px 24px 12px 0;
            li {
                float:left;
                display: block;
                height: $controlHeight;
                min-width: $controlHeight;
                button {
                	margin-right: 4px;
                }
                button.toggle {
                    margin-right: 0;
                }
                button.toggle.active {
                    background-color: $primary-color;
                    color: #ffffff;
                }
            }
            li:first-child button.toggle {
                border-right: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            li:last-child button.toggle {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            li.selection {
                width: 40px;
                line-height: $controlHeight;
                padding: 0; margin: 0;
                text-align: center;
            }
        }
        ul.right {
        	float: right;
            margin: 12px;
        }
    }
    table {
        width: 100%;
        border-spacing: 0;
        border: 0;
        tr:nth-child(odd) {
            background-color: white;
        }
        tr:nth-child(even) {
            background-color: rgb(243,248,253);
        }
        th {
            background-color: rgb(145,168,192);
            border-right: 1px solid rgb(175,191,209);
            color: white;
            text-align: left;
            padding: 4px;
        }
        td {
            padding: 4px;
            input[type=checkbox] {
                margin: 0 8px;
            }
        }
        td:first-of-type {
            width: 40px;
            padding: 0;
            text-align: center;
        }
    }
    .footer-bar {
        height: $table-footer-height;
        background-color: rgb(248,251,254);
        ul.pagination {
            float: right;
            height: $table-footer-height;
            line-height: $table-footer-height;
            li {
                float:left;
                display: block;
                height: $controlHeight;
                min-width: $controlHeight;
            }
        }
    }
}
.data-form {
    margin: 32px;
    width: 600px;
    h2 {
        color: $accent-color;
        font-size: 16px;
        font-weight: 400;
        margin: 1.2em 0 0.8em 0;
    }
    .form-row {
        @include flexbox();
        @include flex-direction(row);
        margin-bottom: 12px;
        label {
            display: inline-block;
            width: 180px;
            text-align: right;
            padding-right: 12px;
        }
        input, select {
            @include flex(2);
            &.flex1 {
                @include flex(1);
            }
        }
    }
}
