@model Guid
@{
    ViewBag.Title = "Edit Predefined Function";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["PredefinedFunctions/PredefinedFunctionEditViewModel"],
            function(PredefinedFunctionEditViewModel) {
                ko.applyBindings(new PredefinedFunctionEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2>Predefined Function</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="name" type="text" data-bind="value: name, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="showInHeader" class="right inline">Show in Header:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="showInHeader" data-bind="checked: showInHeader, enable: !isReadOnlyMode()" /> <label for="showInHeader">Show it in the header.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="showInSignature" class="right inline">Show in Signature:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="showInSignature" data-bind="checked: showInSignature, enable: !isReadOnlyMode()" /> <label for="showInSignature">Show it in the signature.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="isSuperior" class="right inline">Is Superior:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isSuperior" data-bind="checked: isSuperior, enable: !isReadOnlyMode()" /> <label for="isSuperior">Authors with this function can appear in the My Superiors list.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="activeDirectoryReference" class="right inline">AD Reference:</label>
    </div>
    <div class="medium-3 large-2 columns">
        <input id="activeDirectoryReference" type="text" data-bind="value: activeDirectoryReference, enable: !isReadOnlyMode()" />
    </div>
    <div class="medium-6 large-8 columns">
        <label for="activeDirectoryReference" class="inline">Value of the function in Active Directory.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Translations:</label>
    </div>
    <div class="medium-9 large-10 columns">
        @* ReSharper disable Asp.Entity *@
        <a data-bind="attr: { href: baseUrl() + '/Translations?t=alias&l=*&q=' + textAlias() }" class="button small secondary">Function Text</a>

        <a data-bind="attr: { href: baseUrl() + '/Translations?t=alias&l=*&q=' + textFemaleAlias() }, visible: hasFemaleFunction" class="button small secondary">Female Function Text</a>
        <button data-bind="click: createFemaleFunction, visible: !hasFemaleFunction(), enable: !isReadOnlyMode()" class="button small secondary">Create Female Function</button>

        <a data-bind="attr: { href: baseUrl() + '/Translations?t=alias&l=*&q=' + textHeaderAlias() }, visible: hasHeaderFunction" class="button small secondary">Header Text</a>
        <button data-bind="click: createHeaderFunction, visible: !hasHeaderFunction(), enable: !isReadOnlyMode()" class="button small secondary">Create Header</button>

        <a data-bind="attr: { href: baseUrl() + '/Translations?t=alias&l=*&q=' + textHeaderFemaleAlias() }, visible: hasFemaleHeaderFunction" class="button small secondary">Female Header Text</a>
        <button data-bind="click: createFemaleHeaderFunction, visible: !hasFemaleHeaderFunction(), enable: !isReadOnlyMode()" class="button small secondary">Create Female Header</button>
        @* ReSharper restore Asp.Entity *@

    </div>
</div>

<div class="row ela-row">
    <div class="medium-2 large-2 columns">&nbsp;</div>
    <div class="medium-10 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: $root.save.bind($root), enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>