@model Guid
@{
    ViewBag.Title = "Edit Brick";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}

@section head {
    <script src="/Scripts/require.js"></script>

    <script src="/dist/import.bundle.js"></script>
    <script src="/dist/monaco-editor-common.bundle.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Bricks/BricksEditViewModel"],
            function(BricksEditViewModel) {
                ko.applyBindings(new BricksEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_BricksMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2><span data-bind="text: name"></span> Brick</h2>
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>General</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="name" class="right inline">Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="name" data-bind="value: name, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Used by document model:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <ul class="clearfix document-models" data-bind="foreach: documentModels">
            <li data-bind="attr: { id: id }" class="document-models">
                <span class="struct-label struct-label-narrow" data-bind="text: name, attr: {title: name }"></span>
                <a data-bind="attr: { href: $parent.baseUrl() + '/DocumentModels/Edit/' + $data.id }" title="Edit the document model">
                    <i class="fi-pencil" aria-hidden="true"></i>
                </a>
                <a data-bind="attr: { href: $parent.baseUrl() + '/DocumentModels/Structure/' + $data.id }" title="Edit the structure of the document model">
                    <i class="fi-page-edit" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>User Interface</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="displayName" class="right inline">Display Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="displayName" name="displayName" data-bind="value: displayName, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="description" class="right inline">Description/Tooltip:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <textarea id="description" name="description" data-bind="value: description, enable: !isReadOnlyMode()"></textarea>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="acronym" class="right inline">Acronym:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="acronym" name="acronym" data-bind="value: acronym, enable: !isReadOnlyMode()" maxlength="5" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="categories" class="right inline">Category:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="categories" data-bind="options: categories, optionsValue: 'id', optionsText: 'name', value: selectedCategory, enable: !isReadOnlyMode()"></select>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="groups" class="right inline">Group:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row collapse">
            <div class="small-11 columns">
                <select id="groups" data-bind="options: groups, value: selectedGroup, optionsText: 'name', optionsCaption: ' - ', enable: !isReadOnlyMode()"></select>
            </div>
            <div class="small-1 columns">
                <div data-bind="foreach: selectedGroup">
                    <a class="button postfix secondary" data-bind="attr: { href: $parent.baseUrl() + '/BrickGroups/Edit/' + $data.id }" title="Edit the brick group">
                        <i class="fi-pencil" aria-hidden="true"></i>
                        Edit
                    </a>
                </div>
                <a class="button postfix secondary disabled" data-bind="visible: selectedGroup()==null">
                    <i class="fi-pencil" aria-hidden="true"></i>
                    Edit
                </a>
            </div>
        </div>
    </div>

</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="hotKey" class="right inline">Hot Key:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="hotKey" name="hotKey" data-bind="value: hotKey, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="uiPositionIndex" class="right inline">Position Index:</label>
    </div>
    <div class="medium-4 large-5 columns">
        <input type="text" id="uiPositionIndex" name="uiPositionIndex" data-bind="value: uiPositionIndex, enable: !isReadOnlyMode()" />
    </div>
    <div class="medium-5 large-5 columns">
        <input type="checkbox" id="isVisible" name="isVisible" data-bind="checked: isVisible, enable: !isReadOnlyMode()" />
        <label for="isVisible" style="display: inline" title="Select the check box if the brick should be visible in the task pane. When unchecked, the brick is still displayed in the Create dialog."> Visible in Taskpane</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Brick Visibility:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <table style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <td style="width: 32px"></td>
                    <td style="width: 200px">User Group</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: userGroups">
                <tr>
                    <td><input type="checkbox" data-bind="checked: isSelected, attr: { id: id}, enable: !$parent.isReadOnlyMode()" /></td>
                    <td><label data-bind="text: name, attr: { for: id }"></label></td>
                    <td><label data-bind="text: description, attr: { for: id }"></label></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="colorLuminance" class="right inline">Appearance:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="colorLuminance" data-bind="options: luminanceValues, optionsValue: 'value', optionsText: 'name', value: colorLuminance, enable: !isReadOnlyMode()"></select>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline" for="iconFile">Icon:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row collapse">
            <div class="small-7 columns">
                <span class="prefix" data-bind="text: iconInfo()"></span>
            </div>
            <div class="small-3 columns">
                <input type="file" id="iconFile" data-bind="event: { change: function() { choseIconFile($element.files[0]) } }" class="hide">
                <button class="button postfix secondary" data-bind="click: chooseIconFile, enable: !isReadOnlyMode()"
                        title="Click to browse for a icon.">
                    <i class="fi-folder" aria-hidden="true"></i>Change
                </button>
            </div>
            <div class="small-1 columns">
                <button class="button postfix secondary" data-bind="visible: hasIcon(), click: deleteIcon, , enable: !isReadOnlyMode()" title="Click to delete the icon">
                    <i class="fi-trash" aria-hidden="true"></i>
                </button>
                <a class="button postfix secondary disabled" data-bind="visible: !hasIcon()">
                    <i class=" fi-trash" aria-hidden="true"></i>
                </a>
            </div>
            <div class="small-1 columns">
                <a class="button postfix secondary" data-bind="visible: hasIcon(), attr: { href: baseUrl() + '/Bricks/Icon/'+ id }" title="Click to download the icon.">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
                <a class="button postfix secondary disabled" data-bind="visible: !hasIcon()">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline" for="iconFile">Vector Icon:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row collapse">
            <div class="small-7 columns">
                <span class="prefix" data-bind="text: vectorIconInfo()"></span>
            </div>
            <div class="small-3 columns">
                <input type="file" id="vectorIconFile" data-bind="event: { change: function() { choseVectorIconFile($element.files[0]) } }" class="hide">
                <button class="button postfix secondary" data-bind="click: chooseVectorIconFile, enable: !isReadOnlyMode()"
                        title="Click to browse for a icon.">
                    <i class="fi-folder" aria-hidden="true"></i>Change
                </button>
            </div>
            <div class="small-1 columns">
                <button class="button postfix secondary" data-bind="visible: hasVectorIcon(), click: deleteVectorIcon, , enable: !isReadOnlyMode()" title="Click to delete the icon">
                    <i class="fi-trash" aria-hidden="true"></i>
                </button>
                <a class="button postfix secondary disabled" data-bind="visible: !hasVectorIcon()">
                    <i class=" fi-trash" aria-hidden="true"></i>
                </a>
            </div>
            <div class="small-1 columns">
                <a class="button postfix secondary" data-bind="visible: hasVectorIcon(), attr: { href: baseUrl() + '/Bricks/VectorIcon/'+ id }" title="Click to download the icon.">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
                <a class="button postfix secondary disabled" data-bind="visible: !hasVectorIcon()">
                    <i class="fi-download" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="colorLuminance" class="right inline">Min. / Max. Version:</label>
    </div>
    <div class="medium-4 large-3 columns">
        <input type="text" id="minVersion" name="minVersion" data-bind="value: minVersion, enable: !isReadOnlyMode()" placeholder="Min. Version" />
    </div>
    <div class="medium-4 large-3 columns">
        <input type="text" id="maxVersion" name="maxVersion" data-bind="value: maxVersion, enable: !isReadOnlyMode()" placeholder="Max. Version" />
    </div>
    <div class="medium-1 large-4 columns"></div>
</div>

<div data-bind="visible: isContentBrick">

    <div class="row ela-row">
        <div class="column">
            <h3>Actions</h3>
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label for="contentBrickActionsClassName" class="right inline">Content Brick Actions Class Name:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <input type="text" id="contentBrickActionsClassName" name="contentBrickActionsClassName" data-bind="value: contentBrickActionsClassName, enable: !isReadOnlyMode()" />
        </div>
    </div>

    <div class="row ela-row">
        <div class="column">
            <h3>Content</h3>
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label class="right inline">Allow multiple instances:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <input type="checkbox" id="isMultiInstance" name="isMultiInstance"
                   data-bind="checked: isMultiInstance, enable: !isReadOnlyMode()" /> <label for="isMultiInstance">The brick can be inserted multiple times in the same document.</label>
            <br />
            <div data-bind="visible: isSingleInstanceWarningVisible, text: singleInstanceWarning" class="alert-box warning"></div>
            <div data-bind="visible: isSingleInstanceErrorVisible, text: singleInstanceError" class="alert-box error"></div>
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label for="bdl-editor" class="right inline">BDL:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <div id="bdl-editor" class="monacoEditor with-bottombar" style="height: 650px;"></div>
            <div class="button-bar">
                <a href="#" class="inline link-button" data-reveal-id="InsertTextModal" data-bind="visible: !isReadOnlyMode(), click: loadTexts"><i class="fi-plus" aria-hidden="true"></i> Insert Text</a>
                <a href="#" class="inline link-button" data-reveal-id="InsertResourceModal" data-bind="visible: !isReadOnlyMode()"><i class="fi-plus" aria-hidden="true"></i> Insert Resource</a>
                <a href="@Url.Content("~/Help/Content/Home.htm")" class="inline link-button" target="_blank" rel="noopener"><i class="fi-plus" aria-hidden="true"></i> Help</a>
            </div>
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label class="right inline">Texts:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <ul class="clearfix document-models" data-bind="foreach: brickTexts">
                <li data-bind="attr: { id: alias }" class="document-models">
                    <span class="struct-label struct-label-narrow" data-bind="text: alias"></span>
                    <a data-bind="attr: { href: $parent.baseUrl() + '/Translations?t=alias&amp;l=*&amp;q=' + alias() }" title="Edit translations">
                        <i class="fi-pencil" aria-hidden="true"></i>
                    </a>
                    <a data-bind="click: $parent.removeText.bind($parent, $data)" title="Remove text">
                        <i class="fi-x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label class="right inline">Resources:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <ul class="clearfix document-models with-bottombar" data-bind="foreach: brickResources">
                <li data-bind="attr: { id: alias }" class="document-models">
                    <span class="struct-label struct-label-narrow" data-bind="text: niceName"></span>
                    <a data-bind="attr: { href: $parent.baseUrl() + '/Resources/Edit/' + $data.id() }" title="Edit Resource">
                        <i class="fi-pencil" aria-hidden="true"></i>
                    </a>
                    <a data-bind="click: $parent.removeResource.bind($parent, $data)" title="Remove Resource">
                        <i class="fi-x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div data-bind="visible: isCommandBrick">
    <div class="row ela-row">
        <div class="column">
            <h3>Command</h3>
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label for="command" class="right inline">Command Class:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <input type="text" id="command" name="command" data-bind="value: command, enable: !isReadOnlyMode()" />
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label for="commandArgument" class="right inline">Command Parameter:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <input type="text" id="commandArgument" name="commandArgument" data-bind="value: commandArgument, enable: !isReadOnlyMode()" />
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label class="right inline">Texts:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <ul class="clearfix document-models with-bottombar" data-bind="foreach: brickTexts">
                <li data-bind="attr: { id: alias }" class="document-models">
                    <span class="struct-label struct-label-narrow" data-bind="text: alias"></span>
                    <a data-bind="attr: { href: $parent.baseUrl() + '/Translations?t=alias&amp;l=*&amp;q=' + alias() }" title="Edit translations">
                        <i class="fi-pencil" aria-hidden="true"></i>
                    </a>
                    <a data-bind="click: $parent.removeText.bind($parent, $data)" title="Remove text">
                        <i class="fi-x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div class="button-bar">
                <a href="#" class="inline link-button" data-reveal-id="InsertTextModal" data-bind="visible: !isReadOnlyMode(), click: loadTexts"><i class="fi-plus" aria-hidden="true"></i> Insert Text</a>
            </div>
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label class="right inline">Resources:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <ul class="clearfix document-models with-bottombar" data-bind="foreach: brickResources">
                <li data-bind="attr: { id: alias }" class="document-models">
                    <span class="struct-label struct-label-narrow" data-bind="text: niceName"></span>
                    <a data-bind="attr: { href: $parent.baseUrl() + '/Resources/Edit/' + $data.id() }" title="Edit Resources">
                        <i class="fi-pencil" aria-hidden="true"></i>
                    </a>
                    <a data-bind="click: $parent.removeResource.bind($parent, $data)" title="Remove Resource">
                        <i class="fi-x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div class="button-bar">
                <a href="#" class="inline link-button" data-reveal-id="InsertResourceModal" data-bind="visible: !isReadOnlyMode()"><i class="fi-plus" aria-hidden="true"></i> Insert Resource</a>
            </div>
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label for="commandArgument" class="right inline">Custom UI:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <input type="checkbox" id="hasCustomUi" name="hasCustomUi"
                   data-bind="checked: hasCustomUi, enable: !isReadOnlyMode()" /> <label for="hasCustomUi">The brick implements a custom taskpane user interface.</label>
        </div>
    </div>

    <div class="row ela-row">
        <div class="medium-3 large-2 columns">
            <label for="configuration-editor" class="right inline">Configuration:</label>
        </div>
        <div class="medium-9 large-10 columns">
            <div id="configuration-editor" class="monacoEditor" style="height: 350px;"></div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-2 large-2 columns">&nbsp;</div>
    <div class="medium-10 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: save, enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>

<div id="InsertTextModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal">&#215;</a>
    <dl class="tabs" data-tab>
        <dd class="active">
            <a href="#panel1-1">Existing text</a>
        </dd>
        <dd>
            <a href="#panel1-2">New text</a>
        </dd>
    </dl>
    <div class="tabs-content">
        <div class="content active" id="panel1-1">
            <div style="height: 250px;">
                <input type="search" id="searchText" placeholder="Search" data-bind="textInput: searchInput" />
                <select data-bind="options: searchTextResults, optionsText: 'alias', value: selectedInsertText" size="8" style="height: auto"></select>
            </div>
            <div class="button-bar">
                <a class="button small" data-bind="click: insertSelectedText">Insert</a>
                <a onclick="$('#InsertTextModal').foundation('reveal', 'close');" class="button small secondary">Cancel</a>
            </div>
        </div>
        <div class="content" id="panel1-2">
            <div style="height: 250px;">
                <label for="newTextAlias">Alias:</label>
                <input type="text" id="newTextAlias" data-bind="value: newTextAlias" />
            </div>
            <div class="button-bar">
                <a class="button small" data-bind="click: createAndInsertNewText">Create and insert</a>
                <a onclick="$('#InsertTextModal').foundation('reveal', 'close');" class="button small secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>

<div id="InsertResourceModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal">&#215;</a>
    <dl class="tabs" data-tab>
        <dd class="active">
            <a href="#panel2-1">Existing Resource</a>
        </dd>
        <dd>
            <a href="#panel2-2">New Resource</a>
        </dd>
    </dl>
    <div class="tabs-content">
        <div class="content active" id="panel2-1" style="float: none;">
            <div style="height: 250px;">
                <select data-bind="options: allResources, optionsText: 'alias', value: selectedResource" size="8" style="height: auto"></select>
            </div>
            <div class="button-bar">
                <a class="button small" data-bind="click: insertSelectedResource">Insert</a>
                <a onclick="$('#InsertResourceModal').foundation('reveal', 'close');" class="button small secondary">Cancel</a>
            </div>
        </div>
        <div class="content" id="panel2-2" style="float: none;">
            <div style="height: 250px;">
                <label for="newResourceAlias">Alias:</label>
                <input type="text" id="newResourceAlias" data-bind="value: newResourceAlias" />
            </div>
            <div class="button-bar">
                <a class="button small" data-bind="click: createAndInsertNewResource">Create and insert</a>
                <a onclick="$('#InsertResourceModal').foundation('reveal', 'close');" class="button small secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>