@{
    ViewBag.Title = "Bricks";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Bricks/BricksIndexViewModel"],
            (BricksIndexViewModel) => {
                ko.applyBindings(new BricksIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_BricksMenu.cshtml")
<div class="row ela-row ela-content-header">
    <div class="medium-6 columns">
        <h2>Bricks</h2>
    </div>
    <div class="medium-6 columns">
        <div class="row collapse">
            <div class="small-11 columns">
                <input id="SearchBox" type="search" placeholder="Search..." autocomplete="off" data-bind="value: searchInput, valueUpdate: 'input'" />
            </div>
            <div class="small-1 columns">
                <span class="postfix">
                    <a href="#" data-dropdown="QueryHelp">
                        <i class="fi-info" style="font-size: 24px;" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div id="QueryHelp" data-dropdown-content class="f-dropdown content">
        <p>You can search for bricks by name.</p>
        <p>[Will be extended in the future]</p>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectedAll" />
                    </span>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: selectedBricks().length > 0" data-reveal-id="ExportModal"><i class="fi-download" aria-hidden="true"></i> Export <span data-bind="text: selectedBricks().length"></span> Brick(s)</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-reveal-id="CreateModal" data-bind="enable: !isReadOnlyMode()"><i class="fi-plus" aria-hidden="true"></i> New Brick</button>
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <table style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 2.3125rem;"></th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'name')">Brick</a>
                        <span data-bind="visible: orderProperty() == 'name'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">Display Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Category</th>
                    <th scope="col">UI Position</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: bricks">
                <tr>
                    <td>
                        <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedBricks" />
                    </td>
                    <td>
                        <a data-bind="attr: { href: $parent.baseUrl() + '/Bricks/Edit/' + $data.id() }" title="Edit the brick">
                            <span data-bind="text: $data.name"></span>
                        </a>
                    </td>
                    <td>
                        <span data-bind="text: $data.displayName"></span>
                    </td>
                    <td>
                        <span data-bind="text: $data.brickClass"></span>
                    </td>
                    <td>
                        <span data-bind="text: $data.categoryName"></span>
                    </td>
                    <td>
                        <span data-bind="text: $data.uiPositionIndex"></span>
                    </td>
                    <td class="actions-col">
                        <div data-bind="visible: $parent.tableMode()=='normal'">
                            <a data-bind="attr: { href: $parent.baseUrl() + '/Bricks/Edit/' + $data.id() }" title="Edit the brick"><i class="fi-pencil" aria-hidden="true"></i> Edit</a>
                            <a data-bind="click: $parent.showDeleteModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()" title="Delete the brick"><i class="fi-trash" aria-hidden="true"></i> Delete</a>
                        </div>
                        <div data-bind="visible: $parent.tableMode()=='deleted'">

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal">&#215;</a>
    <dl class="tabs" data-tab>
        <dd class="active">
            <a href="#panel1">New Brick</a>
        </dd>
        <dd>
            <a href="#panel2" data-bind="click: loadAllBricks">Duplicate Brick</a>
        </dd>
    </dl>
    <div class="tabs-content">
        <div class="content active" id="panel1">
            <div style="height: 300px;">
                <input type="text" placeholder="Name of the Brick" data-bind="value: newBrickName" />
                <select data-bind="options: brickClasses, value: newBrickClass, optionsText: 'name', optionsValue: 'value'"></select>
            </div>
            <div class="button-bar">
                    <input type="submit" class="button small" value="Create" data-bind="click: createBrick" />
                    <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
                </div>
            </div>
        <div class="content" id="panel2">
            <div style="height: 300px;">
                <input type="text" placeholder="Name of the new Brick" data-bind="value: newBrickNameDuplicate" />
                <input type="search" id="searchBricks" placeholder="Search for existing Brick" data-bind="textInput: searchInputDuplicate" />
                <select data-bind="options: searchBricksResults, optionsText: 'name', value: selectedBrick" size="8" style="height: auto"></select>
            </div>
            <div class="button-bar">
                <input type="submit" class="button small" value="Duplicate" data-bind="click: createDuplicateBrick, enable: newBrickValidated" />
                <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle()"></span></h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to delete the brick?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteBrick" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ExportModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Export</h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>Which dependencies do you want to export?</p>
    <table class="data-table" style="width: 100%">
        <tr>
            <td style="width: 16px">
                <input type="checkbox" disabled="disabled" checked="checked" />
            </td>
            <td colspan="3">Bricks</td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" data-bind="checked: includeGroups" />
            </td>
            <td colspan="2">BrickGroup and BrickCategory</td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" data-bind="checked: includeTexts" />
            </td>
            <td colspan="2">Texts (including all dependencies)</td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" data-bind="checked: includeResources" />
            </td>
            <td colspan="2">Resources</td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" data-bind="checked: includeUserGroups" />
            </td>
            <td colspan="2">User Groups</td>
        </tr>
    </table>
    <div class="button-bar">
        <button class="small icon-left" data-bind="click: downloadDataPackage"><i class="fi-download" aria-hidden="true"></i> Download</button>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>