@model Eurolook.Data.PublicAuthorEditor.AuthorEditRequest
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="row">
    <div class="column">
        <h2 style="margin: 4rem 0 1rem 0">Success</h2>
    </div>
</div>

<div class="row">
    <div class="column">
        <p style="margin-bottom: 2rem;">
            You successfully edited the author data of @Model.AddresseeName<span>.</span>
        </p>
        <p style="margin-bottom: 2rem;">
            To download the updated author data choose <em>Manage Authors</em> in the Eurolook task pane and use the <em>Refresh</em> button.
        </p>
    </div>
</div>