@model Eurolook.ManagementConsole.ViewModels.PublicAuthors.EditRequest
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="row">
    <div class="column">
        <h2 style="margin: 4rem 0 1rem 0">Create or edit somebody else's author data</h2>
    </div>
</div>

<div class="row">
    <div class="column">
        <p style="margin-bottom: 2rem;">
            To request permission to create or edit somebody else's author data, fill in the email addresses below and click the Send button.<br/>
            The other author will be asked for confirmation via email. If they accept your request you will receive a link to a webpage which allows you to edit the data.
        </p>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="column">
            <label>Your email address:</label>
            @Html.TextBoxFor(model => model.YourEmailAddress)
            @Html.ValidationMessageFor(model => model.YourEmailAddress)
        </div>
    </div>

    <div class="row">
        <div class="column">
            <label>Other person's email address:</label>
            @Html.TextBoxFor(model => model.OtherEmailAddress, new { autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.OtherEmailAddress)
        </div>
    </div>

    <div class="row">
        <div class="column">
            <input type="submit" value="Send" class="button success"/>
        </div>
    </div>
}
