@model Eurolook.Data.PublicAuthorEditor.AuthorEditRequest
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="row">
    <div class="column">
        <h2 style="margin: 4rem 0 1rem 0">Success</h2>
    </div>
</div>

<div class="row">
    <div class="column">
        <p style="margin-bottom: 2rem;">
            Your request has been successfully sent to @Model.AddresseeName
        </p>
    </div>
</div>