@model Guid
@{
    ViewBag.Title = "Edit Resource";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Resources/ResourceEditViewModel"],
            function(ResourceEditViewModel) {
                ko.applyBindings(new ResourceEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2 data-bind="text: alias()"></h2>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>General</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="alias" class="right inline">Alias:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="text" id="alias" data-bind="value: alias, enable: !isReadOnlyMode()" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Used in brick:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <ul class="clearfix document-models" data-bind="foreach: bricks">
            <li data-bind="attr: { id: id }" class="document-models">
                <span class="struct-label struct-label-narrow" data-bind="text: name, attr: {title: name }"></span>
                <a data-bind="attr: { href: $parent.baseUrl() + '/Bricks/Edit/' + $data.id }" title="Edit the brick">
                    <i class="fi-pencil" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">System Resource:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isSystemResource" name="isSystemResource" data-bind="checked: isSystemResource, enable: !isReadOnlyMode()" />
        <label for="isSystemResource" style="display: inline" title=""> Select the check box if the resource should be included by the central data exchange.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <h3>Content</h3>
    </div>
    <div class="medium-9 large-10 columns">
        <br />
        <div class="alert-box warning" data-bind="visible: !hasData()">
            Warning: No resource default uploaded.
        </div>
    </div>
</div>


<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Resource Default:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row collapse">
            <div class="small-7 columns">
                <span class="prefix" data-bind="text: hasData() ? (!fileName() ? alias() : fileName()) : ''"></span>
            </div>
            <div class="small-2 columns">
                <input type="file" id="rawData" data-bind="event: { change: function() { choseResourceFile($element.files[0]) } }"
                       class="hide" accept=" image/png, image/jpeg, image/emf, image/x-emf, image/svg+xml, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/xml">
                <button class="button postfix secondary" data-bind="click: chooseResourceFile, enable: !isReadOnlyMode()"
                        title="Click to browse for a resource to upload.">
                    <i class="fi-upload" aria-hidden="true"></i> Upload
                </button>
            </div>
            <div class="small-2 columns">
                <a class="button postfix secondary" data-bind="visible: hasData() && alreadyHadData(), attr: { href: baseUrl() + '/Resources/Data/'+id }"
                   title="Click to download the resource default.">
                    <i class="fi-download" aria-hidden="true"></i> Download
                </a>
                <a class="button postfix secondary disabled" data-bind="visible: !hasData() || !alreadyHadData()">
                    <i class=" fi-download" aria-hidden="true"></i> Download
                </a>
            </div>
            <div class="small-1 columns">
                <a class="button postfix secondary" data-bind="visible: hasData() && !isReadOnlyMode(), click:deleteResourceFile"
                   title="Click to delete the resource default.">
                    <i class="fi-x" aria-hidden="true"></i>
                </a>
                <a class="button postfix secondary disabled" data-bind="visible: !hasData()">
                    <i class=" fi-x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">MIME-type:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <span class="postfix" data-bind="text: (hasData() || mimeType()) ? mimeType() : ''"></span>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Translations:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <table style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 2.3125rem;"></th>
                    <th scope="col" style="width: 6rem">Language</th>
                    <th scope="col" style="width: 6rem">Resource</th>
                    <th scope="col" style="width: 6rem">MIME-type</th>
                    <th scope="col" style="text-align: center">Preview</th>
                </tr>
            </thead>
            <tbody id="TranslationsTableBody" data-bind="foreach: localisations" class="ela-checkbox-list">
                <tr>
                    <td>
                        <input type="checkbox" data-bind="checked: isSelected" />
                    </td>
                    <td>
                        <span data-bind="text: languageName"></span>
                    </td>
                    <td>
                        <input type="file" data-bind="event: { change: function() { $parent.setLocalisedResourceFile($data, $element.files[0]) } }"
                               class="hide" accept=" image/png, image/jpeg, image/emf, image/x-emf, image/svg+xml, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/xml">
                        <a data-bind="attr: { style: hasData() ? '' : 'color:#000' }, click: $parent.onLocalisedResourceFileClick.bind($parent, $element), visible: !$parent.isReadOnlyMode()"
                           title="Click to browse for a resource to upload.">
                            <i class="fi-upload" aria-hidden="true"></i>
                        </a>
                        <a data-bind="visible: hasData() && alreadyHadData(), attr: { href: $root.baseUrl() + '/Resources/LocalisedResource/'+ $root.id + '/?languageId=' + languageId() }">
                            <i class="fi-download" title="Click to download the resource." aria-hidden="true"></i>
                        </a>
                        <a data-bind="visible: hasData() && !$parent.isReadOnlyMode(), click: $data.delete">
                            <i class="fi-x" title="Click to delete the resource." aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <span data-bind="text: mimeType"></span>
                    </td>
                    <td style="padding: 0">
                        <p data-bind="visible: hasPreview()" align="center">
                            <img style="width: auto; height: 128px; border: 1px solid #cccccc;" data-bind="attr: { src: hasPreview() ? previewData() : ''}" alt="" />
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Preview:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <div class="row">
            <div class="columns">
                <p>
                    <img style="border: 1px solid #cccccc;" data-bind="attr: { src: previewData() }" alt="" />
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">&nbsp;</div>
    <div class="medium-9 large-10 column">
        <div class="button-bar left">
            <button class="button small" data-bind="click: save, enable: !isReadOnlyMode()">Save</button>
        </div>
    </div>
</div>