@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        require(["Resources/ResourceIndexViewModel"],
            (ResourceIndexViewModel) => {
                ko.applyBindings(new ResourceIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

<div class="row ela-row ela-content-header">
    <div class="columns">
        <h2>Resources</h2>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectedAll" />
                    </span>
                </li>
                <li>
                    <button class="secondary inline icon-left" data-bind="enable: selectedResources().length > 0" data-reveal-id="ExportModal"><i class="fi-download" aria-hidden="true"></i> Export <span data-bind="text: selectedResources().length"></span> Resource(s)</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="secondary inline icon-left" data-reveal-id="CreateModal" data-bind="enable: !isReadOnlyMode()"><i class="fi-plus" aria-hidden="true"></i> New Resource</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <img id="actionProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' style="display: none; margin-left: 0.5rem; margin-top: 0.5rem;" alt="" />
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <table style="width: 100%;" class="data-table">
            <thead>
            <tr>
                <th scope="col" style="width: 2.3125rem;"></th>
                <th scope="col">
                    <a data-bind="click: orderBy.bind($data, 'alias')">Name</a>
                    <span data-bind="visible: orderProperty() == 'alias'">
                        <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                        <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                    </span>
                </th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: resources">
            <tr>
                <td>
                    <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedResources"/>
                </td>
                <td>
                    <a data-bind="attr: { href: $parent.baseUrl() + '/Resources/Edit/' + $data.id() }" title="Edit the resource">
                        <span data-bind="text: alias"></span>
                    </a>
                </td>
                <td class="actions-col">
                    <div data-bind="visible: $parent.tableMode()=='normal'">
                        <a data-bind="attr: { href: $parent.baseUrl() + '/Resources/Edit/' + $data.id() }" title="Edit the resource"><i class="fi-pencil" aria-hidden="true"></i> Edit</a>
                        <a data-bind="click: $parent.showDeleteModal.bind($parent, $data), visible: !$parent.isReadOnlyMode()"><i class="fi-x" aria-hidden="true"></i> Delete</a>
                    </div>
                    <div data-bind="visible: $parent.tableMode()=='deleted'">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="CreateModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>New Resource</h3>
    <a class="close-reveal-modal">&#215;</a>

    <input type="text" placeholder="Name of the Resource" data-bind="value: newResourceName" />

    <div class="row ela-row">
        <label style="margin: 0 1rem 1rem 0" class="left inline">System Resource:</label>
        <input type="checkbox" id="isSystemResource" name="isSystemResource" data-bind="checked: isSystemResource" />
        <label for="isSystemResource" style="display: inline" title=""> Select the check box if the resource should be included in the central data exchange.</label>
    </div>

    <div class="row ela-row"></div>

    <div class="button-bar">
        <input type="submit" class="button small" value="Create" data-bind="click: createResource" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle()"></span></h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to delete the resource?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteResource" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ExportModal" class="reveal-modal" data-reveal aria-labelledby="ExportModal" aria-hidden="true" role="dialog">
    <h3>New Export</h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Which dependencies do you want to export?</p>

    <table class="data-table" style="width: 100%">
        <tr>
            <td style="width: 16px">
                <input type="checkbox" disabled="disabled" checked />
            </td>
            <td colspan="3">Resources</td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" id="includeDefaultData" data-bind="checked: includeDefaultData"/>
            </td>
            <td colspan="2">
                <label for="includeDefaultData">Resource Default</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 16px">
                <input type="checkbox" id="includeLocalisations" data-bind="checked: includeLocalisations"/>
            </td>
            <td colspan="2">
                <label for="includeLocalisations">Localisations (including raw data)</label>
            </td>
        </tr>
    </table>

    <div class="button-bar">
        <button class="button small" data-bind="click: downloadDataPackage"><i class="fi-download" aria-hidden="true"></i> Download</button>
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>