@{
    ViewBag.Title = "User Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
    @*<script src="/ViewModels/Feedback/UserFeedbackViewModel.js"></script>
    <script src="/ViewModels/PaginationTableViewModel.js"></script>
    <script src="/ViewModels/Feedback/FeedbackIndexViewModel.js"></script>*@
}
@section scripts{
    <script>
        require(["Feedback/FeedbackIndexViewModel"],
            function(FeedbackIndexViewModel) {
                ko.applyBindings(new FeedbackIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
                jQuery.ajaxSetup({ cache: false });
            });
    </script>
}

<div class="row ela-row ela-content-header">
    <div class="medium-6 columns">
        <h2>User Feedback</h2>
    </div>
    <div class="medium-6 columns">
        <div class="row collapse">
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column medium-2 large-2">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectedAll" />
                    </span>
                </li>
                <li>

                    <button class="secondary inline icon-left" data-bind="enable: selectedFeedback().length > 0" data-reveal-id="DeleteModal"><i class="fi-trash" aria-hidden="true"></i> Permanently Delete <span data-bind="text: selectedFeedback().length"></span> Entries</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="column medium-4 large-4">
        <select data-bind="foreach: monthsFilters, value: selectedMonthsFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
    <div class="column medium-2 large-2">
        <a class="button postfix secondary" data-bind="attr: { href: baseUrl() + '/Feedback/FeedbackDownload?filter=' + selectedMonthsFilter() }"
           title="Click to download the feedback">
            <i class="fi-download" aria-hidden="true"></i> Download
        </a>
    </div>
    <div class="column medium-4 large-4">
        <div class="button-bar">
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="large-12 columns">
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' data-bind="visible: isLoading()" class="progress" style="margin-left: 12px; margin-top: -2px" alt="" />
        <table style="table-layout: fixed; width: 100%; word-wrap: break-word;" class="data-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 2.3125rem;"></th>
                    <th scope="col" style="width: 12rem">
                        <a data-bind="click: orderBy.bind($data, 'submitted')">Submitted</a>
                        <span data-bind="visible: orderProperty() == 'submitted'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col" style="width: 10rem">
                        <a data-bind="click: orderBy.bind($data, 'userName')">User</a>
                        <span data-bind="visible: orderProperty() == 'user'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col" style="width: 6.5rem">
                        <a data-bind="click: orderBy.bind($data, 'rating')">Rating</a>
                        <span data-bind="visible: orderProperty() == 'rating'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'message')">Message</a>
                        <span data-bind="visible: orderProperty() == 'message'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: feedback">
            <tr>
                <td>
                    <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedFeedback" />
                </td>
                <td>
                    <span data-bind="text: submitted"></span>
                </td>
                <td>
                    <span data-bind="text: userName"></span>
                </td>
                <td>
                    <span data-bind="text: rating"></span>
                </td>
                <td style="word-wrap: break-word;">
                    <span data-bind="text: message"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete Texts</h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>Do you really want to permanently delete these user feedback entries?</p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteFeedback" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>