@import 'colors.scss';

button.template-tile {
  display: flex;
  flex-flow: column;
  width: #{$tile-width}px;
  height: 220px;
  padding: 5px;
  border: 0;
  background-color: #F0F0F0 !important;

  &.small {
    width: #{$tile-width-small}px;
    height: 176px;
  }

  &:hover {
    outline: 2px solid #acacac;
  }

  &:active {
    background-color: #F0F0F0 !important;
  }

  &:focus {
    outline: 2px solid #0072c2;
    box-shadow: none;
  }

  .tile-preview-container-small {
    height: 90px;
    width: #{$tile-width-small - 10}px;
    overflow: hidden;
    background-color: #FFF;
  }
}
