/*@import 'colors.scss';

.action-display-container {
  display: block;

  button {
    opacity: 1;
    background-color: $secondary-color;
    color: #000;
    border-color: $secondary-border-color;

    &.disabled {
      background-color: $secondary-color;
    }
  }

  margin-top: 4px;
}

label + .action-display-container {
  margin-top: 0;
}

.action {
  width: 100px;
  float: right;
  display: grid;
}*/
