@import 'colors.scss';

.banner {
  height: 146px;
  width: 100%;
  background-image: url('~resources/Search_Background.jpg');
  background-size: cover;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  padding-left: #{$page-margin}px;

  &.solid {
    background-color:#00819D;
  }

  span {
    font-size: 28px;
  }
}

.page-title {
  font-family: Segoe UI Semibold;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 200px;
  margin: 10px 0 6px 0;
  padding: 0 4px 4px 0;
}

  .content {
    position: fixed;
    top: 0;
    left: #{$sidebar-width}px;
    bottom: 0;
    right: 0;
    overflow-y: auto;

    .page-left {
      max-width: 594px;
      float: left;
      margin-right: 40px;
    }

    .page-right {
      margin-top: 20px;
      width: 360px;
      float: left;
    }

    .tile-grid {
      display: flex;
      flex-wrap: wrap;
      column-gap: #{$tile-gap}px;
      row-gap: #{$tile-gap}px;
      margin-bottom: 20px;

      @media (min-width: #{$breakpoint-s}px) {
        width: #{$page-width-s + 16}px;
      }

      @media (min-width: #{$breakpoint-m}px) {
        width: #{$page-width-m + 16}px;
      }

      @media (min-width: #{$breakpoint-l}px) {
        width: #{$page-width-l + 16}px;
      }

      @media (min-width: #{$breakpoint-xl}px) {
        width: #{$page-width-xl + 16}px;
      }
  }
}
