@model Guid
@{
    ViewBag.Title = "View Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model;
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        // ReSharper disable once InconsistentNaming
        require(["Devices/DevicesEditViewModel"],
            function(DevicesEditViewModel) {
                ko.applyBindings(new DevicesEditViewModel('@ViewBag.BaseUrl', '@id', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_UsersMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h2>Device</h2>
        <img id="loadDataProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>General</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="deviceName" class="right inline">Device Name:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="deviceName" type="text" data-bind="value: device().deviceName" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="addinVersion" class="right inline">Eurolook Version:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="addinVersion" type="text" data-bind="value: device().addinVersion" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="operatingSystem" class="right inline">Operating System:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="operatingSystem" type="text" data-bind="value: device().operatingSystem" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="officeVersion" class="right inline">Office Version:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="officeVersion" type="text" data-bind="value: device().officeVersion" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="owner" class="right inline">Owner:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="owner" type="text" data-bind="value: device().owner" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Usage</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="lastUse" class="right inline">Last Login:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="lastUse" type="text" data-bind="value: device().lastUse" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="serverModificationTimeLocal" class="right inline">Last Modified:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="serverModificationTimeLocal" type="text" data-bind="value: device().serverModificationTimeLocal" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="isTaskpaneVisible" class="right inline">Task Pane State:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="isTaskpaneVisible" type="checkbox" data-bind="value: device().isTaskpaneVisible" disabled readonly="readonly" /><label for="isTaskpaneVisible">Visible</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="taskpaneWidth" class="right inline">Task Pane Width:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="taskpaneWidth" type="text" data-bind="value: device().taskpaneWidth" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="quickStartGuideShown" class="right inline">Quick Start Guide:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="quickStartGuideShown" type="text" data-bind="value: device().quickStartGuideShown" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Deployment</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="dotNetRuntimeVersion" class="right inline">.NET Runtime Version:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="dotNetRuntimeVersion" type="text" data-bind="value: device().dotNetRuntimeVersion" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="dotNetFrameworkVersion" class="right inline">.NET Version:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="dotNetFrameworkVersion" type="text" data-bind="value: device().dotNetFrameworkVersion" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="installRoot" class="right inline">Install Root:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="installRoot" type="text" data-bind="value: device().installRoot" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Install Scope:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isPerMachineInstall" data-bind="checked: device().isPerMachineInstall" disabled /> <label for="isPerMachineInstall">Per machine</label>
        <input type="checkbox" id="isPerUserInstall" data-bind="checked: device().isPerUserInstall" disabled /> <label for="isPerUserInstall">Per user</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label class="right inline">Initialization State:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input type="checkbox" id="isInitialised" data-bind="checked: device().isInitialised" disabled /> <label for="isInitialised">Initialized</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="addInLoadTimes" class="right inline">Recent Load Times:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="addInLoadTimes" type="text" data-bind="value: device().addInLoadTimes" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Hardware</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="processorName" class="right inline">Processor:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="processorName" type="text" data-bind="value: device().processorName()" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="physicallyInstalledSystemMemoryGbForDisplay" class="right inline">Installed RAM:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="physicallyInstalledSystemMemoryGbForDisplay" type="text" data-bind="value: device().physicallyInstalledSystemMemoryGbForDisplay()" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="screenResolution" class="right inline">Screen Resolution:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="screenResolution" type="text" data-bind="value: device().screenWidth() + 'x' + device().screenHeight() + '@@' + device().screenDpi() + 'dpi'" readonly="readonly" />
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="hasBattery" class="right inline">Battery:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="hasBattery" type="checkbox" data-bind="value: device().hasBattery" disabled readonly="readonly" /><label for="hasBattery">The device has a battery indicating that this is a laptop or tablet device.</label>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="isTouchScreen" class="right inline">Touch Screen:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <input id="isTouchScreen" type="checkbox" data-bind="value: device().isTouchScreen" disabled readonly="readonly" /><label for="isTouchScreen">The device has a touch screen.</label>
    </div>
</div>


@*isRemoteWipeRequested = ko.observable(false);






    @*<div id="RemoteWipeDialog" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h3>Remote Wipe</h3>
            <a class="close-reveal-modal">&#215;</a>
            <p>Do you really want to wipe data on the user's devices?</p>
            <div class="button-bar">
                <button class="small" data-bind="click: $root.requestRemoteWipe.bind($root)"> Yes</button>
                <a data-bind="click: closeModal" class="button small secondary">No</a>
            </div>
        </div>*@
