@{
    ViewBag.Title = "Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

@section scripts {
    <script>
        require(["Devices/DevicesIndexViewModel"],
// ReSharper disable once InconsistentNaming
            function(DevicesIndexViewModel) {
                ko.applyBindings(new DevicesIndexViewModel('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode'));
            });
    </script>
}

@await Html.PartialAsync("~/Views/Shared/_UsersMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="medium-6 columns">
        <h2>Devices</h2>
    </div>
    <div class="medium-6 columns">
        <div class="row collapse">
            <div class="small-11 columns">
                <input id="SearchBox" type="search" placeholder="Search..." autocomplete="off" data-bind="textInput: searchInput" />
            </div>
            <div class="small-1 columns">
                <span class="postfix">
                    <a href="#" data-dropdown="QueryHelp">
                        <i class="fi-info" style="font-size: 24px;" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div id="QueryHelp" data-dropdown-content class="f-dropdown large content">
        <label>Entering a single term will automatically search in the fields device name and add-in version.</label><br />
        @*<label>You can search in specific fields by using an equals operator, e.g.:</label>
            <ul>
                <li>Login = john</li>
                <li>Name = John</li>
                <li>Email = John@example.com</li>
                <li>OrgAcronym = AGRI</li>
            </ul>
            <label>You can also join multiple conditions using an AND operator:</label>
            <ul>
                <li>Name = John AND OrgAcronym = AGRI</li>
            </ul>*@
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <span class="button secondary inline">
                        <input type="checkbox" data-bind="checked: isSelectedAll" />
                    </span>
                </li>
                <li data-bind="visible: tableMode()=='normal'">
                    <button class="secondary inline icon-left" data-bind="enable: selectedItems().length > 0, click: showDeleteModal.bind($data, selectedItems())"><i class="fi-trash" aria-hidden="true"></i> Delete</button>
                </li>
                <li data-bind="visible: tableMode()=='deleted'">
                    <button class="secondary inline icon-left" data-bind="enable: selectedItems().length > 0, click: showReviveModal.bind($data, selectedItems())"><i class="fi-refresh" aria-hidden="true"></i> Restore</button>
                </li>
                <li data-bind="visible: tableMode()=='deleted'">
                    <button class="secondary inline icon-left" data-bind="enable: selectedItems().length > 0, click: showDeletePermanentlyModal.bind($data, selectedItems())"><i class="fi-trash" aria-hidden="true"></i> Delete Permanently</button>
                </li>
            </ul>
            <ul class="button-group right toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" data-toggle="button" value="normal" data-bind="checked: tableMode">
                    <label class="button inline" for="r1">Normal</label>
                </li>
                <li>
                    <input type="radio" id="r2" data-toggle="button" value="deleted" data-bind="checked: tableMode">
                    <label class="button inline" for="r2">Deleted</label>
                </li>
            </ul>
            @await Html.PartialAsync("~/Views/Shared/_PaginationControls.cshtml")
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="large-12 columns">
        <table id="devicesTable" style="width: 100%;" class="data-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 2.3125rem;"></th>
                    <th scope="col" style="width: 12rem">
                        <a data-bind="click: orderBy.bind($data, 'devicename')">Device Name</a>
                        <span data-bind="visible: orderProperty() == 'devicename'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col" style="width: 12rem">
                        <a data-bind="click: orderBy.bind($data, 'login')">Login</a>
                        <span data-bind="visible: orderProperty() == 'login'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'eurolookVersion')">Eurolook Version</a>
                        <span data-bind="visible: orderProperty() == 'eurolookVersion'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'officeVersion')">Office Version</a>
                        <span data-bind="visible: orderProperty() == 'officeVersion'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'dotNetFullFrameworkReleaseVersion')">.NET Version</a>
                        <span data-bind="visible: orderProperty() == 'dotNetFullFrameworkReleaseVersion'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'physicallyInstalledSystemMemoryKb')">RAM</a>
                        <span data-bind="visible: orderProperty() == 'physicallyInstalledSystemMemoryKb'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'lastLogin')">Last Login</a>
                        <span data-bind="visible: orderProperty() == 'lastLogin'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>
                    <th scope="col">
                        <a data-bind="click: orderBy.bind($data, 'loadTime')">Load time</a>
                        <span data-bind="visible: orderProperty() == 'loadTime'">
                            <span data-bind="visible: orderAscending() == true">&#x25B2;</span>
                            <span data-bind="visible: orderAscending() == false">&#x25BC;</span>
                        </span>
                    </th>

                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: items">
                <tr>
                    @*<td><input type="checkbox" data-bind="checked: isSelected" /></td>*@
                    <td>
                        <input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedItems" />
                    </td>
                    <td>
                        <a data-bind="attr: { href: $parent.baseUrl() + '/Devices/Edit/' + $data.id() }" title="View device details"><span data-bind="text: deviceName"></span></a>
                    </td>
                    <td>
                        <a data-bind="attr: { href: $parent.baseUrl() + '/Users/Edit/' + $data.userId() }" title="View user details"><span data-bind="text: login"></span></a>
                    </td>
                    <td>
                        <span data-bind="text: addinVersion"></span>
                    </td>
                    <td>
                        <span data-bind="text: officeVersion"></span>
                    </td>
                    <td>
                        <span data-bind="text: dotNetFrameworkVersion"></span>
                    </td>
                    <td>
                        <span data-bind="text: physicallyInstalledSystemMemoryGbForDisplay"></span>
                    </td>
                    <td>
                        <span data-bind="text: lastUse"></span>
                    </td>
                    <td>
                        <span data-bind="text: maxAddInLoadTimeBucketSeconds"></span><span> s</span>
                    </td>
                    <td class="actions-col">
                        <div data-bind="visible: $parent.tableMode()=='normal'">
                            <a data-bind="attr: { href: $parent.baseUrl() + '/Devices/Edit/' + $data.id() }" title="View device details"><i class="fi-pencil" aria-hidden="true"></i> View</a>
                            <a data-bind="click: $parent.showDeleteModal.bind($parent, [$data])"><i class="fi-x" aria-hidden="true"></i> Delete</a>
                        </div>
                        <div data-bind="visible: $parent.tableMode()=='deleted'">
                            <a data-bind="click: $parent.showReviveModal.bind($parent, [$data])" title="Revive the device"><i class="fi-refresh" aria-hidden="true"></i> Restore</a>
                            <a data-bind="click: $parent.showDeletePermanentlyModal.bind($parent, [$data])" title="Delete the device permanently"><i class="fi-refresh" aria-hidden="true"></i> Delete permanently</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row ela-row">
    <div class="columns">
        @await Html.PartialAsync("~/Views/Shared/_PaginationPageControls.cshtml")
    </div>
</div>

<div id="DeletePermanentlyModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to delete <span data-bind="text: deleteModalTitle"></span> permanently?
        <br />
        It will be removed completely from the database and cannot be restored.
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteItemsPermanently" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="DeleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Delete <span data-bind="text: deleteModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>

    <p>
        Do you really want to delete <span data-bind="text: deleteModalTitle"></span>?
    </p>

    <div class="button-bar">
        <input type="submit" class="button small" value="Delete" data-bind="click: deleteItems" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>

<div id="ReviveModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3>Revive <span data-bind="text: reviveModalTitle"></span></h3>
    <a class="close-reveal-modal">&#215;</a>
    <p>
        Do you really want to revive <span data-bind="text: reviveModalTitle"></span>?
    </p>
    <div class="button-bar">
        <input type="submit" class="button small" value="Revive" data-bind="click: reviveItems" />
        <a data-bind="click: closeModal" class="button small secondary">Cancel</a>
    </div>
</div>