@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

<script>
    require(["../dist/chart.js/chart.umd.js", "Statistics/ActivityStatistics"],
    // ReSharper disable once InconsistentNaming
    function (Chart, ActivityStatistics) {
        ko.applyBindings(new ActivityStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart));
    });
</script>
@await Html.PartialAsync("~/Views/Shared/_StatisticsMenu.cshtml")


<div class="row ela-row">
    <div class="column">
        <h3>Active Devices (per month)</h3>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <select data-bind="foreach: monthsFilters, value: selectedActivityOverviewFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <img id="activityOverviewProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt=""/>
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="activityOverviewChart"></canvas>
        </div>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <p>* active = created a document or used a brick. Information is stored per device (in <em>DeviceSettings.ActivityTrack</em>).</p>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Active Devices (detailed)</h3>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <select data-bind="foreach: timespanFilters, value: selectedActivityDetailsFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <img id="activityDetailsProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt=""/>
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="activityDetailsChart"></canvas>
        </div>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <p>
            * active = created a document or used a brick. Information is stored anonymised (in table <em>ActivityTracks</em>).<br/>
            Activity tracks from today are not available.
        </p>
    </div>
</div>