@{
    ViewBag.Title = "ADLink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

<script>
    require(["../dist/chart.js/chart.umd.js", "Statistics/AdLinkStatistics"],
    // ReSharper disable once InconsistentNaming
    function (Chart, AdLinkStatistics) {
        ko.applyBindings(new AdLinkStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart));
    });
</script>

@await Html.PartialAsync("~/Views/Shared/_StatisticsMenu.cshtml")

<div class="row ela-row">
    <div class="column">
        <h3>ADLink</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <select data-bind="options: allDgs, value: selectedDg, optionsText: 'displayName'"></select>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <img id="adLinkStatusProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 400px;">
            <canvas id="adLinkStatusChart"></canvas>
        </div>
    </div>
</div>
