@{
    ViewBag.Title = "Brick Usage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

<script>
    require(["../dist/chart.js/chart.umd.js", "Statistics/BrickUsageStatistics"],
        // ReSharper disable once InconsistentNaming
        function (Chart, BrickUsageStatistics) {
            ko.viewModel = new BrickUsageStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart);
            ko.bindingHandlers.multiselect = {
                init: function (element, valueAccessor) {
                    $(element).multiselect({
                        columns: 4,
                        placeholder: 'Select Bricks',
                        texts: {
                            selectAll: '(un)select all',
                            unselectAll: '(un)select all',
                        },
                        search: true,
                        selectAll: true,
                        selectGroup: true,
                        onControlClose: function (element) {
                            ko.viewModel.selectedOptions($(element).val());
                        }
                    });
                },
                update: function (element, valueAccessor) {
                    var options = ko.utils.unwrapObservable(valueAccessor());

                    $(element).multiselect('reload');
                    $(element).multiselect('loadOptions', options);
                    ko.viewModel.selectedOptions($(element).val());
                }
            };
            ko.applyBindings(ko.viewModel);
        });
</script>

@await Html.PartialAsync("~/Views/Shared/_StatisticsMenu.cshtml")

<div class="row ela-row">
    <div class="column">
        <h3>Brick and Tool Usage</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="filter" class="right inline">Used in:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="filter" data-bind="foreach: timespanFilters, value: selectedTimespanFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="filter" class="right inline">Document Type:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="documentTypeToInclude" data-bind="foreach: documentTypes, value: selectedDocumentTypeFilter">
            <option data-bind="text: displayName, enable: !isCategory, value: guid,
                    style: { fontWeight: isCategory ? 'bold' : 'normal' }"></option>
        </select>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <img id="brickUsageProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div id="brickUsageChartContainer">
            <canvas id="brickUsageChart"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Bricks and Tools Used (over time)</h3>
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="filter" class="right inline">Time span:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select data-bind="foreach: monthsFilters, value: selectedMonthFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="filter" class="right inline">Document Type:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="documentTypeToIncludeHistory" data-bind="foreach: documentTypes, value: selectedDocumentTypeHistoryFilter">
            <option data-bind="text: displayName, enable: !isCategory, value: guid,
                    style: { fontWeight: isCategory ? 'bold' : 'normal' }"></option>
        </select>
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="filter" class="right inline">Bricks to include:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="bricksToInclude" data-bind="multiselect: options" multiple></select>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <img id="brickUsageHistoryProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 800px; margin-bottom: 20px;">
            <p id="brickUsageHistoryChartNoData" style="font-weight: bold; font-size: 1.2rem; color: #303030; text-align: center;"></p>
            <canvas id="brickUsageHistoryChart"></canvas>
        </div>
    </div>
</div>