@{
    ViewBag.Title = "Customisation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

<script>
    require(["../dist/chart.js/chart.umd.js", "Statistics/CustomisationStatistics"],
        // ReSharper disable once InconsistentNaming
        function (Chart, CustomisationStatistics) {
            ko.applyBindings(new CustomisationStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart));

        });
</script>

@await Html.PartialAsync("~/Views/Shared/_StatisticsMenu.cshtml")

<div class="row ela-row">
    <div class="column">
        <h3>Customisation and Options</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="filter" class="right inline">Include users logged in during*:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="filter" data-bind="foreach: monthsFilters, value: selectedMonthsFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>

<div class="row ela-row">
    <div class="column medium-4">
        <h4>Customer Experience Program</h4>
        <img id="cepChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="cepChart"></canvas>
        </div>
    </div>
    <div class="column medium-4">
        <h4>Color Scheme</h4>
        <img id="colorSchemeChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="colorSchemeChart"></canvas>
        </div>
    </div>
    <div class="column medium-4">
        <h4>Styles Box</h4>
        <img id="stylesBoxChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="stylesBoxChart"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column medium-6">
        <h4>Default Bricks: Modified Document Models</h4>
        <img id="defaultBricksChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="defaultBricksChart"></canvas>
        </div>
    </div>
    <div class="column medium-6">
    </div>
</div>

<div class="row ela-row">
    <div class="column medium-6">
        <h4>Default Bricks: Added</h4>
        <img id="addedDefaultBricksChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="addedDefaultBricksChart"></canvas>
        </div>
    </div>
    <div class="column medium-6">
        <h4>Default Bricks: Removed</h4>
        <img id="removedDefaultBricksChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="removedDefaultBricksChart"></canvas>
        </div>
    </div>
</div>

<div class="column">
    <p>
        <label>
            * the statistics considers users having a device logged in during a certain period of time.<br />
            It is based on the field <em>LastLogin</em> of the table <em>DeviceSettings</em>.<br />
            A device's <em>LastLogin</em> is updated whenever the device used DataSync in regular mode (not in mini-mode).
        </label>
    </p>
</div>