@{
    ViewBag.Title = "Custom Bricks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

<script>
    require(["../dist/chart.js/chart.umd.js", "Statistics/CustomBricksStatistics"],
    // ReSharper disable once InconsistentNaming
    function (Chart, CustomBricksStatistics) {
        ko.applyBindings(new CustomBricksStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart));
    });
</script>

@await Html.PartialAsync("~/Views/Shared/_StatisticsMenu.cshtml")

<div class="row ela-row">
    <div class="column">
        <h3>Custom Bricks</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="filter" class="right inline">Include users logged in during*:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="filter" data-bind="foreach: monthsFilters, value: selectedMonthsFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h4>Usage</h4>
        <img id="usageChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 300px; margin-bottom: 20px;">
            <canvas id="usageChart" style="margin: auto; display: block;"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h4>Count per User</h4>
        <img id="countPerUserChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 500px; margin-bottom: 20px;">
            <canvas id="countPerUserChart"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h4>Size per User</h4>
        <img id="sizePerUserChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 500px; margin-bottom: 20px;">
            <canvas id="sizePerUserChart"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <p>
            <label>
                * the statistics considers users having a device logged in during a certain period of time.<br />
                It is based on the field <em>LastLogin</em> of the table <em>DeviceSettings</em>.<br />
                A device's <em>LastLogin</em> is updated whenever the device used DataSync in regular mode (not in mini-mode).
            </label>
        </p>
    </div>
</div>