@{
    ViewBag.Title = "Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

<script>
    require(["../dist/chart.js/chart.umd.js", "Statistics/DevicesStatistics"],
        // ReSharper disable once InconsistentNaming
        function (Chart, DeviceStatistics) {
            ko.applyBindings(new DeviceStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart));

        });
</script>

@await Html.PartialAsync("~/Views/Shared/_StatisticsMenu.cshtml")

<div class="row ela-row">
    <div class="column">
        <h3>Devices and Installations</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="filter" class="right inline">Include devices logged in during*:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="filter" data-bind="foreach: monthsFilters, value: selectedMonthsFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>
<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="filterDevices" class="right inline">Devices to include:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="filterDevices" data-bind="foreach: devicesFilter, value: selectedDevicesFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>


<div class="row ela-row">
    <div class="large-4 columns">
        <h4>Initialisation Status</h4>
        <img id="initStatusChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="initStatusChart"></canvas>
        </div>
    </div>
    <div class="large-4 columns">
        <h4>Installed Versions, by Version</h4>
        <img id="versionsCountProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="versionsCountChart"></canvas>
        </div>
    </div>
    <div class="large-4 columns">
        <h4>Device Owners</h4>
        <img id="deviceOwnersProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 400px; margin-bottom: 20px;">
            <canvas id="deviceOwnersChart"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h4>Installed Versions, by Version and Owner</h4>
        <img id="versionsProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 600px; margin-bottom: 20px;">
            <canvas id="versionsChart"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <p>
            <label>
                * the statistics considers devices logged in during a certain period of time.<br />
                It is based on the field <em>LastLogin</em> of the table <em>DeviceSettings</em>.<br />
                A device's <em>LastLogin</em> is updated whenever the device used DataSync in regular mode (not in mini-mode).
            </label>
        </p>
        <p>
            <label>
                ** The device owner is taken from the Windows variable EC_USER_DG of the device. It is not related the Eurolook orga chart.
            </label>
        </p>
    </div>
</div>