@{
    ViewBag.Title = "Document Usage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

<script>
    require(["../dist/chart.js/chart.umd.js", "Statistics/DocumentUsageStatistics"],
    // ReSharper disable once InconsistentNaming
    function (Chart, DocumentUsageStatistics) {
        ko.applyBindings(new DocumentUsageStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart));
    });
</script>
@await Html.PartialAsync("~/Views/Shared/_StatisticsMenu.cshtml")


<div class="row ela-row">
    <div class="column">
        <h3>Documents Created (over time)</h3>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <select data-bind="foreach: monthsFilters, value: selectedFilterHistory">
            <option data-bind="text: displayName, value: value"></option>
        </select>
        <img id="documentCreationHistoryProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt=""/>
        <div style="height: 800px; margin-bottom: 20px;">
            <canvas id="documentCreationHistoryChart"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Documents Created (by documents)</h3>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <select data-bind="foreach: timespanFilters, value: selectedFilterByDocument">
            <option data-bind="text: displayName, value: value"></option>
        </select>
        <img id="documentCreationProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt=""/>
        <div style="height: 800px; margin-bottom: 20px;">
            <canvas id="documentCreationChart"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Documents Created (by entity)</h3>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <select data-bind="foreach: timespanFilters, value: selectedFilterByEntity">
            <option data-bind="text: displayName, value: value"></option>
        </select>
        <img id="documentCreationByEntityProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt=""/>
        <div style="height: 800px; margin-bottom: 20px;">
            <canvas id="documentCreationByEntityChart"></canvas>
        </div>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <p>(shows only the first <span data-bind="text: chartDataLimit"></span> entries)</p>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Documents Created (by DGs)</h3>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <select data-bind="foreach: timespanFilters, value: selectedFilterByDg">
            <option data-bind="text: displayName, value: value"></option>
        </select>
        <img id="documentCreationByDgProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt=""/>
        <div style="height: 800px; margin-bottom: 20px;">
            <canvas id="documentCreationByDgChart"></canvas>
        </div>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <p>(shows only the first <span data-bind="text: chartDataLimit"></span> entries)</p>
    </div>
</div>