@{
    ViewBag.Title = "Help Pages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

<script>
    require(["../dist/chart.js/chart.umd.js", "Statistics/HelpStatistics"],
    // ReSharper disable once InconsistentNaming
    function (Chart, HelpStatistics) {
        ko.applyBindings(new HelpStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart));
    });
</script>

@await Html.PartialAsync("~/Views/Shared/_StatisticsMenu.cshtml")

<div class="row ela-row">
    <div class="column">
        <h3>Help pages</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <select data-bind="foreach: monthsFilters, value: selectedMonthsFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h4>Help Pages (Top 40)</h4>
        <img id="helpPagesChartProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 1000px; margin-bottom: 20px;">
            <canvas id="helpPagesChart"></canvas>
        </div>
    </div>
</div>
