@{
    ViewBag.Title = "TemplateStore Usage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

<script>
    require(["../dist/chart.js/chart.umd.js", "Statistics/TemplateStoreUsageStatistics"],
    // ReSharper disable once InconsistentNaming
    function (Chart, TemplateStoreUsageStatistics) {
        ko.applyBindings(new TemplateStoreUsageStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart));
    });
</script>
@await Html.PartialAsync("~/Views/Shared/_StatisticsMenu.cshtml")


<div class="row ela-row">
    <div class="column">
        <h3>Top 15 Most Used Template Store Templates</h3>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <select data-bind="foreach: timespanFilters, value: selectedFilterByDocument">
            <option data-bind="text: displayName, value: value"></option>
        </select>
        <img id="templateCreationProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 800px; margin-bottom: 20px;">
            <canvas id="templateCreationChart"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Template Store Documents Created by Base Document Model</h3>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <select data-bind="foreach: timespanFilters, value: selectedFilterByDocumentModel">
            <option data-bind="text: displayName, value: value"></option>
        </select>
        <img id="templateCreationDMProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 800px; margin-bottom: 20px;">
            <canvas id="templateCreationDMChart"></canvas>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h3>Template Store Documents Created per DG</h3>
    </div>
</div>
<div class="row ela-row">
    <div class="column">
        <select data-bind="foreach: timespanFilters, value: selectedFilterByDG">
            <option data-bind="text: displayName, value: value"></option>
        </select>
        <img id="templateCreationDGProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 800px; margin-bottom: 20px;">
            <canvas id="templateCreationDGChart"></canvas>
        </div>
    </div>
</div>
