@use "sass:math";

$sidebar-width: 200;
$page-margin: 74;
$tile-width: 205;
$tile-width-small: math.div($tile-width*2,3)-6;
$tile-gap: 16;
$page-width-s: 2*$tile-width+1*$tile-gap;
$page-width-m: 3*$tile-width+2*$tile-gap;
$page-width-l: 4*$tile-width+3*$tile-gap;
$page-width-xl: 6*$tile-width+5*$tile-gap;
$breakpoint-s: $sidebar-width + $page-margin + $page-width-s;
$breakpoint-m: $sidebar-width + $page-margin + $page-width-m;
$breakpoint-l: $sidebar-width + $page-margin + $page-width-l;
$breakpoint-xl: $sidebar-width + $page-margin + $page-width-xl;

$primary-color: #0072C6;
$primary-color-accent: lighten($primary-color, 10%);
$primary-border-color: #80B9E3;

$secondary-color: #f0f0f0;
$secondary-color-accent: lighten($secondary-color, 4%);
$secondary-border-color: #acacac;

$sidebar-color: #00819D;
$sidebar-color-accent: lighten($sidebar-color, 4%);

$tile-badge-color: $sidebar-color;
$tile-badge-background-color: #CFE7ED;

$green-highlight: #68AC50;
$red-highlight: #D26565;


