@import 'colors.scss';

/* Provide sufficient contrast against white background */
a {
    color: #0072C6;
}

code {
  color: #E01A76;
}

.modal-content {
  border-radius: 0;
}

input.form-control {
  border-radius: 0;
  height: 30px;
  border-color: $secondary-border-color;
}

input[type=checkbox].form-check-input {
  border-radius: 0;
  height: 1.2em;
  width: 1.2em;
}

.form-check-input:checked {
  background-color: $primary-color;
  border-color: $primary-color;
}

.link-button {
  color: $primary-color;
  background: transparent;
  border: 0;

  &:focus {
    color: $primary-color;
    background-color: transparent;
  }

  &:hover, &:not(:disabled):not(.disabled):active {
    border: 0 solid $secondary-color;
    color: $primary-color;
    background-color: $secondary-color;
    transition: .5s ease;
  }

  &:disabled {
    opacity: 1;
    color: $primary-color;
    background-color: transparent;
  }

  svg {
    margin-right: 4px;
    vertical-align: top;

    path {
      fill: $primary-color;
    }
  }
}

.react-tooltip {
  background-color: $primary-color !important;
  border: 0;
  border-radius: 0;
  max-width: 400px;

  &.place-top {
    &:after {
      border-top-color: $primary-color !important;
      border-top-style: solid !important;
      border-top-width: 6px !important;
    }
  }
}

.error {
  color: $red-highlight;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.alert {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 6px;
    padding: 8px;
}

.alert-info {
    color: $tile-badge-color;
    background-color: $tile-badge-background-color;
}

.hidden {
    display: none;
}

.Toastify__toast--success {
  background-color: $green-highlight;
}

.Toastify__toast--error {
  background-color: $red-highlight;
}

.toast-container {
  padding: 12px 20px 12px 20px;
  min-height: 20px;
  font-family: Segoe UI;
  font-size: 14px;

  button.Toastify__close-button {
    display: none;
/*    margin-left: 20px;*/
  }
}
