@{
    ViewBag.Title = "Client Performance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {

    <script src="/Scripts/require.js"></script>
}

    <script>
    require(["../dist/chart.js/chart.umd.js", "Performance/ClientsStatistics"],
        // ReSharper disable once InconsistentNaming
        function (Chart, ClientsStatistics) {
            ko.applyBindings(new ClientsStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart));

        });
    </script>


@await Html.PartialAsync("~/Views/Shared/_PerformanceMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h3>Client Performance</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="monthFilter" class="right inline">Show performance statistics for:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="monthFilter" data-bind="foreach: monthsFilters, value: selectedMonthsFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h4>Add-In loading time</h4>
        <img id="addInLoadedProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 500px; margin-bottom: 40px;">
            <canvas id="addInLoadedChart"></canvas>
        </div>
        <div  style="height: 500px; margin-bottom: 40px;">
            <canvas id="addInLoadedDetailsChart"></canvas>
        </div>
        <div class="column">
            <p><label>* median over the weekly average Addin loading time on all devices using this version.</label></p>
            <p><label>** median over the weekly average Addin loading time on the fastest 25% / slowest 15% of devices using this version.</label></p>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h4>Creation Dialog loading time</h4>
        <img id="creationDialogLoadedProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 500px; margin-bottom: 40px;">
            <canvas id="creationDialogLoadedChart"></canvas>
        </div>
        <div style="height: 500px; margin-bottom: 40px;">
            <canvas id="creationDialogLoadedDetailsChart"></canvas>
        </div>
        <div class="column">
            <p><label>* median over the weekly average Addin loading time on all devices using this version.</label></p>
            <p><label>** median over the weekly average Addin loading time on the fastest 25% / slowest 15% of devices using this version.</label></p>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h4>Duration of Document Creation</h4>
        <img id="documentCreatedProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 500px; margin-bottom: 40px;">
            <canvas id="documentCreatedChart"></canvas>
        </div>
        <div style="height: 500px; margin-bottom: 40px;">
            <canvas id="documentCreatedDetailsChart"></canvas>
        </div>
        <div class="column">
            <p><label>* median over the weekly average duration of document creation on all devices using this version.</label></p>
            <p><label>** median over the weekly average duration of document creation on the fastest 25% / slowest 15% of devices using this version.</label></p>
        </div>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h4>Duration of DataSync</h4>
        <img id="dataSyncFinishedProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 500px; margin-bottom: 40px;">
            <canvas id="dataSyncFinishedChart"></canvas>
        </div>
        <div style="height: 500px; margin-bottom: 40px;">
            <canvas id="dataSyncFinishedDetailsChart"></canvas>
        </div>
        <div class="column">
            <p><label>* median over the weekly average duration of a Data Sync loading time on all devices using this version.</label></p>
            <p><label>** median over the weekly average duration of a Data Sync on the fastest 25% / slowest 15% of devices using this version.</label></p>
        </div>
    </div>
</div>