@{
    ViewBag.Title = "Server Performance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <script src="/Scripts/require.js"></script>
}

    <script>
    require(["../dist/chart.js/chart.umd.js",  "Performance/ServersStatistics"],
        // ReSharper disable once InconsistentNaming
        function (Chart, ClientsStatistics) {
            ko.applyBindings(new ClientsStatistics('@ViewBag.BaseUrl', '@ViewBag.IsReadOnlyMode', Chart));

        });
    </script>


@await Html.PartialAsync("~/Views/Shared/_PerformanceMenu.cshtml")

<div class="row ela-row ela-content-header">
    <div class="column">
        <h3>Server Performance</h3>
    </div>
</div>

<div class="row ela-row">
    <div class="medium-3 large-2 columns">
        <label for="monthFilter" class="right inline">Show performance statistics for:</label>
    </div>
    <div class="medium-9 large-10 columns">
        <select id="monthFilter" data-bind="foreach: monthsFilters, value: selectedMonthsFilter">
            <option data-bind="text: displayName, value: value"></option>
        </select>
    </div>
</div>

<div class="row ela-row">
    <div class="column">
        <h4>Duration of Initialization</h4>
        <img id="serverInitializationProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 500px; margin-bottom: 40px;">
            <canvas id="serverInitializationChart"></canvas>
        </div>
        <div class="column">
            <p><label>* daily / weekly average duration of the Initializiation process using this version.</label></p>
        </div>
    </div>
</div>


<div class="row ela-row">
    <div class="column">
        <h4>Duration of GetUserProfiles</h4>
        <img id="serverGetUserProfileProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 500px; margin-bottom: 40px;">
            <canvas id="serverGetUserProfileChart"></canvas>
        </div>
        <div class="column">
            <p><label>* daily / weekly average duration of GetUserProfile using this version.</label></p>
        </div>
    </div>
</div>


<div class="row ela-row">
    <div class="column">
        <h4>Duration of GetUpdates</h4>
        <img id="serverGetUpdatesProgressBar" src='@Url.Content("~/Images/ajax-loader.gif")' class="progress" alt="" />
        <div style="height: 500px; margin-bottom: 40px;">
            <canvas id="serverGetUpdatesChart"></canvas>
        </div>
        <div class="column">
            <p><label>* daily / weekly average duration of GetUpdates using this version.</label></p>
        </div>
    </div>
</div>